[2021-07-08 12:04] renecannao commented on #3362
Hi @krunde-nextpoint . PR #3515 should solve this .
Closing.
And thank you for the report

[2021-07-08 12:04] #3362 closed, assigned to nobody

[2021-07-08 14:14] renecannao commented on #3338
Hi @Pavel-M-2020 .
You have at least 2 issues in your configuration.
1. rule 12 matches everything, and it has `apply=1` , therefore rule 100 will *never* be processed
2. even if you move rule 100 before rule 12 , the regex in `match_pattern` is incorrect: you have a ` ` (space) and `.*` after `InnoDB` , therefore it will not be able to match the query. You must least lease remove the space.

@ncs

[2021-07-08 14:15] #3338 closed, assigned to nobody

[2021-07-08 17:17] renecannao commented on #3338
@ncstate-mafields :

I can also suggest to add the following rule:

[code]

[2021-07-08 17:38] renecannao commented on #3323
Hi @egezonberisha , @emusickid .

I am getting back on this, but I don't seem to be able to reproduce it.
I suspect it is some misconfiguration .
Please attach the full error log, and the configuration (all the query rules).

Please also note that `set session wait_timeout` is handled by proxysql as a session variable, thus not forward to any specific server.

Thanks

[2021-07-08 18:08] renecannao commented on #3307
Hi @bc-ashokmahajan .
Thank you for the report.
I analyzed the error log, following the status of one of the server : 10.133.0.81:3306

After the initial proxysql start, this is what happens with this server:
[code]

`read_only` check is failing.
Because of this, proxysql removes it from the writer hostgroup:
[code]
and moves it to the reader hostgroup:
[code]
It then continues running checks on t

[2021-07-08 18:08] #3307 closed, assigned to nobody

[2021-07-08 18:11] renecannao commented on #3484
Closing this, the fix is already merged.
Thank you for the report

[2021-07-08 18:11] #3484 closed, assigned to JavierJF

[2021-07-08 18:29] renecannao commented on #3470
Hi @gercorri .
I am sorry to read about your issue.
I reviewed the log, and I have some comments.
First, you are running 2.0.12.
Users have reported several issues with Aurora, and now fixed.
For example, https://github.com/sysown/proxysql/issues/3082 is fixed in 2.0.16 .
The next release of proxysql (not released yet) will have few more fixes for what seems Aurora bugs: https://github.com/sysown/

[2021-07-08 18:31] renecannao commented on #3173
`stats_mysql_users` and `stats_mysql_processlist` .

[2021-07-08 18:38] #3143 closed, assigned to nobody

[2021-07-08 18:38] renecannao commented on #3093
Closing as fixed now

[2021-07-08 18:38] #3093 closed, assigned to nobody

[2021-07-08 18:51] renecannao commented on #3089
In ProxySQL 2.0.14 at commit https://github.com/sysown/proxysql/commit/94506be5731dd64d315f4f30505dab7d36bff735 we introduced a new variable : `mysql-connect_timeout_client` .
Before 2.0.14 , a client could initialize a connection to proxysql, and proxysql would allow the client to not complete the connection (wait indefinitively) .
Since 2.0.14 the connection needs to be fully established within

[2021-07-08 18:51] #3089 closed, assigned to nobody

[2021-07-09 10:28] keuko opened #3517 "Bullseye packages not available"
Hi Rene,

When will bullseye packages be available ? Bullseye is in full freeze in few days, could you start to provide bullseye packages ?

Thanks,
Michal Arbet (kevko)

[2021-07-09 15:05] JavierJF commented on #3509
This is done.

[2021-07-09 15:05] #3509 closed, assigned to JavierJF

[2021-07-09 18:52] drequivalent commented on #3462
Also, there's tools that work with logs like fail2ban. And I can't point fail2ban to a directory.

[2021-07-10 22:16] ajs124 opened #3518 "update checker security issue(s)"
We are evaluating a deployment of proxysql and I was skimming parts of the source code for that reason.
What I found was that your update check intentionally disables TLS certificate verification: https://github.com/sysown/proxysql/blob/bd3e96a015da802320beb2ba96b0270cf00cb28e/src/main.cpp#L204
which already isn't ideal, but proxysql also vendors a version of curl (7.57.0) from four years ago and

[2021-07-12 04:53] bskllzh opened #3520 "Incorrect log printing in the monitor_group_replication_thread func"
proxysql 2.x version
  (1) line number 1545 of MySQL_Monitor.cpp file, Incorrect log printing:

if (mmsd->mysql_error_msg) {
if (strncasecmp(mmsd->mysql_error_msg, (char *)"timeout", 7) == 0) {
num_timeouts=node->get_timeout_count();
proxy_warning("%s:%d : group replication health check timeout count %d. Max threshold %d.\n",
mmsd->hostname, mmsd->port, num_timeouts, mmsd->max_transactions_behind_

[2021-07-12 20:12] kashak88 opened #3522 "AWS Aurora issues while testing PR3515"
https://github.com/sysown/proxysql/pull/3515
ec2 ubuntu 20
ProxySQL version 2.2.0-106-gdc22217
aurora mysql 2.10.0
instance-1 = original writer (ip-172-16-0-243)
instance-0 = original reader (ip-172-16-2-114)
new-reader = additional reader (ip-172-16-3-30)

[code]

Hello, while testing the new fixes on PR 3515, I've noticed a couple of issues:
**Scenario 1**
1) Removed .db files and then restartin

[2021-07-13 03:24] #3482 closed, assigned to nobody

[2021-07-13 07:04] hos-khosravi-r commented on #2849
I had the same problem. I finally found out that the mysql instance in the writer group had the GLOBAL read_only set to true. I just ran this on that mysql instance and it worked fine:
mysql> SET GLOBAL read_only = ON;
After this, I went back to proxysql, added this mysql instance again into mysql_servers (under writer group), then loaded into runtime, like this:
mysql> INSERT INTO mysql_servers(h

[2021-07-13 10:02] renecannao commented on #3518
Hi @ajs124 .
Thank you for the report. PR #3523 addresses both reported issues.
Thanks

[2021-07-13 10:14] #3506 closed, assigned to nobody

[2021-07-13 10:17] renecannao commented on #3477
I think @hydgladiator refers to Query Logging:
https://proxysql.com/documentation/query-logging/

I think this is a reasonable feature request, we should have a way of deleting those files directly from Admin

[2021-07-13 10:20] renecannao commented on #3240
Note that this is a Percona Server bug: https://jira.percona.com/browse/PXC-3626
It seems @JavierJF forgot to cross reference it here.
If you are affected by this issue, I would recommend to comment on Percona bug tracking system at https://jira.percona.com/browse/PXC-3626 .
Thanks

[2021-07-13 10:50] #3518 closed, assigned to renecannao

[2021-07-13 18:26] dasJ commented on #3235
This also happens with regular Icingaweb since version 2.9.0 on ProxySQL 2.2.0.

Wireshark shows this packet:

![image](https://user-images.githubusercontent.com/4971975/125505476-e9f6aed6-3d94-4992-976c-c5e3bb8fb8c0.png)

Which gets a Response Error 1298 from ProxySQL

[2021-07-14 09:30] JavierJF commented on #3510
This is done.

[2021-07-14 09:30] #3510 closed, assigned to nobody

[2021-07-14 11:49] AngelVilardell opened #3525 "Proxysql 2.0.12: jemalloc retains memory"
Hello!
I've been struggling to identify if I have a memory leak in our proxysql environment:
We have 3 c5.large EC2 instances (2 CPUs and 4GB RAM) with Amazon Linux release 2 (Karoo) wich memory keeps growing and eventually proxysql crashes, freeing the memory and starting again.
We keep all three nodes maintained by ansible, and we installed package https://github.com/sysown/proxysql/releases/dow

[2021-07-14 12:15] renecannao commented on #3525
Hi.
Do you have the profiling files?
This should help identify where the memory is being used.

Also, please attach the output of `SELECT * FROM stats_mysql_global`.

Thanks

[2021-07-14 12:22] AngelVilardell commented on #3525
Hello Rene,

sure, i attach both things:

[proxysq_mysql_global.txt](https://github.com/sysown/proxysql/files/6815946/proxysq_mysql_global.txt)
[proxysql_heap.txt](https://github.com/sysown/proxysql/files/6815947/proxysql_heap.txt)
[proxysql_heap2.txt](https://github.com/sysown/proxysql/files/6815951/proxysql_heap2.txt)

Thanks!

[2021-07-14 14:28] gmccue commented on #3418
@renecannao do you have any details on the root cause here? Is there any known issues with using proxysql behind an NLB?

[2021-07-15 11:50] r0van commented on #3502
Hi, try upgrade to latest version (2.2.0), can be related to https://github.com/sysown/proxysql/issues/3475

[2021-07-16 15:42] denishpatel commented on #2748
@renecannao We traced the traffic between proxysql cluster node and read traffic over port 6032 using tcpdump ..
`tcpdump --interface=eth0 -n host 172.10.10.10 and port 6032 -w packet-dump.pcap`

We are still seeing plain password in tcp packets..

` strings packet-dump.pcap | more`

`testing)*BF9296EEredactredact07CB27^A1^A0^A1^Gtesting^A0^A1^A0^A0^A1^E10000^@^@_^@^@7^V`

[2021-07-19 02:16] yiyulinfeng commented on #1600
2021-07-19 10:15:42 MySQL_Session.cpp:1481:handler_again___status_PINGING_SERVER(): [ERROR] Detected a broken connection during ping on (30,10.192.168.22,3307) , FD (Conn:111 , MyDS:111) : 4031, The client was disconnected by the server because of inactivity. See wait_timeout and interactive_timeout for configuring this behavior.

[2021-07-19 02:19] yiyulinfeng commented on #1600
In proxysql.log too much this error,if I connect through proxysql,

[2021-07-19 02:25] yiyulinfeng commented on #1600
**In proxysql.log too much this error,if I connect through proxysql,**
**the client shows**
mysql> select * from performance_schema.replication_group_members;
ERROR 4031 (HY000): The client was disconnected by the server because of inactivity. See wait_timeout and interactive_timeout for configuring this behavior.

**the proxysql.log shows**
021-07-19 10:00:41 MySQL_Session.cpp:1481:handler_again_

[2021-07-19 02:27] yiyulinfeng commented on #1600
**There is  to many error In proxysql.log ,if I connect through proxysql,**
**the client shows**
mysql> select * from performance_schema.replication_group_members;
ERROR 4031 (HY000): The client was disconnected by the server because of inactivity. See wait_timeout and interactive_timeout for configuring this behavior.

**the proxysql.log shows**
2021-07-19 10:02:48 MySQL_Session.cpp:4014:handler_

[2021-07-20 07:36] AngelVilardell commented on #3525
Hello,
any update on this issue @renecannao? I added another node to the existing cluster to see if memory increases slower, but it increases at the same rate (10% per day).
If you need more information let me know.
Thanks.

[2021-07-20 12:27] EagleEyeJohn commented on #3500
Our ProxySQL instances are remote from our clients but we're able to get around the problem by performing a `SELECT @@hostname` via ProxySQL to discover the MySQL source host, which we then connect to directly (bypassing ProxySQL) in order to run our `LOAD DATA LOCAL INFILE` commands.

Once we're able to mount a NAS device to both ProxySQL and our client instances (thus making the filesystem appea

[2021-07-20 15:53] JavierJF commented on #3502
Hi @CyberLine,

after further investigation on the coredump you provided and the related issues #2460, #3103 and #2898. We have determined the cause of the issue. I'm going to post the full explanation of it, and a reproduction guide as context information for the future.

- [x] ProxySQL version

Reproduced in:

- v2.1.1
- v2.x (bd703d4ea84e768eb1bdb6c6d5e82d59d428ba19)

- [x] OS version

- Debian

[2021-07-20 17:08] denishpatel opened #3528 "Is there a way to force SSL for admin user used for ProxySQL cluster?"
Is there a way to enforce SSL on admin-interface for cluster user?   by setting mysql-have_ssl=true, admin interface prefer SSL but --ssl-mode=disabled still allow to make connection on admin interface over port 6032.

[2021-07-20 22:16] JavierJF commented on #3502
Hi @CyberLine,

after further investigation on the coredump you provided and the related issues #2460, #3103 and #2898.
We have determined the cause of the issue. I'm going to post the full explanation of it, and
a reproduction guide as context information for the future.

- [x] ProxySQL version

Reproduced in:

- v2.1.1 v2.x (bd703d4ea84e768eb1bdb6c6d5e82d59d428ba19)

- [x] OS version

- Debian 1

[2021-07-21 02:07] Fanduzi commented on #2885
@renecannao @JavierJF could you help with this issue?

[2021-07-21 02:59] zhituanchen opened #3530 "proxysql cluster , insert user to mysql_users table on none node, but cluster data is not the same"
Hello!
  There is a proxysql cluster , whent i insert user to mysql_users table on none node, but cluster data is not the same;
cluster1:
admin>insert into mysql_users (username,password,default_hostgroup) values ('proxysql','Nfjd_1234',10);
Query OK, 1 row affected (0.00 sec)
admin>load mysql users to runtime;
Query OK, 0 rows affected (0.00 sec)
admin>save mysql users to disk;
Query OK, 0 rows a

[2021-07-21 04:22] bdgca-wjp opened #3531 "Change `mysql-server_version` fail"
- ProxySQL version: 2.2.0-72-ge14accd, codename  Truls
- OS version: Ubuntu 20.04 LTS

I change `mysql-server_version` from the default value `5.5.30` to `8.0.25` . Befor proxysql restart, it seme well. But if restart the proxysql, the change will be loss.
After the value change and befor proxysql restart, i check the proxysql.db, the value  `mysql-server_version` is `5.5.30` still.
I have tow ser

[2021-07-21 09:21] #3363 closed, assigned to nobody

[2021-07-21 13:22] Fanduzi opened #3532 "Query stats_mysql_commands_counters increase sql response time"
## Monitor queries stats_mysql_commands_counters table causing increased sql response time
we use [percona monitor and management](https://www.percona.com/doc/percona-monitoring-and-management/2.x/index.html) to monitor our mysql and proxysql, we found that if we [enable collector query stats_mysql_commands_counters](https://github.com/percona/proxysql_exporter/blob/2e0ce248ae8c9330532842c89488950

[2021-07-23 12:31] keuko opened #3534 "SET GLOBAL `log_bin_trust_function_creators` probably not implemented"
Hi,

We are using proxysql with openstack deployed by kolla-ansible and they are using  SET GLOBAL `log_bin_trust_function_creators`  while upgrading, but it seems proxysql don't know what to do with this SET GLOBAL ..

Am i right ? Can be this fixed please ?

2021-07-23 12:21:51 MySQL_Thread.cpp:3422:process_all_sessions(): [WARNING] Closing unhealthy client connection 192.168.205.11:35452
2021-0

[2021-07-23 12:33] beebol opened #3535 "The first query after autocommit is false has no transactions"
ProxySQL:
2.0.17

configuration:
[code]

SQL:
[code]

general_log:
[code]

[2021-07-23 12:59] renecannao commented on #3535
Hi @beebol .
This behaviour is controlled by `mysql-enforce_autocommit_on_reads` .
A lot of applications (or ORMs) run all queries inside a transaction while there is no need for it, thus  `mysql-enforce_autocommit_on_reads` is off by default.

[2021-07-23 13:14] renecannao commented on #3534
Hi @keuko .
Thank you for the report.
This is likely not a problem affecting your application, because it simply means that all queries executed after `SET GLOBAL log_bin_trust_function_creators` are running on the same backend connection, and that seems ok during an upgrade process.
You can force proxysql to re-enable multiplexing adding a query rule that keeps multiplexing enabled for `SET GLOBA

[2021-07-23 13:22] gmelikov commented on #3091
@renecannao maybe you have some thoughts what can lead to same errors? Connections randomly use wrong database, looks like some connection problems raise such a nightmare. It's not persistent, looks like some network/non-graceful connection's close triggers it.

[2021-07-23 15:43] JavierJF commented on #3500
Hi @EagleEyeJohn,

by your comment I think that maybe there is a misunderstanding, the new variable `enable_load_data_local_infile` doesn't add support for `LOAD DATA LOCAL INFILE` what it actually does is:

1. **Allow** `LOAD DATA LOCAL INFILE` to be issued by the client.
2. Prints a warning in ProxySQL error log, informing that the received query `LOAD DATA LOCAL INFILE` is referring to the file

[2021-07-24 11:01] JavierJF commented on #3531
Hi @bkzy-wangjp,

`mysql-server_version` is a `mysql` variable, you can distinguish between `admin` and `mysql` variable by their names. So, instead of:
[code]

you should be really doing:

[code]

Full operation:

[code]

[2021-07-24 11:01] #3531 closed, assigned to nobody

[2021-07-24 11:37] JavierJF commented on #3329
This issue was fixed in v2.1.1 via #3286. Closing.

[2021-07-24 11:37] #3329 closed, assigned to JavierJF

[2021-07-24 11:42] JavierJF commented on #2923
This issue affects a very old ProxySQL version, and doesn't follow the issue template. Closing it.

[2021-07-24 11:42] #2923 closed, assigned to nobody

[2021-07-24 13:36] JavierJF opened #3536 "Fix tap test 'reg_test_3223-restapi_return_codes-t' spurious failure in CI"
- [x] A clear description of the issue

CI run `1278` failed with the following output for test 'reg_test_3223-restapi_return_codes-t':

[code]

Since error code from the petition is `0`, and the complete error message is ` 'Couldn't connect to server'` and since ProxySQL log is clear for the time around the issue:

[code]

it suggests that maybe ProxySQL was still enabling the RESTAPI server when

[2021-07-26 14:06] Plissmile opened #3538 "How to find the reason why the read QPS of a Go web application is worse while using proxysql and mgr to replace master-master architecture?"
**Issue:** How to find the reason why the **read QPS** of a Go web application is **worse** while using proxysql and mgr to replace master-master architecture? (However, the read qps of **sysbench** is **much better** while using proxysql and mgr to replace master-master)
**test setting**: use jmeter to test, 3k~1.2w threads, 300w http requests
**Max Read QPS**:
1.  using proxysql and mgr(1 write

[2021-07-27 10:11] #3508 closed, assigned to JavierJF

[2021-07-27 10:12] #3500 closed, assigned to JavierJF

[2021-07-27 10:13] #3502 closed, assigned to nobody

[2021-07-27 12:10] JavierJF opened #3539 "Replace manual searches iterating over 'MyHostGroups' in favor of 'MyGHC_find'"
- [x] A clear description of the issue

Right now two manual simple searches are performed iterating over the whole 'MyHostGroups' array, instead of using the optimized 'MyHGC_find':

1. [replication_lag_action](https://github.com/sysown/proxysql/blob/257949f62313c352453c7e6da7462ec9232b7f1c/lib/MySQL_HostGroups_Manager.cpp#L3321)
2. [get_multiple_idle_connections](https://github.com/sysown/proxys

[2021-07-27 13:40] zlcnju commented on #3525
the same problem

[2021-07-27 14:06] David-Choksi opened #3541 "SELECT queries on ProxySQL assign all values to varchar"
I tried the google group forum, but I got a "Content Unavailable" error.

In my code I'm running something like the following:

[code]

The dicts in each user row returned in result, has values with type `varchar`. For example, if I want to check if a user has backend and frontend configs enabled, I have to compare the values to strings:

`if result[0]['backend'] == '1' and result[0]['frontend'] =

[2021-07-28 08:26] beebol commented on #3535
Hi @renecannao.
After set autocommit=0, the first query that follows is not in the primary, but is executed in the slave. From the log, you can see that this query is not in the transaction. How to make this query enter the transaction?

In version 1.4.15, when mysql-forward_autocommit is true, select query after set autocommit=0 is in transaction, but in version 2.0.17, all changes, even if mysql

[2021-07-28 15:04] beka-bolot commented on #2202
I'm new to ProxySQL and having same issues. Can anyone elaborate what does this rule do?

[2021-07-29 12:50] EagleEyeJohn commented on #3500
@JavierJF thank you for the clarification.  That seems to match my understanding.  With both ProxySQL and the remote client both having the access to the same NAS and mounted at the same location on both, the client should be able to issue the `LOAD DATA LOCAL INFILE` referencing a _local_ file and when ProxySQL processes it, the file will again appear _local_ to it.

[2021-07-29 15:39] bskllzh opened #3542 "Incorrect minimum of two parameters"
proxysql version:  v2.x.

The minimum value of the two parameters is incorrect(correct value: 50 ). These parameter is mysql-monitor_groupreplication_healthcheck_interval and mysql-monitor_groupreplication_healthcheck_timeout.

**Reference documents：**

(1)  monitor_groupreplication_healthcheck_interval -- https://proxysql.com/documentation/global-variables/mysql-monitor-variables/#mysql-monitor_g

[2021-07-29 23:34] renecannao commented on #3535
`mysql-forward_autocommit` is deprecated, its logic was complex and prone to errors.
If you want the first read to be part of the transaction, you need to set `mysql-enforce_autocommit_on_reads=true` .

[2021-07-30 01:07] beebol commented on #3535
Hi @renecannao
In the case of separation of read and write, this transaction will be in the slave, not in the primary, which will cause the subsequent write SQL to report read only.

[code]

[code]

[2021-07-30 07:39] JavierJF commented on #3525
Hi @AngelVilardell,

after analyzing the files you provided we have been able to identify a memory leak, that may be the one you are experiencing. For being able to verify that the leak we have identified is the one responsible for the increase of memory usage by your ProxySQL instance we would need the following data from one of the affected instances:

- Full ProxySQL error log.
- Result of runn

[2021-07-30 17:13] AngelVilardell commented on #3525
Hello @JavierJF,
first of all, thanks for your help about this memory issue and for the information about jemalloc.
I attach the proxysql.log and the result of the query, as asked.
If you need anything else, please don't hesitate to ping me.

Thanks!
[proxysql.log](https://github.com/sysown/proxysql/files/6909089/proxysql.log)
[proxysql_stats_mysql_errors.txt](https://github.com/sysown/proxysql/fi

[2021-07-30 18:14] JavierJF commented on #3525
Hello @AngelVilardell,

thanks for the provided data, but I don't see the conditions required to trigger the bug in the data you shared from that instance. Can you tell if this instance suffering the same memory conditions as the others?

If you are not sure, it will help to get the jemalloc reports together with this last data (ProxySQL error log and stats.stats_mysql_errors). If don't have profi

[2021-07-30 19:37] AngelVilardell commented on #3525
Hello @JavierJF,
I'm sure the instance is suffering the same memory conditions as the others. I attach two screenshots to confirm that (you can see that one of the restarted at the very beginning of the graph due to this memory leak).
![Selección_025](https://user-images.githubusercontent.com/71700599/127702918-96bc5723-1e9e-439e-a137-721cde73e738.png)
![Selección_024](https://user-images.githubus

[2021-08-01 04:10] qadqdew commented on #561
I would like to check the number of rows sent for specific query in proxysql. I am using proxysql-1.4.8 & have enabled default eventslog_reader_sample to read the query log which didn't show the rows returned. Any other possibility to check row count ?

[2021-08-02 00:15] joao-teixeira-cvt commented on #3098
Hi @renecannao,
I'm facing the same issue as well and changing fast_forward to 1 for the user used by DMS does not solve the issue. In fact by doing that even a full load doesn't work. Any ideas?
Thanks

[2021-08-02 09:26] balbaev commented on #3525
Have the same issue. ProxySQL version 2.0.15-percona-1.1
[stats_memory_metrics.txt](https://github.com/sysown/proxysql/files/6915869/stats_memory_metrics.txt)
[stats_mysql_global.txt](https://github.com/sysown/proxysql/files/6915874/stats_mysql_global.txt)

[2021-08-03 10:09] balbaev opened #3545 "<jemalloc>: Invalid conf pair: purge:decay"
Seems like [memory leak detection article](https://proxysql.com/documentation/memory-leak-detection/) is outdated.
I'm getting error `<jemalloc>: Invalid conf pair: purge:decay` while providing env variable `MALLOC_CONF="xmalloc:true,lg_tcache_max:16,purge:decay,prof:true,prof_leak:true,lg_prof_sample:18,lg_prof_interval:30"`
And no .heap files are being generated.

ProxySQL version 2.0.15-percona

[2021-08-04 07:17] beebol commented on #3535
Hi @renecannao
to  set `mysql-enforce_autocommit_on_reads=true` ,This transaction will be on the slave, which is not expected.  please tell me.
How to configure the first read to be part of the  transaction(primary, not slave).

[2021-08-04 08:16] JavierJF commented on #3525
Hi @AngelVilardell,

in the data you have provided I have been able to identify several inconsistences regarding the error
counting:

'proxysql_stats_mysql_errors':
[code]

'proxysql.log':

[code]

As you can see there are errors which doens't even appear in the `stats_mysql_errors` table or which counting
doesn't add up. Still, the error rate present in the log is not enough for causing the memor

[2021-08-04 10:08] IT-xiaoge commented on #3535
I also encountered the same problem

[2021-08-04 10:32] renecannao commented on #3535
What are you trying to achieve exactly?
You want the first SELECT to run inside the transaction, but you also configured proxysql to send **all** SELECTs to the replica.
These configurations are clearly conflicting, you can't have both because are they are the opposite of each other

[2021-08-04 10:47] IT-xiaoge commented on #3535
The java spring framework defaults to open the transaction method by set auto comment=0

[2021-08-04 10:51] renecannao commented on #3535
It is still not clear what you want to achieve.
Can you please clarify?

[2021-08-04 16:16] #3541 closed, assigned to nobody

[2021-08-04 16:50] jfavellar90 commented on #3434
@icoldo hi, have you been running version 2.2.0 in the last month with no failures? Do you have modifications in your ProxySQL configuration or is it working with the default configs?

[2021-08-04 16:58] allexivan commented on #3434
Yes. No failures with the default settings and some custom query rules. I also use it with the aws aurora autodiscovery

Regards,
Alex Ivan
On 4 Aug 2021, 19:50 +0300, Jhony Avella ***@***.***>, wrote:

[2021-08-04 17:04] jfavellar90 commented on #948
Hey @rtnpro are you still operating any ProxySQL instance/cluster for Django applications? are you using any specific set of configurations for ProxySQL to support transactions and SAVEPOINTS properly?

[2021-08-04 22:39] Sejcek1 opened #3546 "Frequent ProxySQL crashes since v2.1.x"
Hi @renecannao ,

we found very frequent ProxySQL crashes when we use it with one of our applications. This one seems to differ from our other apps in using of prepaired statements. We performed tests on the model environment with ProxySQL v2.0.17-1 without any problems, but before deployment to production we updated ProxySQL to v2.2.0 and it started to crash very often (even after less than 5 min

[2021-08-05 00:01] renecannao opened #3547 "Missing support for error message at the end of a binary protocol resultset"
If you are submitting a reproducible bug report, please provide:

- [ ] A clear description of the issue

It seems that the description of the formar for binary protocol as a response to COM_STMT_EXECUTE is incorrect in MySQL Documentation:
https://dev.mysql.com/doc/internals/en/com-stmt-execute-response.html
https://dev.mysql.com/doc/internals/en/binary-protocol-resultset.html
Specifically, it st

[2021-08-05 01:08] Plissmile commented on #3538
Well, maybe I have found one of the reasons that affects performance. It may be that a large number of unique prepared statements bring processing overhead. As a result, the prepared statement caching function of proxysql cannot be used.

I did an experiment to verify the impact of prepared statements. When I remove the request id in the comment, such as `/* RequestID: 9ffa831742c2e12d3589eb4b65dc

[2021-08-05 02:16] beebol commented on #3535
I want to achieve is that the query in the transaction is in the Primary, and the query in the non-transaction is in the slave(Read group).
In version 1.4.15, the following configuration is OK.  but in version 2.0.17 is Not what i expected.
[code]

[code]
When  `set autocommit=0`, it should be the beginning of a transaction, and subsequent queries or updates should be in the transaction and should

[2021-08-05 10:55] #3536 closed, assigned to nobody

[2021-08-05 16:53] JavierJF opened #3549 "Autocommit tracking being lost when 'locked_on_hostgroup' is set"
- [x] A clear description of the issue

Autocommit track is lost after after a connection that has been locked on a hostgroup receives `SET` statements changing it's value.

_NOTE:_

For simple `SET autocommit` queries, i.e. queries that can be handle by 'handler_special_queries' this behavior was introduced by commit  f2668c455c98e9b810f6beeebbeef42e6df6ceec, when porting an already present behav

[2021-08-06 10:35] JavierJF commented on #3545
Hi @balbaev,

thanks for the heads up, documentation has been updated to reflect how to enable profiling and how to report a memory leak in recent ProxySQL versions. See https://proxysql.com/documentation/memory-leak-detection/.

Thanks!

[2021-08-06 10:35] #3545 closed, assigned to nobody

[2021-08-06 12:42] aniaptebsft commented on #3546
We are also seeing proxysql crash with 2.2.0
Mysql ver: aws aurora mysql v 5.7.12
Below logs are with proxysql running in contrainer  phusion/baseimage:focal-1.0.0

[code]

[2021-08-06 13:03] renecannao opened #3551 "Allows SSL privake keys other than RSA"
- [ ] A clear description of the issue

Currently proxysql only supports reading RSA privake key.

- [ ] ProxySQL version

All versions to 2.2 included

- [ ] OS version

All

- [ ] The steps to reproduce the issue

Create EC private key and try to start proxysql

- [ ] The **full** ProxySQL error log (default location: `/var/lib/proxysql/proxysql.log`)

In a debug build we will see something like

[2021-08-06 13:15] renecannao commented on #3424
Message will go away in the next release

[2021-08-06 17:16] renecannao opened #3553 "Dynamically reload TLS files (key/cert) and implement PROXYSQL RELOAD TLS"
Placeholder ticket, will later add more details

[2021-08-08 07:45] AngelVilardell commented on #3525
Hello @JavierJF thanks for the info,
I will be able to do steps 1 and 2 on the 16th of August. Will post the results of the 3 steps on Tuesday 17th of August.
Regards.

[2021-08-08 17:45] JavierJF opened #3554 "Add support for building ProxySQL with ASAN (AddressSanitizer)"
- [x] A clear description of the issue

Add a simple configuration option for being able to build ProxySQL with `-fsanitize=address`. Support shall be added through an environmental variable that `enables/disables` building ProxySQL and libmariadbclient dependency with `-fsanitize=address` flag.

NOTE: This configuration **should also include** tests that rely on ProxySQL library, otherwise these

[2021-08-09 09:51] JavierJF commented on #3546
Hi @Sejcek1 ,

after checking the `proxysql.log` you provided, it looks like this issue could potentially be a memory corruption bug. This issues are hard to track, even when supplying a coredump. If the memory corruption takes places close to the application crash, maybe we can identify the invalid memory state, but this is not guarantee to happen. For better being able to track down the issue, I

[2021-08-09 12:18] markuman commented on #2441
I just wanted to add a note that we run into the same error when we're trying to use proxysql 2.1.1, while 2.0.16 works fine (yeah, that's strange).

`MySQL_Session.cpp:7054:unable_to_parse_set_statement(): [WARNING] Unable to parse unknown SET query from client 10.127.38.185:64693. Setting lock_hostgroup. Please report a bug for future enhancements:set autocommit=1, session_track_schema=1, sql_mo

[2021-08-09 12:24] renecannao commented on #2441
Hi @markuman .
Please consider the behavior in 2.1.1 to be the correct one.
2.0.16 wasn't working fine, it was just not detecting the real issue.
Please use the query rule suggested above.
Thanks

[2021-08-09 13:37] tanguofu opened #3555 "primary mysql host is mysql_servers OFFLINE_HARD whereas mysql mgr show status is ONLINE"
This is the place to report a **reproducible bug**, **documentation error** or **feature request** for ProxySQL.

Support questions will not be answered here. For community support, use the Google forum: https://groups.google.com/forum/#!forum/proxysql
* Note that due to time constraints ProxySQL engineers may be slow to respond to forum posts
* For information on paid support contracts: https://p

[2021-08-09 20:17] markuman commented on #2441
here is an ansible task from the above suggestion for [our](https://github.com/sysown/proxysql/issues/2441#issuecomment-895175661) error msg.

[code]

[2021-08-10 12:36] markuman opened #3556 "Unable to verify client ssl connection"
The [documentation](https://proxysql.com/documentation/ssl-support/) says in section `SSL configuration for frontends`

This results here in

`ERROR 1064 (42000) at line 1: You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 's' at line 1`

Our backend servers are mariadb 10.4.13.

Proxysql 2.1.1 log

[code]

[2021-08-10 12:39] markuman commented on #3556
Ok, figured out that mariadb required `-e "\s"`.
Works like charm. maybe you can expand the documentation with mariadb informations.

[2021-08-10 12:46] renecannao commented on #3556
Hi @markuman .
This is a formatting issue that screwed our documentation and remove the missing `\` . Sorry about this, we will fix that.
Assigning to @asivado

[2021-08-10 12:57] asivado commented on #3556
Fixed @renecannao

[2021-08-10 16:39] markuman commented on #3017
why on earth mariadb did this?
we switched `mysql-server_version` from `5.7.12` (_our past aws aurora_) to `10.4.13` (_our mariadb version_) and run into the same error.

[code]

change it to `mysql-server_version=5.7.19`  solves this issue for us.

[2021-08-10 16:50] #3556 closed, assigned to asivado

[2021-08-10 18:11] #3539 closed, assigned to JavierJF

[2021-08-11 12:09] JavierJF opened #3558 "'proxysql_mysql_backend/frontend_buffers_bytes' metrics don't report the actual values"
- [x] A clear description of the issue

Both metrics:

- proxysql_mysql_backend_buffers_bytes
- proxysql_mysql_frontend_buffers_bytes

Are not reporting the actual values being reported when issuing a query like:

[code]

[code]

- [x] ProxySQL version

- v2.x

- [x] OS version

[code]

- [x] The steps to reproduce the issue

1. Create some load for a ProxySQL instance:

[code]

2. Check that the

[2021-08-11 14:59] kjanss commented on #3446
we could really use this feature as well. the use case is to bypass the need in Azure to use fully-qualified (user@host) names for applications which do not support this.

[2021-08-12 14:37] markuman commented on #3456
I see the same on `ProxySQL version 2.1.1-40-g1c2b7e4, codename Truls` on arm `Linux proxysql 5.8.0-1041-aws #43~20.04.1-Ubuntu SMP Thu Jul 15 11:03:27 UTC 2021 aarch64 aarch64 aarch64 GNU/Linux`

[code]

I noticed also an increasement of memory usage in the same time.

[2021-08-12 14:40] markuman commented on #3456
maybe related to https://github.com/sysown/proxysql/issues/3475

[2021-08-12 16:49] #3549 closed, assigned to JavierJF

[2021-08-12 17:17] chanakagl opened #3561 "Can't get client IPs when " [ERROR] Detected a broken connection during SET NAMES xx.xx.xx.xx"
Hi,

I'm getting the following error and I can't figure out where the error is coming from,

MySQL_Session.cpp:2914:handler_again___status_CHANGING_CHARSET(): [ERROR] Detected a broken connection during SET NAMES on xx.xx.xx.xx , 3306 : 2019, Can't initialize character set (null) (path: compiled_in)

I've set mysql-verbose_query_error='true';  but no luck.

[2021-08-12 19:08] renecannao commented on #3561
Missing proxysql version , but checking the line number (2914) this seems to be proxysql 2.1.1 .
We currently do not log which client is associated to that request, but it seems a reasonable feature request / improvement.

Can you provide the rest of the error log?
Thanks

[2021-08-13 01:22] chanakagl commented on #3561
We are using ProxySql 2.0.7. Please find the attached Proxysql log.
[Proxysql.log.txt](https://github.com/sysown/proxysql/files/6979347/Proxysql.log.txt)

[2021-08-14 08:50] allexivan opened #3562 "AWS Aurora not detecting master and replicas anymore"
I have been running proxysql v2.2.0 with no issues for the past couple of months on high traffic applications using AWS Aurora functionality in proxysql.
After a high load on the Aurora, proxysql cannot detect the master and replicas anymore.
I run 7 proxysql servers in a cluster and I started to receive this error from a few proxysql nodes and after a while, from all:

`SQLSTATE[HY000]: General e

[2021-08-16 02:41] Sejcek1 commented on #3546
Hi @JavierJF,

thank you for your instructions. After few days of testing, ASAN build did not crash for 45 hours so there is only debug log with many ASAN ERROR messages. I think, that was expected. There is no timestamp so I put _date_ to the log every 10 minutes for better usage.
[proxysql-ASAN.log](https://github.com/sysown/proxysql/files/6989441/proxysql-ASAN.log)

Then I reinstalled ProxySQL

[2021-08-16 06:24] aniaptebsft commented on #3546
We moved our production proxysql version back to 2.0.18 and now it is working ok - no crashes seen.

[2021-08-16 07:20] allexivan commented on #3562
I created a new proxysql instance from scratch and the same issue persists.
No aurora instances are detected, all aurora monitoring/stats are empty.

If i add the instances manually in mysql_servers it connects to them and are healthy, however, automated aurora discovery is not working.

[2021-08-16 08:35] renecannao commented on #3562
From new issue template:

[2021-08-16 08:51] allexivan commented on #3562
ok..

Description:
Proxysql cannot detect aurora instances all of a sudden. None of the 7 nodes of a cluster, and neither a fresh install.

Proxysql  version: 2.2.0

OS: Ubuntu 18.04.5 LTS

Steps to reproduce: create an aurora cluster configuration

[code]

[2021-08-16 08:59] renecannao commented on #3562
Thank you for the error log.

at 06:43:06: proxysql starts
at 06:43:06: the log shows that `mysql_servers` (specifically when dumping `mysql_servers_incoming`) is empty
at 06:44:53: `LOAD MYSQL SERVERS TO RUNTIME` is executed, but `mysql_servers` is again empty

At this point the issue seems clear:
`mysql_aws_aurora_hostgroups` was configured, but not a single node was configured in `mysql_servers

[2021-08-16 09:02] allexivan commented on #3562
No, this it not the issue. I added those manually after that and it seems it seems to connect to those instances.
But all aurora logs are empty. Please note this is on the fresh install.

On the old cluster all data from mysql_servers disappeared!!
If I add those in mysql_servers they get deleted!

So this is another issue. How they disappeared  in the middle of the day and why it does not detecte

[2021-08-16 09:17] allexivan commented on #3562
Current production node

[code]

[code]

I just ran this:

[code]

After insert and save:

[code]

And log file attached

[proxysql.log](https://github.com/sysown/proxysql/files/6991127/proxysql.log)

[2021-08-16 09:21] allexivan commented on #3562
And this is on the NEW/FRESH install:

[code]

[2021-08-16 09:45] psapezhka opened #3563 "Can't build for Debian due to changes of Suite value"
Hello. Trying to build the latest stable version (2.2.0) for Debian and getting the next one error.
[code]

P.S.

Didn't found nor docs nor source files for those docker files to make PR.

P. P. S

I'm trying to enable debug logging, is there more easiest way than rebuild the binary itself with debug?

[2021-08-16 15:24] mkulik-rh opened #3564 "Missing manual page"
Hello,

It seems that source files does not include manual page for proxysql binary. Many UNIX systems require manual pages to be included in official packages, like fedora system:

I'm here to ask a few questions regarding this subject.

- Is there any specific reason why manual pages are not included ?
- Are there any plans to include them in future releases ?
- Are you open to contribution rega

[2021-08-17 10:58] markuman commented on #3546
we noticed this also

[2021-08-17 13:00] AngelVilardell commented on #3525
Hello again @JavierJF,
I attach some of the information you asked for. We successfully upgraded from 2.0.12 to 2.0.18 and it's been 24h since then. I want to say that yesteday we had some problems with our storage so I will attach the error log tomorrow so you have 24h of "clean" logs. I will also attach another screenshot of the memory usage.

I did a "proxysql memprofile start" and Iattach two h

[2021-08-17 16:34] bskllzh commented on #3562
@icoldo , is there a deployment proxysql cluster in your environment?

[2021-08-17 16:35] allexivan commented on #3562
Yes.I mentioned it above. There are 7 nodes in the production cluster and a single proxysql instance for the freshly installed.

Regards,
Alex Ivan
On 17 Aug 2021, 19:34 +0300, peter ***@***.***>, wrote:

[2021-08-17 16:53] thiagosantosleite commented on #3562
@icoldo some questions:

- All 7 nodes are in the proxysql_servers table ? may you share your cluster config ?
- Are you able to test if this happens only when using clustering ? maybe in this new fresh installed node, do not use ProxySQL clustering  and configure it manually like the other nodes and check if aurora discovery works as expected
- Did you checked the proxysql logs in nodes 10.50.11.

[2021-08-17 18:15] allexivan commented on #3562
Hi @thiagosantosleite I think I found the issue.
Indeed, it was something related to  one of the nodes. After rebooting all nodes machines, one node was not reachable by the other nodes. The error was:

` [WARNING] Cluster: unable to connect to peer 10.50.10.190:6032 . Error: ProxySQL Error: Access denied for user 'cluster'@'10.50.13.32' (using password: YES)`

This didn't happen before reboot. So

[2021-08-17 18:24] thiagosantosleite commented on #3563
I was trying to build proxysql in debug mode and I have the same issue.
I adding "apt-get --allow-releaseinfo-change update" to entrypoint.sh should fix it or maybe just rebuild the image "proxysql/packaging:build-debian10" from fresh base image should fix it too.

@renecannao, what do you think?

[2021-08-17 18:39] thiagosantosleite commented on #3562
[code]

I would say improbable, but still possible. My suggestion is try to simulate it again and then open a new issue related to proxysql clustering in version 2.2 and please double check if you run "LOAD ADMIN VARIABLES TO RUNTIME; SAVE ADMIN VARIABLES TO DISK", because the cluster parameters are admin variables.

[code]

Yes! looks like this faulty node had some issue to connect to aurora and

[2021-08-17 18:55] allexivan commented on #3562
One more thing, this happened after a massive load on the master RDS. So I guess there was a connectivity issue and proxysql could not connect to it.

For now you can close it. I will update it if it happens again or if I have any other new info

Thanks

[2021-08-17 18:55] #3562 closed, assigned to nobody

[2021-08-17 19:47] saunderst commented on #2574
I believe this is because this code was not updated when `server_capabilities` was upgraded to 32 bits:

https://github.com/sysown/proxysql/blob/3de13665e8735801ad30b98094004cbc5b22c00b/lib/MySQL_Thread.cpp#L1900-L1908

[2021-08-18 03:38] beebol commented on #3535
hi @renecannao .
[code]
[code]

sql:
[code]

mysql general log:
[code]
The first query is after `set autocommit=0`, but it is before in the mysql general log, which results in the first query not in the transaction, which is problematic. How should I configure to solve this problem?

[2021-08-18 03:38] beebol commented on #3535
hi @renecannao .
[code]
[code]
sbtest_rw 11:14:  [sbtest]> set autocommit=0;
Query OK, 0 rows affected (0.02 sec)

sbtest_rw 11:14:  [sbtest]> select * from sbtest1 where id = 28;
+----+------+------+------+-----+----+----+----+----+----+------+-------------------------------------------------------------+---+----+-----+----+----+----+----+----+
| id | k    | dadc | dacd | daa | da | dc | dd | d

[2021-08-18 03:40] MrNeedHelpHere commented on #3535
Account holder and others have been engaged in illegal activities

[2021-08-18 15:39] otooi opened #3565 "ProxySQL crashes when certain data is synchronized when using ProxySQL Cluster."
- [x] A clear description of the issue

I found that proxysql crashes when certain data is synchronized when using ProxySQL Cluster.
[code]
From what I've checked, it follows the case below.
1. Change admin variables -> crash
2. Change mysql variables -> crash
3. change mysql users -> sync
4. change mysql servers -> sync
5. change proxysql servers -> sync

I haven't tested any other cases.
The fou

[2021-08-18 15:54] renecannao commented on #3565
Hi @otooi .
Please try our packages. Specifically:
https://github.com/sysown/proxysql/releases/download/v2.2.0/proxysql_2.2.0-ubuntu18_arm64.deb

At this stage it is not possible to determine if the issue you are facing is due to a compiler issue, a corrupted binary, some libraries, etc.
If the issue persist, it is worth investigating further.
Thanks

[2021-08-19 11:06] AngelVilardell opened #3567 "proxysql cluster: replicate error between all nodes"
Hello,
This is a question about how proxysql clusterization works.

We have a 3 node proxysql cluster version 2.0.12. In the past month we experienced this issue twice: all the nodes receive a massive amount of connections (we still don't know why this last time). We reach all the limits set in the configuration, like mysql_max_connections and the proxysql pool is also full. We also reached the ma

[2021-08-19 13:25] GROpten opened #3568 "<jemalloc>: Error in malloc(): out of memory"
- [ ] A clear description of the issue - **Error: signal 6** it might related to 3252 or 2857
- [ ] ProxySQL version - **2.2.0-72-ge14accd, codename Truls**
- [ ] OS version - **Ubuntu 20.04.2 LTS**
- [ ] The steps to reproduce the issue - **could not reproduce yet**

**snip**
[code]
**snip**

- [ ] The package used to install ProxySQL - **proxysql/unknown,now 2.2.0 amd64 [installed] from proxysql

[2021-08-19 13:29] renecannao commented on #3568
Hi Robert,

The error suggests that the system ran out of memory.
Do you have metrics for this?

[2021-08-19 13:45] GROpten commented on #3568
Hi,

Yes, according to our munin the system used:
[code]

[2021-08-20 09:14] sesepehr opened #3570 "Proxysql firewall block whitelist"
I enabled proxysql firewall but block query in whitelist queries ,
Query contain
 digest_text: set names ? collate ?

[2021-08-20 09:23] AngelVilardell commented on #3525
Hello @JavierJF,
I can now attach some metrics about memory consumption and logs after near 24h of normal behaviour:

[proxysql_error.log](https://github.com/sysown/proxysql/files/7020456/proxysql_error.log)
![imagen](https://user-images.githubusercontent.com/71700599/130210555-c78ba8a1-de75-4de2-8e03-a335a7acbc6d.png)

Thank you!

[2021-08-20 11:09] renecannao opened #3571 "PROXYSQL STOP causes invalid memory in established connections in Admin"
- [ ] A clear description of the issue

When `PROXYSQL STOP` is executed, the pointer on `GloAdmin` is replaced.
This leads to the fact that all Admin connections points to an invalid GloAdmin .
In Cluster, connections get stuck in `pthread_mutex_lock(&pa->sql_query_global_mutex);` , that is pointing to an invalid mutex

- [ ] ProxySQL version

All affected till 2.3

- [ ] The steps to reproduce t

[2021-08-20 11:14] renecannao commented on #3571
Disabling `test_admin_prometheus_metrics_dump-t.cpp` for now.

[2021-08-20 11:28] ibaques commented on #3448
MySQL_Session.cpp:2847:handler_again___status_CHANGING_USER_SERVER(): [WARNING] Error during change user: 48, Code: 48, e.displayText() = DB::Exception: Command [ERRFMT] is not implemented. (version 21.7.5.29 (official build))

Same error on 2.2.0

[2021-08-20 14:16] IT-xiaoge opened #3572 "ProxySQL can't set single-line log size of eventslog"
Hi,

we found ProxySQL can't set single-line log size of eventslog, when use ProxySQL ，it will cause log size very big. In production, we need all query log in order to check the problem，do you plan to add a parameter to limit single-line log size of eventslog?

[2021-08-20 21:22] JavierJF commented on #3546
Hi @Sejcek1,

I just wanted to let you know that thanks to the information that you provided with the memory analyzer build, we have been able to identify and fix the cause of this memory corruption. This fix will be present in the next ProxySQL release.

Thanks you for providing the information that made this possible  :)!

[2021-08-22 20:38] JavierJF opened #3574 "Add hostgroup_id to monitor ping errors"
- [x] A clear description of the issue

Right now a monitor ping errors from `monitor_ping_thread` reports one of the following messages:

*debug*:
[code]
*release*:
[code]

Instead `hostgroup id` should be reported in all of them in the following way:

*debug*:
[code]
*release*:
[code]

- [x] ProxySQL version

v2.2.0

[2021-08-22 21:08] renecannao commented on #3574
https://github.com/sysown/proxysql/pull/3575#issuecomment-903330712

[2021-08-22 21:08] #3574 closed, assigned to JavierJF

[2021-08-23 11:16] #3546 closed, assigned to nobody

[2021-08-23 22:44] thiagosantosleite commented on #3563
@weastur

it should work now, please retest it and let us know.

[code]

[2021-08-23 23:44] otooi commented on #3565
Hi @renecannao
Thank you for reply.

I deleted(moved) the existing proxysql binary file and
I installed the deb file from the link you sent.
I did the same test, but the proxysql server crashed.

[code]
[code]

I have attached the new log file. (Probably the same as before. And sensitive information is masked)

Thank you
[proxysql-cluster-2.log](https://github.com/sysown/proxysql/files/7035456/pro

[2021-08-23 23:50] renecannao commented on #3565
Thank you for trying our binaries.
Do you have a core dump? That will be required to investigate it further.

[2021-08-23 23:52] otooi commented on #3565
This is the result of checking the library dependency of proxysql using `ldd`.
Could you please check this also?

[code]

[2021-08-24 02:07] chen5041 opened #3578 "proxysql monitor is error"
This is the place to report a **reproducible bug**, **documentation error** or **feature request** for ProxySQL.

Support questions will not be answered here. For community support, use the Google forum: https://groups.google.com/forum/#!forum/proxysql
* Note that due to time constraints ProxySQL engineers may be slow to respond to forum posts
* For information on paid support contracts: https://p

[2021-08-24 02:29] beebol commented on #3535
@renecannao is this a bug?

[2021-08-24 06:29] psapezhka commented on #3563
I've just built the ProxySQL, and I see all is working as expected. Many thanks.

[2021-08-24 06:29] #3563 closed, assigned to nobody

[2021-08-24 10:25] markuman opened #3579 "Negative replica lag"
* AWS RDS Mariadb 10.4.13
* Proxysql 2.2.0

We notices today that AWS RDS is returning negative replication lag (`-1ms`) on replication error, while proxysql sill uses the repplica instance.

Furthermore, proxysql is using `seconds` for `secronds behind master` while AWS RDS uses `milliseconds`.

[2021-08-25 07:13] otooi commented on #3565
@renecannao Sorry, how can i get core dump? any document?

[2021-08-25 08:36] otooi commented on #3565
[proxysql_core.zip] remove link to security reason
@renecannao I have attached the core dump file. Please check.
Thank you.

[2021-08-25 10:58] fransguelinckx opened #3580 "RECEIVED AN UNKNOWN COMMAND: 30 -- PLEASE REPORT A BUG"
We're using ProxySQL in front of a percona 8.x, 3-node, multi master, sync replication cluster with GTID enabled. The client that is probably causing this error is [debezium](https://debezium.io), which uses the binlog to do CDC (change data capture).
I believe the command that is not supported yet is [COM_BINLOG_DUMP_GTID](https://dev.mysql.com/doc/internals/en/com-binlog-dump-gtid.html).

[2021-08-25 11:06] renecannao commented on #3580
Hi @fransguelinckx .
Thank you for the report.
You are right about your analysis.
For debezium (or other clients streaming binlog) a lot of the features provided by proxysql aren't useful, like multiplexing, query parsing, etc. For this reason I would recommend to configure `mysql_users.fast_forward=1` for only the specific user used by debezium.

Thanks

[2021-08-25 11:51] fransguelinckx commented on #3580
We will try that, thank you for the quick response!

[2021-08-25 12:44] fransguelinckx commented on #3580
Worked like a charm, closing this issue. Thanks again!

[2021-08-25 12:44] #3580 closed, assigned to nobody

[2021-08-26 03:55] huazi928 opened #3581 "How to determine the latency caused by proxysql is normal or unnormal"
description
========
With belowing architecture and configurations, we run our test code.  execute the same insert and select operations by java, then use metrics to record the latency of each operation. after 2 hours running of app, we get latency comparison result for 2 hours running test code. the select from proxysql is faster than mysql, but insert into proxysql is slower than mysql, is this

[2021-08-26 12:54] #3319 closed, assigned to nobody

[2021-08-26 12:58] renecannao opened #3583 "Handle command COM_BINLOG_DUMP_GTID"
- [ ] A clear description of the issue

See https://github.com/sysown/proxysql/issues/3580

A possible solution to the problem is to automatically switch to fast_forward when a `COM_BINLOG_DUMP_GTID` command is received.

- [ ] ProxySQL version

All to 2.3 included

- [ ] OS version

Any

- [ ] The steps to reproduce the issue

Try to stream mysql replication through proxysql

[2021-08-26 13:03] renecannao opened #3584 "Created automated testing for spiffe"
This is a placeholder.

The tests in https://github.com/thiagosantosleite/proxysql_test_tls_70224/blob/v2.x-ssl_no-rsa/README.md should become part of automated testing.

[2021-08-26 13:45] renecannao commented on #3581
Hi @huazi928 .
I am not sure if you are running this benchmark with just one connection or multiple connections, but in **general** I can say that:
* if you are using just a single connection, latency through proxysql should be worse than connecting directly to the mysql server (due to physics)
* if you are using a lot of connections, latency through proxysql should be better than connecting direc

[2021-08-26 15:34] vietj opened #3585 "Bug with Vert.x SQL Client and execute packet rewriting"
[dumps.zip](https://github.com/sysown/proxysql/files/7061376/dumps.zip)
- version : 2.2.0
- using a docker image on OSX
- there is a reproducer with a Java client : https://github.com/DavideD/jbang-rep/tree/main/issue881
- the original issuees reported in [Vert.x MySQL Client](https://github.com/eclipse-vertx/vertx-sql-client/issues/1016) and [Hibernate Reactive](https://github.com/hibernate/hiber

[2021-08-26 15:46] renecannao commented on #3585
Hi @vietj .
Thank you for the report and the detailed instructions to reproduce it.
Not being too familiar with Java, I will wait a colleague to reproduce it.
Meanwhile, if you can send the tcpdump files it would be great.
You can compress them before attaching, as github allows to attach `.gz` and `.zip` files.
Thanks.

[2021-08-26 16:48] vietj commented on #3585
thanks @renecannao I attached a zip file with the two dumps.

don't hesitate to ping us privately on this if needed for running the reproducer.

I found also that one of:

- sending the types in each execute packet
- using non null name

would not trigger the bug

[2021-08-26 17:50] renecannao commented on #3585
I confirm the issue.

The issue arise on prepared statement `insert into MyEntity (name, time, id) values (?, ?, ?)` .

The prepared statement is executed on packets 91 and 95 (same numbers on both files).
client to proxysql: new-params-bound-flag is present only on packet 91 and not on packet 95.
proxysql to backend: new-params-bound-flag is present on both packets (that is expected), but on pack

[2021-08-27 08:04] huazi928 commented on #3581
@renecannao Thanks a lot for your reply. In our test, we use spring-mybatis to implement prepare statement, I'm not sure if mybatis uses prepare statement the wrong way or not, I need to find more coding evidence to confirm that. As you recommended above, we have removed "select 1" from our driver.  but the latency result just as same as before(the latency of insert into proxysql is perform worse

[2021-08-27 08:15] renecannao commented on #3581
Hi @huazi928 .

That `INSERT` can be slower is perhaps not a surprise considering what I wrote before, especially on single connections.
The output from these 2 queries can give some extra information.

[code]

Also this can be useful:
[code]

One thing that got my attention is that `min` in `1099_query_from_proxy` is just 286us: proxysql is surely performing some optimization.

[2021-08-27 09:10] huazi928 commented on #3581
@renecannao I don't understand what you said "I am not sure if you are running this benchmark with just one connection or multiple connections", which type of connections(from application to proxysql or from proxysql to mysql)? And then how can I check my benchmark is using one connetion or multiple connections?

Here are resuls of the two sqls:

Admin>SELECT * FROM stats_mysql_global ORDER BY var

[2021-08-27 10:21] CrookedPotato opened #3587 "set autocommit=0 case disaster problem"
version 2.2.0-72

program set autocommit=0 as a transaction but now write routing read-only node (MGR), i hava add a rule recorder, but alse has wrong, what should i do, plase help me，it‘s a disaster for the program

mysql_query_rules

Admin> **INSERT INTO mysql_query_rules(username,active,match_pattern,destination_hostgroup,apply) VALUES('apps',1,'^SET',1,1);**
Admin> INSERT INTO mysql_query_rule

[2021-08-27 10:40] vietj commented on #3585
@renecannao  btw can we get in touch with you in another channel? I'm curious about what multiplexing means for ProxySQL, I've seen a video on youtube but it does not explain how it works

[2021-08-28 14:28] nipuna-ruhunage commented on #3055
i also have the same issue ....
any help please ?

[2021-08-28 15:19] peppy commented on #3055
I fixed this issue but unfortunately I completely forgot how I figured it out. It may have had something to do with either prepared statements or multiple queries in a single statement. Sorry to not be of more help.

[2021-08-28 15:53] nipuna-ruhunage commented on #3055
seriously Tks man for speed response.
Have any idea what commands you run to fix it 😕

[2021-08-28 15:56] peppy commented on #3055
If you have a limited set of client applications connecting to the proxy, isolate which is causing the error and then make sure you have error logging of all sql calls from that application/service. You should be able to isolate it.

[2021-08-28 16:00] renecannao commented on #3055
[code]

[2021-08-28 17:23] nipuna-ruhunage commented on #3055
@renecannao
Big help from you needed :)

my 1st rule is not hitting
can an idea why and can you give me some tipes?

![image](https://user-images.githubusercontent.com/12049486/131225809-1480f514-1e9e-4daf-8cf7-e263b6616011.png)

[2021-08-28 19:08] nipuna-ruhunage opened #3588 "Lost connection to MySQL server during query"
MySQL_Session.cpp:3957:handler_minus1_ClientLibraryError(): [ERROR] Detected a broken connection during query on (10, ap-south-1.rds.amazonaws.com,3306,21817) , FD (Conn:265 , MyDS:265) : 2013, Lost connection to MySQL server during query
MySQL_Session.cpp:3971:handler_minus1_ClientLibraryError(): [WARNING] Retrying query.

I'm getting this issue all the time after big load testing my app going of

[2021-08-28 19:11] nipuna-ruhunage commented on #3588
https://github.com/Tusamarco/pxc_scheduler_handler

will this can be a fix ?

[2021-08-29 12:07] nipuna-ruhunage commented on #3588
Any help 😕

[2021-08-30 11:19] renecannao commented on #3587
Hi @CrookedPotato .

My advises are:
a) do not change autocommit settings unless you really know what you are doing
b) stop using generic query rules to send all traffic to readers

You configured proxysql to sends *all reads to the replicas*, and also to *enforce autocommit on reads*.

proxysql is doing exactly what you configured it to do: sending reads to replica, and start a transaction on rep

[2021-08-30 11:19] #3587 closed, assigned to nobody

[2021-08-30 11:21] renecannao commented on #3588
Hi @nipuna-ruhunage . I am closing this issue because it doesn't follow our guidance on opening new issue, listed on our "New issue" template.
Thanks

[2021-08-30 11:21] #3588 closed, assigned to nobody

[2021-08-30 13:53] psapezhka opened #3589 "Clarify replication lag monitoring documentation"
As I've investigated there are two ways of monitoring node lag with subsequent shunned the node in case of a too big one lag. First, by time, is based on `SHOW SLAVE STATUS` output and is acceptable only for classic primary / secondary replication. The other one is based on the count of underreplicated transactions from the group replication sys table counter, this one is for GroupReplication meth

[2021-08-30 15:45] julidublin opened #3590 "audit.log and queries.log incremental number fills up the filesystem"
When configuring the files audit.log and queries.log, these create an auto-incremental logfile like "audit.log.00000001", "audit.log.00000002", etc.; but they seem to grow indefinitely, which will eventually fill our filesystem and could lead to errors for not having enough space on disk.  These files are located on default path "/var/lib/proxysql".

ProxySQL Version: ProxySQL version 2.2.0-72-ge1

[2021-08-30 19:59] mboruta1 opened #3591 "RESTAPI interface is unresponsive when ProxySQL has ~1000+ sockets open"
## Bug Description
The RESTAPI interface through which we can retrieve metrics becomes unresponsive when >= 500 clients (fast_forward mode enabled) are connected to ProxySQL. Sample `wget` output follows:

[code]

The interface becomes responsive (`wget` returns with metric data) only when most of these clients disconnect.

This effectively prevents the use of the REST API to fetch metrics in busy

[2021-08-30 20:08] mboruta1 commented on #3591
The following patch file was applied locally as a temporary workaround:

[code]

[2021-08-30 20:15] renecannao commented on #3591
Hi @mboruta1 .
Thank you for the very detailed report!
And thanks for the suggested patch.
We will review it internally and create a PR based on your recommendation.

[2021-08-30 22:37] jesmarcannao opened #3592 "Expose number of file descriptors it use through exporter"
Right now the only way to collect the number of file descriptors used from a ProxySQL instance, would be to find the process and search about it in `/proc` or use `lsof`.

It would be great if instead such stats would be directly exposed via the exporter, making troubleshooting easier, especially in containerized or fully automated environment.

[2021-08-31 06:59] DevopsEngineer316 commented on #2314
ProxySQL version 2.0.4-116-g7d371cf2
mysql  Ver 14.14 Distrib 5.7.35

Can anyone help me how to query cache the prepared statements in ProxySQL ?
In latest version, I can see the ProxySQL supports the prepared statements for caching purpose.
But still my api files are not connected to query caches when i created the stats_mysql_prepared_statements_info

[2021-08-31 07:14] CrookedPotato commented on #3587
HI @renecannao

Thank you for your reply and advises, My configuration is wrong ,I'm Sorry,  I've reconfigured it, like this

Admin>select * from runtime_global_variables where variable_name like '%auto%';
+---------------------------------------+----------------+
| variable_name                         | variable_value |
+---------------------------------------+----------------+
| mysql-automatic

[2021-08-31 10:14] GROpten opened #3594 "Proxysql restarts multiple times with error signal 11 and 6"
- [ ] A clear description of the issue - Proxysql restarts multiple times with error signal 11 and 6
- [ ] ProxySQL version - **2.2.0-72-ge14accd, codename Truls**
- [ ] OS version - **Ubuntu 20.04.2 LTS**
- [ ] The steps to reproduce the issue - **could not reproduce yet**

**snip**
[code]
**snip**

- [ ] The package used to install ProxySQL - **proxysql/unknown,now 2.2.0 amd64 [installed] from p

[2021-08-31 10:31] renecannao commented on #3585
Bugs fixed. 2 bugs were actually playing here if `new-params-bound-flag` was 0:
a) `NULL` values weren't handled properly
b) zero values for `MYSQL_TYPE_TIME` or similar (`MYSQL_TYPE_DATE`, etc) were causing invalid reads for the the following parameters.

Thank you @vietj for the report.

[2021-08-31 10:31] #3585 closed, assigned to nobody

[2021-08-31 10:46] renecannao commented on #3594
Hi Robert,

Can you please share the core dump, publicly or privately?

Thanks

[2021-08-31 10:51] GROpten commented on #3594
Hi,

Sure, I would prefer the private way.

Thanks

[2021-08-31 16:36] JavierJF opened #3595 "Backport bugfixes to v2.2.1 - 1"
- [x] A clear description of the issue

The following list of bugfixes should be backported to v2.2.1:

PRs: #3479, #3493 and #3487

List of commits:
[code]

[2021-08-31 17:58] JavierJF opened #3597 "Backport bugfixes to v2.2.1 - 2"
- [x] A clear description of the issue

The following list of bugfixes should be backported to v2.2.1, branch should be based on branch `v2.2.1-3595`.

Full PRs: #3544

List of commits:

[code]

[2021-08-31 18:50] JavierJF opened #3599 "Backport bugfixes to v2.2.1 - 3"
- [x] A clear description of the issue

The following list of bugfixes should be backported to v2.2.1, branch should be based on branch v2.2.1-3597.

Full PRs: #3569

List of commits:

[code]

[2021-08-31 19:52] JavierJF opened #3601 "Backport bugfixes to v2.2.1 - 4"
- [x] A clear description of the issue

The following list of bugfixes should be backported to v2.2.1, branch should be based on branch v2.2.1-3599.

Full PRs: #3573, #3593

List of commits:

[code]

[2021-09-01 06:43] GROpten commented on #3594
Hi,

Rene, i will upload the logs/core files, but could you give me an email address, it will be easier.

Robert

[2021-09-02 07:02] GROpten commented on #2702
Hi,

Similar message:

- [ ] ProxySQL version - **2.2.0-72-ge14accd, codename Truls**

2021-09-02 08:32:07 MySQL_Session.cpp:6799:unable_to_parse_set_statement(): [WARNING] Unable to parse unknown SET query from client 192.168.111.2:26510. Setting lock_hostgroup. Please report a bug for future enhancements:SET wait_timeout=100

2021-09-05 20:44:18 MySQL_Session.cpp:7094:unable_to_parse_set_stateme

[2021-09-06 09:12] dasJ commented on #874
@Ostico Can you tell what the issue was? I'm probably facing the same one

[2021-09-07 09:24] JavierJF opened #3603 "Invalid preservation of prepared statement NULL values between executions"
- [x] A clear description of the issue

`NULL` values from previous executions of prepared statements are being improperly preserved between the executions of the same statement, this could lead to outdated values or a crash due to a `heap-buffer-overflow`, as can be seeing in the following ASAN output:

[code]

- [x] ProxySQL version

- v2.2.1

- [x] OS version

[code]

- [x] The steps to reprodu

[2021-09-07 11:41] astawiarski-digit opened #3605 "MySQL Warnings are returned as rsults"
ProxySQL version: 2.0.6
Python library: mysqlclient==1.3.14

We are seeing that when a query that results in WARNINGs is issued via ProxySQL, the warnings are not returned immediately.  Instead, they are being returned as a results of the first query that happens next.  Changing "mysql-multiplexing" is not affecting the outcome.

Table structure
[code]

Running via ProxySQL 2.0.6 with or without m

[2021-09-07 11:41] astawiarski-digit opened #3606 "MySQL Warnings are returned as results of the next executed query"
ProxySQL version: 2.0.6
Python library: mysqlclient==1.3.14
Database: RDS Aurora / MySQL 5.6

We are seeing that when a query that results in WARNINGs is issued via ProxySQL, the warnings are not returned immediately.  Instead, they are being returned as a results of the first query that happens next.  Changing "mysql-multiplexing" is not affecting the outcome.

Table structure
[code]

Running via

[2021-09-07 11:56] astawiarski-digit commented on #3606
The problem disappears after setting
`UPDATE global_variables SET variable_value=0 WHERE variable_name='mysql-log_mysql_warnings_enabled'`

However, this prevents us from getting warnings in our code too.

[2021-09-07 13:51] Kraitos opened #3608 "USE instruction failing in some cases"
# USE instruction failing in some cases

Hello ProxySQL team !

## Description
Some of our databases were inaccessible with ProxySQL 2.2.1.
It seems like ProxySQL 2.2.1 has some issues with databases containing '-' and a number next to it in their name.
After rolling back ProxySQL to 2.2.0, everything was working properly.

## ProxySQL version
 - `ProxySQL version 2.2.1-39-g837a720, codename Truls

[2021-09-07 14:05] renecannao commented on #3608
Thank you for the report.
We will work on verifying this asap.

[2021-09-07 15:07] renecannao commented on #3608
Issue confirmed

[2021-09-07 16:31] mboruta1 commented on #3591
Hello @renecannao, thank you for your very quick response! Do you have any idea what timeframe we can expect for the necessary changes to make it into the next ProxySQL release? I would like to deploy ProxySQL to our environment and as of now this issue is the only blocker (we have more than 1k clients and would prefer to use the REST API for metric gathering). Please also let me know if I can hel

[2021-09-07 16:35] renecannao commented on #3591
Hi @mboruta1 .
@JavierJF is working on it as I am writing this.
Thank you

[2021-09-08 05:39] #3603 closed, assigned to JavierJF

[2021-09-08 05:40] #3591 closed, assigned to nobody

[2021-09-08 07:52] renecannao commented on #3608
Fixed in upcoming 2.2.2 (to be released very soon).
Thank you for the report

[2021-09-08 07:52] #3608 closed, assigned to nobody

[2021-09-08 07:52] #3595 closed, assigned to nobody

[2021-09-08 07:52] #3597 closed, assigned to JavierJF

[2021-09-08 07:52] #3599 closed, assigned to JavierJF

[2021-09-08 07:52] #3601 closed, assigned to JavierJF

[2021-09-08 07:55] renecannao commented on #3605
Closing as duplicate of #3606

[2021-09-08 07:55] #3605 closed, assigned to nobody

[2021-09-08 07:56] renecannao commented on #3606
Hi @astawiarski-digit . Thank you for the report.
Before we proceed with further investigation, can you please try 2.2.1 ?
Thanks

[2021-09-08 07:58] renecannao opened #3613 "Allow debug and non-debug builds to form a Cluster"
Placeholder . Will add details later

[2021-09-08 09:02] astawiarski-digit commented on #3606
Hi @renecannao
I've tested with 2.2.1

[code]

Enabling warnings on ProxySQL
[code]

Running the queries that should result in a warnings, and losing connection.
[code]

Disabling warnings on ProxySQL
[code]

Running the queries that should result in warnings, connection is stable but warnings are not available.
[code]

Finally I've also tested against the RDS MySQL directly - the connection is st

[2021-09-08 09:26] renecannao commented on #3606
Thank you for testing 2.2.1 .
We will prioritize this accordingly.

[2021-09-09 07:15] beebol opened #3614 "Bugs under REPEATABLE-READ isolation level"
verson:2.x
session1:
[code]
session2:
[code]

session1:
[code]
Two selects under the RR isolation level read different values, which is no longer repeatable.

The reason is that the query after set autocommit=0 opens the transaction does not enter the transaction, only when dml SQL will bring autocommit=0.
general_log：
[code]

[2021-09-09 07:56] Amixp commented on #3452
My database:
19G  proxysql_stats.db
SELECT COUNT(*) FROM history_mysql_query_digest;
| COUNT(*) |
+----------+
| 11335937 |
+----------+
1 row in set (16 min 42,65 sec)

is there an automatic way to truncate statistics, but without clearing all tables?

[2021-09-09 08:07] renecannao commented on #3614
This is expected behavior with default `mysql-enforce_autocommit_on_reads=false` .
If you really want a transaction to start on the first read after `set autocommit=0`, change `mysql-enforce_autocommit_on_reads=true`.
The defaualt behavior allows to not start a transaction on a replica.
On the same note, please make sure you do not have generic read/write split rules, or you will be basically conf

[2021-09-09 08:07] #3614 closed, assigned to nobody

[2021-09-09 08:31] DBA-Ray opened #3615 "The parametre mysql-threads cause performance degradation."
- [ ] Proxysql is deployed on a server with more than 16 cores(88 cores).Set the "mysql-threads" to be greater than 16, and then use sysbench to pressure test.
- [ ] ProxySQL version 2.0.18-7-gc45810f
- [ ] CentOS Linux release 7.8.2003 (Core)
- [ ] When mysql-threads=16,the result of pressure test as follows:
SQL statistics:
    queries performed:
        read:                            80742751

[2021-09-09 08:41] renecannao commented on #3615
Hi Ray,

In order to better understand your workload, what `sysbench` options are you using?

[2021-09-09 09:34] DBA-Ray commented on #3615
Hi
sysbench /usr/share/sysbench/tests/include/oltp_legacy/select.lua --oltp-tables-count=50 --oltp-table-size=20000000 --threads=528 --warmup_time=180 --time=180 --report-interval=1 --percentile=99 --histogram=on run

[2021-09-09 09:54] renecannao commented on #3615
Thank you Ray.

A couple more questions:
a) sysbench/proxysql/mysql are all running on its own dedicated server? (3 servers)
b) are you sure that the bottleneck is proxysql? from the output provided so far, proxysql doesn't seem to be fully utilizing the number of cores that you assigned to it.

[2021-09-09 10:05] DBA-Ray commented on #3615
You're welcome.
a) They are all running on its own dedicated server.Do not share a server.
b) Yes.Because every test i only modif the mysql-threads.I analyzed the load of each server and found that only PROXYSQL's CPU SYSTEM usage rate is too high, and it increases with the increase of the mysql-threads.

Initially, I thought that setting the number of CPU cores to maximize performance, but the re

[2021-09-09 10:25] renecannao commented on #3615
a) ok, perfect.

b)
sysbench is creating 528 connections, that means that with `mysql-threads=16` , each worker is processing 33 active connections (on average).
With `mysql-threads=32` , each worker is processing 16.5 active connections (on average).

From the output of sysbench you can see that with `mysql-threads=16` you have higher throughput but slightly worse latency.
With `mysql-threads=32`

[2021-09-09 10:27] DBA-Ray commented on #3615
In the case of multiple concurrency,I found that the CPU user usage of each machine can be relatively high,only PROXYSQL has not improved significantly, but CPU system usage has improved significantly.

In the above stress test, the CPU user utilization rate of MySQL is less than 20%, which has not yet reached the bottleneck.As follows:

%Cpu(s): 16.8 us,  3.9 sy,  0.0 ni, 76.9 id,  0.0 wa,  0.0 h

[2021-09-09 10:46] DBA-Ray commented on #3615
Hi
I confirmed that the CPU power saving mode is turned off.
Using 5280 thread sysbench will report an error.As follows:
sysbench 1.0.17 (using system LuaJIT 2.0.4)

Running the test with following options:
Number of threads: 5280
Report intermediate results every 2 second(s)
Initializing random number generator from current time

Initializing worker threads...

FATAL: /usr/share/sysbench/oltp_poi

[2021-09-09 12:40] zafermalik opened #3616 "proxysql issue with stored procedures"
This is to report a bug that if we are executing any stored procedure via proxysql then it is not returning result and going in hang state.

I tried it with various proxysql versions even with latest version also but getting same issue. Mysql version is 5.7

Any help will be appreciated.

[2021-09-09 13:00] renecannao commented on #3616
Hi @zafermalik .
From "New issue template"

If you are submitting a reproducible bug report, please provide:
- [ ] A clear description of the issue
- [ ] ProxySQL version
- [ ] OS version
- [ ] The steps to reproduce the issue
- [ ] The **full** ProxySQL error log (default location: `/var/lib/proxysql/proxysql.log`)

Thanks

[2021-09-09 18:46] mboruta1 commented on #3591
Built 2.2.2 from scratch and issue seems to have been fixed. Thank you for the quick turnaround!

[2021-09-09 19:54] mboruta1 opened #3618 "Nodes SHUNNED due to max_writers are not promoted to ACTIVE when primary is automatically SHUNNED"
## Bug Description

When ProxySQL detects that a host group does not have an online node, it attempts to bring online a shunned server ([relevant code section](https://github.com/sysown/proxysql/blob/v2.2.2/lib/MySQL_HostGroups_Manager.cpp#L2901)). It does this by cycling through all hosts in the host group and attempting to bring online nodes that are currently SHUNNED *and* have `shunned_automat

[2021-09-10 08:34] iron-udjin opened #3619 "ProxySQL 2.2.2 failed to build in FreeBSD 13"
Hello,

OS: FreeBSD 13
ProxySQL: 2.2.2
MariaDB: 10.3.31

#env GIT_VERSION=v2.2.2 gmake build_deps
[code]

CMakeError.log (full content https://pastebin.com/826wY4D3)
[code]

libpthread.so exists:
#ls -la /usr/lib/libpthread.so /usr/include/pthread.h
[code]

How can I deal with this errors?

Thank you!

[2021-09-10 14:49] JavierJF opened #3620 "Fix memory leaks detected during testing"
- [x] A clear description of the issue

The following two memory leaks have been detected during testing:

#### First leak

Leak is directly tied to `handler___status_CONNECTING_CLIENT___STATE_SERVER_HANDSHAKE`,
related to memory allocated to `client_addr`. As we can see by the log:

[code]

[code]

Leak is related with failed connections. Same result isn't achieved for non-failing
connections.

#

[2021-09-10 20:07] JavierJF commented on #3594
Hi @GROpten,

could you please share the logs/coredumps with me at the following email address? `javier@proxysql.com`.

Thanks you!

[2021-09-11 20:08] dhayhak opened #3622 "Unable to parse query "SET wait_timeout = ?" and "SET interactive_timeout = ?""
Hi, I'm getting these errors in proxysql and I can't figure out what I'm doing wrong 🙏

- ProxySQL version: 2.2.2-11-g0e7630d
- Os version: Linux 5.4.0-1037-aws 39~18.04.1-Ubuntu SMP x86_64

Event log:
[code]

I've tried to bypass those errors by adding query rules as described in https://github.com/sysown/proxysql/issues/3184#issuecomment-805635250 but I'm still getting the same errors
Here is my

[2021-09-11 20:13] renecannao commented on #3622
Hi.
If I read your configuration correctly, you have event log enabled.
Please provide it.

Thanks

[2021-09-11 20:40] dhayhak commented on #3622
Thanks for the quick follow-up René!

<details>
  <summary>Please click here for the event log
  </summary>

[code]
</details>

[2021-09-13 03:04] triump2020 opened #3623 "Hi， compilation did not pass!"
Thanks for the great product , but it seems that compilation did not pass .  Here is the error msg :

![image](https://user-images.githubusercontent.com/63033222/133017269-5fa41f24-2640-40ec-ad41-774ee3e76c09.png)

seems that the `libgnutls` uninstalled .   Who knows that how to install the `libgnutls`  through `apt-get install ...`  on ubuntu20.4 ?  thanks very much !

[2021-09-13 13:55] Ostico commented on #874
Hi @dasJ ,

if I remember correctly you can find more info in this thread:

[Charset issues. Set Names not honored per session. My.cnf init_command ignored.](https://github.com/sysown/proxysql/issues/875)

and we fixed by setting the default server charset as UTF8 and we use this code in the client to be sure:

[code]

[2021-09-13 15:42] angrygreenfrogs commented on #2021
FYI - I ran into this same problem with our .NET connector code in an older .NET Core 2.1 application (using MySqlConnector 0.57.0).

I found that setting mysql-server_version to 5.5.0 resolved the problem, although I admit to not knowing exactly why that worked.

We originally set mysql-server_version to 5.7.32-log to match our Azure MySQL server, but then we had this problem spamming our logs co

[2021-09-14 15:37] #3620 closed, assigned to JavierJF

[2021-09-15 09:19] mschfh commented on #3581
are the proxy and writer instance in the same availability zone?

[2021-09-15 09:38] JavierJF commented on #3470
Hi @gercorri,

ProxySQL v2.3.0 has just been released and it holds fixes that can potentially solve this issue. Please let us know when you test it if that is the case for you so the issue can be closed.

Thanks,
Javier.

[2021-09-15 09:39] mschfh commented on #3418
possibly related:
NLBs close existing (client?) connections when the health check fails:

https://docs.aws.amazon.com/elasticloadbalancing/latest/network/target-group-health-checks.html

The `TCP_ELB_Reset_Count` and `UnHealthyHostCount` Cloudwatch metrics might provide some insight.
https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-cloudwatch-metrics.html

[2021-09-15 19:16] keuko commented on #3517
Hi, bullseye was officialy released, when there will be packages for bullseye debian 11 ?
Thanks

[2021-09-15 19:26] renecannao commented on #3517
Hi @keuko .
It is available in https://github.com/sysown/proxysql/releases/tag/v2.3.0 , specifically:
https://github.com/sysown/proxysql/releases/download/v2.3.0/proxysql_2.3.0-debian11_amd64.deb
and
https://github.com/sysown/proxysql/releases/download/v2.3.0/proxysql_2.3.0-debian11_arm64.deb

It is also available on official repo:
https://repo.proxysql.com/ProxySQL/proxysql-2.3.x/bullseye/

As an

[2021-09-15 19:26] #3517 closed, assigned to nobody

[2021-09-15 19:47] keuko commented on #3517
Thank you very much !

[2021-09-16 14:41] kamelj opened #3624 "The ConnFree suddenly increased"
Hello we faced something weird
I set the max_connections of MySQL_servers to 10,000 from a too long time ago
I set the mysql-free_connections_pct to 20 from a too long time ago
After I changed these variables nothing changed in ConnFree at that time, recently we noticed suddenly the ConnFree suddenly increased to around 2000 which should be changed from a too long time ago so is that related to th

[2021-09-16 14:59] renecannao commented on #3624
Hi @kamelj .
Happy to reply your questions.

ProxySQL is doing what it has been configured to:
* it uses as little connections as needed (extra connections are created on demand if no free connections are available)
* it can create up to 10000 connections
* it can keep up 2000 free connections (20% of 10000).

We normally recommend to keep max_connections as low as reasonable possible.
I don't kno

[2021-09-16 15:22] JavierJF opened #3625 "Fix issues found with 'client error limit' implementation"
- [x] A clear description of the issue

Several issues have been found with 'client error limit' implementation. Among them:

- When enabled 'SQLite3' server sessions lead to crash.
- Variables `client_host_cache_size` and `client_host_cache_size` are never initialized.

- [x] ProxySQL version

v2.3.0

- [x] OS version

[code]

- [x] Coredump of the crash

[sqlite_session_crash.tag.gz](https://git

[2021-09-16 19:00] dhayhak commented on #3622
Hi @renecannao ,
any updates on this one, please?

[2021-09-16 19:05] renecannao commented on #3622
Hi @dhayhak .
Yes, I have an update.
Currently ProxySQL doesn't support the **parsing and tracking** of `SET` statements using the binary protocol (prepared statements).
I recommend to switch to text protocol for these `SET` statements.
Thanks

[2021-09-17 01:33] #3623 closed, assigned to nobody

[2021-09-17 03:27] dbcmp commented on #2446
I have the same problem with my production environment. I need urgent help

[2021-09-17 07:21] #3625 closed, assigned to nobody

[2021-09-17 09:10] renecannao commented on #3570
Please provide steps to reproduce it.
There is no details on what you enabled.

[2021-09-17 09:11] #3553 closed, assigned to nobody

[2021-09-17 09:12] #3522 closed, assigned to nobody

[2021-09-17 09:35] JavierJF commented on #2187
Closing as duplicate of already closed #2326.

[2021-09-17 09:35] #2187 closed, assigned to nobody

[2021-09-17 09:48] renecannao opened #3628 "Troubleshooting a series of lost connections reported in v2.3.0"
This issue is to publicly track work being done in troubleshooting a series of lost connections reported in v2.3.0

[2021-09-17 09:51] renecannao commented on #3628
Output of `git log --left-right --graph --cherry-pick --oneline v2.3.0...v2.2.2` :

[code]

[2021-09-17 14:29] dhayhak commented on #3622
Thanks @renecannao! 🙏

Do you know how to make proxysql ignore the parsing and tracking of these `SET` statements?
The client side application I'm setting proxysql for is a black-box, I don't think I have access to change how SQL queries are executed from the application itself 😞

[2021-09-17 16:23] renecannao commented on #3628
v2.2.2-to-v2.3.0-1 : merged up to  9c8e17f9 , PR #3629
v2.2.2-to-v2.3.0-2 : merged up to  e33ada0a , PR #3630
v2.2.2-to-v2.3.0-3 : merged up to  2d670897 + cherry-pick 4013b0afdce , PR #3631
v2.2.2-to-v2.3.0-4 : merged up to  bf6e990f , PR #3632
v2.2.2-to-v2.3.0-5 : merged up to  07a2791b , PR #3633
v2.2.2-to-v2.3.0-6 : merged up to  5f971aef , PR #3634
v2.2.2-to-v2.3.0-7 : merged up to  b4c7b932

[2021-09-18 09:01] renecannao commented on #3628
Ubuntu18 packages

[proxysql_2.2.2-3628.7-ubuntu18_amd64.deb.gz](https://github.com/sysown/proxysql/files/7189606/proxysql_2.2.2-3628.7-ubuntu18_amd64.deb.gz)
[proxysql_2.2.2-3628.6-ubuntu18_amd64.deb.gz](https://github.com/sysown/proxysql/files/7189608/proxysql_2.2.2-3628.6-ubuntu18_amd64.deb.gz)
[proxysql_2.2.2-3628.5-ubuntu18_amd64.deb.gz](https://github.com/sysown/proxysql/files/7189611/proxys

[2021-09-19 13:12] kamelj commented on #3624
Thank you @renecannao for your quick replay and these helpful tips.

One more question did you recommended updating to the latest version ProxySQL 2.3 and it has performance enhancement?
Especially we have around 75K QPS on one ProxySQL node?

[2021-09-19 13:13] #3624 closed, assigned to nobody

[2021-09-20 13:09] mkulik-rh opened #3636 "Failed build using OpenSSL 3.0.0"
ProxySQL version: 2.3.1
OS: Fedora RH

ProxySQL fails to build using version 3.0.0 of OpenSSL. Here is file that causes an error:

`/src/proxy_tls.cpp`

[code]

Error message:

[code]

CRYPTO_mem_ctrl in OpenSSL 3.0.0 is marked as deprecated and will return -1 (error).

Here is description message from OpenSSL 3.0.0 regarding this functionality:

No other critical errors occurred during build proc

[2021-09-20 13:15] renecannao commented on #3636
Hi Mark.
ProxySQL is statically linked against OpenSSL 1.1.1 .
Therefore my question is how are you building against OpenSSL 3 ?

[2021-09-20 13:40] FaramosCZ commented on #3636
Hi,
Since Fedora packaging Guidelines do not allow bundling of the libraries in most cases, we have to de-bundle them.
  https://docs.fedoraproject.org/en-US/packaging-guidelines/#bundling

You can always check the current code of the Fedora package here:
  https://src.fedoraproject.org/rpms/proxysql/tree/rawhide

 And the file you are asking about is most likely the de-bundle patch:
  https://src

[2021-09-20 13:55] renecannao commented on #3636
Hi @FaramosCZ .
Thank you for the details.

What I meant is that ProxySQL doesn't dynamic link against the OpenSSL installed, but it is statically linked with OpenSSL in the dependencies library:
https://github.com/sysown/proxysql/tree/v2.x/deps/libssl

In other words, it shouldn't matter at all which OpenSSL is installed.
Did you get any other error while compiling?

If you let us know which Fedo

[2021-09-20 15:00] mkulik-rh commented on #3636
Hi @renecannao,

Fedora packaging Guidelines does not allow bundling common libraries like OpenSSL, SQLite3.. not allowing is probably not the right choice of words but it is discouraged. There are of course exception but usually static linking should be avoided if possible.

With release of OpenSSL 3.0.0 we are testing all packages for potential problems that will cause problem in a next release

[2021-09-20 16:47] net-expertise commented on #3017
I can connect ok to MariaDB 10.5 through proxySQL (2.3.0) from a Mysql client.
mysql-server_version='8.0.20' on proxysql

I do have a "transaction_isolation" error when using the Mysql Java connector.
It works as expected when switching to MariaDB's

[2021-09-21 17:38] frivoire opened #3637 "Docker image for version 2.3.1 not built ?"
Hello,

On **Dockerhub**, the **`2.3.1`** version doesn't seem to exist, cf: https://hub.docker.com/r/proxysql/proxysql/tags?page=1&ordering=last_updated (the most recent listed is 2.3.0)
Is it possible to build it ?

BTW: I couldn't find the related `Dockerfile`. I searched in https://github.com/sysown/proxysql/tree/v2.x/docker/images/, but that looks outdated (cf references to Ubuntu 14).
Is the

[2021-09-22 03:02] geniqtech opened #3638 "ConnUsed is always 0 after upgrading to v2.3.1"
Noticed that after upgrading from v2.2.x to v2.3.1, the ConnUsed value in stats_mysql_connection_pool is always 0 for all server. Values for ConnFree and ConnOK seems a bit too low too. Before the upgrade, ConnUsed and ConnOK is reporting hundreds of connections.

[2021-09-22 03:24] geniqtech commented on #3638
Did more tests and here's my finding:
- Downgraded back to v2.2.0 and once again ConnUsed is showing non-zero values
- Upgraded to v2.2.1 and ConnUsed stays at 0

So it seems the issue face surfaced from v.2.2.1

[2021-09-22 06:25] renecannao commented on #3638
Why it is an issue?

[2021-09-22 06:55] geniqtech commented on #3638
Would like to understand why ConnUsed is constantly showing zero because proxysql is actually handling hundreds of connection do the same period and when downgraded back to v2.2.0, the values are shown correctly

Is there any changes in behaviour from v2.2.0 to v2.2.1?

[2021-09-22 06:57] renecannao commented on #3638
Have you considered that the values are always correct?
How many connections there are on MySQL server?

[2021-09-22 07:05] geniqtech commented on #3638
It's actually a production environment that has multiple applications connecting to the database server via ProxySQL with constant load at any point of time so it does not make sense that ConnUsed is always zero

[2021-09-22 07:11] renecannao commented on #3638
You are making a lot of assumption without proper investigation.
I am not saying it is not true or there no issue, but probably there is no issue: probably 2.2.1 fixes a bug that caused 2.2.0 to use a lot of connections.
You should copy at least the output of `SELECT * FROM stats_mysql_connection_pool` and `SELECT * FROM stats_mysql_global` .

[2021-09-22 07:33] geniqtech commented on #3638
Hi René. Thanks for pointing out that v2.2.1 fixes a bug that might explain this behaviour.

As per requested, I've attached the outputs of the 2 queries.
[proxysql.txt](https://github.com/sysown/proxysql/files/7208662/proxysql.txt)

Let me know if additional information is required.

[2021-09-22 07:50] renecannao commented on #3638
The total sum of `Queries` in `stats_mysql_connection_pool` is around 45.8k .
`MyHGM_myconnpoll_get_ok` is around 32.6k .
Considering you are using prepared statements and ProxySQL may need to execute `COM_STMT_PREPARE` and `COM_STMT_EXCUTE` on the same connection, the fact that `MyHGM_myconnpoll_get_ok` is a bit smaller than `SUM(Queries)` is actually a good thing.
In short: multiplexing is your

[2021-09-22 10:39] renecannao commented on #3637
Hi @frivoire .
You are right, on Dockerhub 2.3.1 wasn't there. My mistake, now fixed.
Thank you for pointing it out.

I added the Dockerfile at the end of https://hub.docker.com/r/proxysql/proxysql .

I think this issue is ok to close, right?
Thanks

[2021-09-22 14:28] frivoire commented on #3637
Thanks René for your response and actions !!!
It's indeed ok to close now 😃

[2021-09-22 14:50] #3637 closed, assigned to nobody

[2021-09-22 16:28] #3551 closed, assigned to nobody

[2021-09-22 16:42] VerachtertAaron opened #3641 "Configuration synchronisation between ProxySQL nodes conflicting with Galera hostgroups setup"
# Description of the issue

We set up a ProxySQL cluster in an Openshift cluster as a StatefulSet. It has the following specifics *(see config file at the end)*:

* 2 replicas, i.e. 2 proxysql pods
* connected to a 3-node MySQL 8.0, multi-master Galera cluster. *In the logs, config file and helm chart, the MySQL nodes are anonymized as `node1` `node2` and `node3`*
* configured as such that all nod

[2021-09-22 21:59] mboruta1 opened #3642 "Remove absolute paths from HTTP served by the web server"
## Bug Description

ProxySQL seems to use relative paths for all links in the HTML served via its web interface with the exception of `/` (called `Home` in the interface). This is problematic when attempting to provide access to the interface via a reverse proxy. Please consider the following example:

- A reverse proxy, like HAProxy, is sitting behind a firewall with only port 443 open, listening

[2021-09-23 00:55] geniqtech commented on #3638
Hi René, thanks for your analysis and explanation. Will close this for now

[2021-09-23 00:55] #3638 closed, assigned to nobody

[2021-09-23 02:41] flachesis opened #3643 "ProxySQL is not shutting the unhealthy backend when the backend connect timeout."
Bug Description
============
ProxySQL is not shunning the unhealthy backend when the backend connect timeout.
- Connect timeout: not shunning.
- Connect failed: will be shunning.

ProxySQL version
==============
docker image: proxysql/proxysql:2.3.1

ProxySQL configuration
==================
[code]

Logs
====
[code](https://github.com/sysown/proxysql/blob/v2.x/lib/mysql_connection.cpp#L1060)
[code

[2021-09-23 18:45] mboruta1 commented on #2933
For what its worth, I experienced this with 2.2.2 and my solution was to have my proxy (which terminated the TLS connection from the client) always connect to the ProxySQL web interface via TLS. Seems like the ProxySQL web interface requires that only https be used, which is confusing given the [example](https://proxysql.com/documentation/http-web-server/) uses HTTP.

[2021-09-24 06:58] renecannao commented on #2933
Documentation updated: indeed, only HTTPS is supported.
Sorry about the confusion.

[2021-09-24 06:58] #2933 closed, assigned to nobody

[2021-09-24 11:42] frivoire opened #3644 "Unable to parse unknown SET query (`SET STATEMENT max_statement_time=60 FOR SELECT 1`)"
Hello,

I got the following message with ProxySQL `2.3.1`:
[code]
No visible impact for me, I'm just reporting it as advised for improvement 😃

**Context** (even if probably not really important here):
This query is coming from a Java app that is using the Apache `commons-dbcp2` plugin for a healthcheck of connections in its pool. The backend is a MariaDB 10.3.
More infos here if needed: https://g

[2021-09-27 09:36] Sejcek1 commented on #3546
Hi @JavierJF,

I can confirm that it is now OK, the ProxySQL >=2.2.1 with our application works well and no longer crashes.

Thanks for your work and quick fix.

[2021-09-29 02:11] juwell commented on #3428
if the workload continues to be heavy, how can i calculate `max_prepared_stmt_count` value?

If the query is stopped, how long will the backend connection wait before returning to the connection pool?

[2021-10-01 07:34] steffnm commented on #2702
Hi,

this message appears after I start my DBeaver Database client:
2021-10-01 08:57:16 MySQL_Session.cpp:7093:unable_to_parse_set_statement(): [WARNING] Unable to parse unknown SET query from client 192.168.7.201:57484. Setting lock_hostgroup. Please report a bug for future enhancements:SET @ApplicationName='DBeaver 21.2.1 - SQLEditor <Script-1.sql>'

this message appears after Sphinx starts the

[2021-10-01 13:05] imp3142 opened #3649 "mysql-shun_recovery_time_sec not reliable when there's not traffic to the host group"
Hello,

`mysql-shun_recovery_time_sec` has a nice notice of:

I believe that a couple of seconds is weird but acceptable, although I'm afraid in reality there are cases in which it could be extremely long.

ProxySQL version: `2.2.0-percona-1.1`, running on RHEL7. Steps to reproduce:

01) Create two hostgroups with some instances. It's important one node (let's call it X), is added to the both host

[2021-10-01 21:02] dhayhak commented on #2317
@bryanspears I just did some tests (using 2.2.2) and I can confirm that:
 - You need to add a single instance's (writer or reader) endpoint as a hostname to `mysql_servers` (It should be the full thing, not just the instance name)
 - Set the `domain_name` as part of the `mysql_aws_aurora_hostgroups`.

 This should work correctly, at least with 2.2.2. Proxysql was able to detect newly added readers

[2021-10-02 14:20] Vladislavik opened #3650 "High CPU usage on clear install"
Hi, on highloaded server i have try to use proxysql, but it use CPU more than MySQL 8
- ProxySQL version 2.2.0 (threads = CPU)
- Debian 9 64b
Connection from php 7.4 (mysqli) to ProxySql and from ProxySql to Mysql via sockets, **no tuning for cache, no other tuning, just proxy, clear install** and cpu usage goes up to 2x (+1000%), what can be problem?

![15a6d18f023425ed94a8b2562d7d7cfa](https://u

[2021-10-02 18:32] thomas81528262 opened #3651 "mysql engine = ndbcluster very slow, but no issue with egine = innodb"
Hi

Any one get the issue of the slow query if the result set is vary large when the Engine is ndbcluster?
However, if I switch back to innodb the slow query issue will be solved on the same host.

I try to not query the json column, the ndbcluster has no issue, but if I include the json column the query will be very slow because of the large result set.

The ndbcluster will take 10 sec, but innod

[2021-10-04 14:04] frivoire commented on #3650
From what I understand, you have installed ProxySQL on the same machine than the MySQL daemon and configured it with `threads = CPU` (so 48 threads I guess)
But that setting is better suited when ProxySQL is the **only app** on the machine.
In your situation (**shared** machine), I would reduce the nb of threads to maybe ~50% the nb of cores (so 24) or even less to avoid unnecessary parallelizatio

[2021-10-05 08:03] srikiraju commented on #3535
A lot of applications (or ORMs) run all queries inside a transaction while there is no need for it, thus mysql-enforce_autocommit_on_reads is off by default.

@renecannao Is this a good default? This means proxysql isn't always a drop-in replacement for folks who expect this to be backward compatible perfectly MySQL and expect implicit transactions with `set autocommit=0` even for selects

[2021-10-05 08:29] renecannao commented on #3535
@srikiraju : I don't know if it is a good default or not, if it positively or negatively affects the majority of users.
What I know by experience is that the majority of developers I worked with in the past weren't aware that ORM automatically sends `set autocommit=0`, that a transaction is started automatically, and they didn't see a problem with transaction running for hours or days.
I am referr

[2021-10-05 08:38] srikiraju commented on #3535
We ran into the same situation(and its probably been very good for us) - maybe some more explicit documentation would be nice :)

[2021-10-05 10:21] markuman opened #3653 "Please report a bug for future enhancements"
[code]

proxysql 2.2.2

[2021-10-05 10:57] markuman commented on #3653
It looks like

`insert into mysql_query_rules (active, match_pattern, multiplex) values (1, "^SET lc_time_names = .+", 1);` solves this issue.

but no idea if there are any side-effects ....

[2021-10-05 11:01] renecannao commented on #3653
Hi @markuman .
Do not "solve the problem".
ProxySQL is doing the safe thing here: multiplexing needs to be disabled.
In future we may add support for `lc_time_names` .

[2021-10-06 13:53] zafermalik commented on #3616
First of all sorry for late response, as I was busy in some other project and could not test it with latest version. Now I have tested it with latest version and it is working fine. Thanks a lot @renecannao

[2021-10-06 13:53] #3616 closed, assigned to nobody

[2021-10-06 17:49] thunkWaltz commented on #2497
Hi, Looks like there are some conflicts in the merge, so fix is still not available. Is there any plan to take this fix?

[2021-10-07 22:26] mboruta1 opened #3654 "Some metrics reported via the REST API look to be off by orders of magnitude"
## Bug Description
Hello, during my testing of the REST API I found the following issues:

- `proxysql_slow_queries_total` shows values virtually identical to `proxysql_questions_total` even though `mysql-long_query_time` is set to 10000 and `Slow_Queries` shows 0:

[code]
My guess is that its an issue with [this](https://github.com/sysown/proxysql/blob/v2.2.2/lib/MySQL_Session.cpp#L253) check.

-

[2021-10-08 08:22] #3057 closed, assigned to nobody

[2021-10-08 08:23] #3008 closed, assigned to nobody

[2021-10-08 08:24] #2964 closed, assigned to renecannao

[2021-10-08 12:13] rradillen commented on #3641
+1

[2021-10-08 19:45] shoeheart opened #3655 "version 2.3.2 crashing when client connects in Amazon Linux 2"
We build a VirtualBox environment via packer and vagrant and just updated our scripts to install 2.3.2 (previously had been using 2.2.0 in vagrant, and are still running 2.1.0 on staging and production environments).  We're using latest VirtualBox 6.1 running on Mac 11.6.

After building this new image, connecting to proxysql admin works fine, but connecting to proxysql via mysql client using sock

[2021-10-08 20:29] denishpatel commented on #3655
[core.15788.zip](https://github.com/sysown/proxysql/files/7314013/core.15788.zip)

See attached core file

[2021-10-08 20:46] renecannao commented on #3655
[code]

Please, do not disable `mysql-query_digests` .
This is a bug because proxysql crashes when `mysql-query_digests` is `false` , but please: do not disable `mysql-query_digests`!
It is really unsafe to run proxysql with `mysql-query_digests=false` because it doesn't analyze queries.

Thanks

[2021-10-09 17:44] leenoix opened #3656 "[Feature] COM_RESET_CONNECTION for resetting connection"
Currently, it looks like proxysql is using COM_CHANGE_USER for resetting the connection.
However, the backend we are using (vitess) is not supporting COM_CHANGE_USER, but it only has support for COM_RESET_CONNECTION.
Furthermore, AFAIK, COM_RESET_CONNECTION is light weight version when resetting the connection, so I think it would be very nice if we can control wether to send COM_CHANGE_USER or CO

[2021-10-09 18:08] renecannao commented on #3656
Hi @leenoix !
There is some history behind this.
`COM_RESET_CONNECTION` was introduced in MySQL 5.7 : so we opted to always use `COM_CHANGE_USER` to be as backward compatible as possible.
That is, our idea was to use `COM_CHANGE_USER` because it is always available on the backend, no matter the version of MySQL.
To know that Vitess supports `COM_RESET_CONNECTION` but doesn't support `COM_CHANGE_US

[2021-10-09 19:06] leenoix commented on #3656
@renecannao
Thank you for your super quick response :)
We will use connpoll_reset_queue_length=0
Thank you for considering scheduling the feature 👍 Looking forward to it!

[2021-10-09 19:06] leenoix commented on #3656
By the way, it seems like setting this variable to 0 almost always doesn't cause COM_CHANGE_USER, but sometimes we are facing some COM_CHANGE_USER related errors in proxysql logs even with the value set to 0. (We are sure that value is 0 since we have used this value for months without modifying )

`2021-10-09 18:25:19 MySQL_Session.cpp:1533:handler_again___status_RESETTING_CONNECTION(): [ERROR] D

[2021-10-11 17:43] sf-jin-ku commented on #3656
@renecannao we're also that even with "connpoll_reset_queue_length=0", COM_CHANGE_USER is happening in 2.0.16. any situation you can guess? maybe upgrading to the latest version is suggested?

[2021-10-12 09:08] Plissmile commented on #3538
@renecannao @JavierJF  Could you help me to find out why proxysql doesn't imporve performace of my go web application? The read QPS of the Go web application while using proxysql and mgr is equal to while using master-master architecture.

[2021-10-12 16:52] JavierJF commented on #2696
This has been documented in https://proxysql.com/documentation/main-runtime/#debug_levels.

[2021-10-12 16:52] #2696 closed, assigned to pondix, alpes214

[2021-10-13 14:51] utdrmac commented on #2580
1+ year old issue. MySQL 8.0 is extremely popular. Still don't have secure caching_sha2 via ProxySQL. Any updates here?

[2021-10-13 14:59] renecannao commented on #2580
@utdrmac : thank you for commenting in this issue.
ProxySQL does support MySQL 8.0 , and the documentation clarifies this. `caching_sha2_password` for backend connections **is** supported.

I am closing this ticket, because this is not an issue any longer.
To highlight what is written in the documentation:

If you are still unable to connect to MySQL 8.0  and you have a reproducible test case, ple

[2021-10-13 14:59] #2580 closed, assigned to nobody

[2021-10-13 15:02] Tusamarco commented on #2580
From here: https://proxysql.com/documentation/MySQL-8.0/
[code]

For reference

[2021-10-13 15:05] renecannao commented on #2580
Hi @Tusamarco .
What you copied is relevant prior to ProxySQL 2.0.2 .
For newer versions these limitations do not apply any longer.
Thanks

[2021-10-13 15:07] Tusamarco commented on #2580
I know this is why I added for reference ;) it is also state in the text. From  2.0.2 and older.

[2021-10-13 16:47] utdrmac commented on #2580
Cleartext passwords are not acceptable in any production system. This should remain an open bug.

[2021-10-13 17:21] renecannao commented on #2580
This sounds more like a feature request than a bug

[2021-10-14 09:29] huazi928 commented on #3581
yes

[2021-10-14 13:52] KKulishov opened #3659 "Mysql query error: (9006) ProxySQL Error: connection is locked to hostgroup 10 but trying to reach hostgroup 20"
Hi!

When setting read-write-split proxysql , catch error (the error occurs periodically , she is not permanent )
[code]

my version proxysql  (use docker image proxysql/proxysql:2.1.0 )
[code]
my config file
[code]
ProxySQL in kubernetes.

log proxysql
[code]
if I remove from the configuration
[code]
then everything works.

Can you help me

[2021-10-14 14:52] federico-razzoli opened #3660 "Make autodiscovered readers max_connections configurable"
I understand that autodiscovered readers have `max_connections=10`, unless a backend in the same hostgroup with higher `max_connections` exists. I did not check 2.1: my observations and this request are based on 2.0.

It would be great if `mysql_aws_aurora_hostgroups` table had a `new_reader_max_connections` column, which would be similar to `new_reader_weight`. For compatibility, you could keep t

[2021-10-14 14:56] renecannao commented on #3660
This seems a reasonable feature request.
Thank you for the feedback

[2021-10-18 01:57] judyYujie commented on #2293
"no you can't . Your client is the one closing the connection, not proxysql"
When proxysql closing the unhealthy connection?  The connection arrive the proportion of the max connection or at fix time ?

[2021-10-18 02:52] judyYujie commented on #2293
Besides, the client says it has 85 connection to proxysql by command "ss -np| grep proxysqlip|wc -l", but proxysql says it has 200+ connection to client by command "ss -np| grep clientip|wc -l"

[2021-10-18 12:50] guqiu369 opened #3662 "proxysql 2.0.12 version can not be built from source code"
Hi, i just try to build proxysql 2.0.12 from source code but failed, i don't know what happend? could you pls help to give me some advices, thanks.
1. ProxySQL 2.0.12
2.OS version: Centos 8
3.installation Steps
tar -zxf proxysql-2.0.12.tar.gz
cd proxysql-2.0.12/
export GIT_VERSION=2.0.12
make && make install
4.configure: error: cannot guess build type; you must specify one
make[1]: *** [Makefile:1

[2021-10-18 19:32] VinaySagarGonabavi opened #3663 "Include transaction_isolation to the list of hardcoded session variables that do not disable ProxySQL multiplexing"
MySQL 8 has the session variable @@tx_isolation deprecated and only supports the synonym @@transaction_isolation

While upgrading our MySQL servers from MySQL 5.7.23 to MySQL 8.0.21, we chose to change the usage to the new session variable in our internal library built on top of SQLAlchemy.

However, this has effectively disabled ProxySQL multiplexing https://github.com/sysown/proxysql/blob/9829c6

[2021-10-19 04:58] haihq88 commented on #2908
@alex-hohol restart proxysql will create downtime for your service. i have perl script to close all close-wait, it works in Linux (centos7 in my current environment). You can set it run in cron (daily for example).
[code]

[2021-10-19 06:52] andreas-glaser commented on #2098
This isn't expected behavior as far as I'm concerned. This is what i expected and wanted to achieve:

I've got 5 nodes and have `mysql_galera_hostgroups` configued like so:

`REPLACE INTO
  mysql_galera_hostgroups (
  writer_hostgroup,
  backup_writer_hostgroup,
  reader_hostgroup,
  offline_hostgroup,
  active,
  max_writers,
  writer_is_also_reader,
  max_transactions_behind )
  VALUES(0,10,20,9

[2021-10-19 09:25] judyYujie opened #3665 "proxysql not close connection which is not healthy"
Hi.
proxysql version: 2.0.7
os: Centos7.6

We use two proxysql as master and backup,  use keepalived for high availability. When try to let vip pass from proxysqlA to proxysqlB, then get back to proxysqlA, the number of connection in proxysqlA is twice of the number before pass. The port shows in proxysqlA using "ss -np"  not exist in client using "ss -np".
Until 8 hour later, reaches the default

[2021-10-19 16:38] netcyberg commented on #2197
Can someone please explain on how to fix this issue with any "SET..." command in application queries? They all fail with Warning in proxysql log:
...[WARNING] Unable to parse multi-statements command with SET statement...

What is the solution?

[2021-10-19 16:42] renecannao commented on #2197
@netcyberg:
`SET` commands in multi-statements are not supported.
So the simple fix is to stop using SET commands in multi-statements

[2021-10-19 17:03] netcyberg commented on #3622
So there's no way to resolve warning in proxysql.log regarding any SET commands in application?
The /var/lib/proxysql/proxysql.log is getting full of such warnings:
... [WARNING] Unable to parse multi-statements command with SET statement...

Is there at least way to disable those warning or disable proxysql logs?
The log files are growing too fast.

[2021-10-20 07:12] AnAn07 opened #3666 "How can we redirect a user to connect to writer hostgorup always..."
How can we redirect a user to connect to writer hostgorup always in proxysql.
I tried setting up default hostgroup to writer for this user but its not working, for some reason we only want to select from master always in three node mariadb galera cluster.

Thank you.

[2021-10-20 16:08] lucagervasi commented on #3446
This would be a great addition. When I first scouted proxysql I was in hope that "frontend" and "backend"  fields in the user tables had this exact purpose.
Following this request :)

[2021-10-20 22:08] dyipon commented on #3666
Hi,

im using this query rule to route a user to the given hostgroup:
_{ rule_id=100, active=1, username="webshop-cli", destination_hostgroup=2, apply=1_  }

[2021-10-21 02:29] AnAn07 commented on #3666
Hi @dyipon, thanks for the reply. It works for me as well.

[2021-10-21 02:29] #3666 closed, assigned to nobody

[2021-10-21 08:50] cui3093 opened #3667 "Proxysql crashed, and can not autorestarted after crash,"
This is the place to report a **reproducible bug**, **documentation error** or **feature request** for ProxySQL.

Support questions will not be answered here. For community support, use the Google forum: https://groups.google.com/forum/#!forum/proxysql
* Note that due to time constraints ProxySQL engineers may be slow to respond to forum posts
* For information on paid support contracts: https://p

[2021-10-21 09:18] renecannao commented on #3667
Hi @cui3093 .
The error log is missing, configuration is missing, core dump is missing...
There isn't much we can help here: unless the above are provided, this issue will be closed.

My 2c from the very little I see:
a) "can not autorestarted after crash" : this seems incorrect, in the snipped you copied there is an auto-restart
b) write failed. Maybe you ran out of disk space?

[2021-10-21 13:25] cui3093 commented on #3667
Hi, Renecannao, sorry for this issue, really out of disk space.

[2021-10-21 13:25] #3667 closed, assigned to nobody

[2021-10-22 11:54] michaeldg opened #3669 "Multiplexing should be disabled after SET ROLE command"
This is the place to report a **reproducible bug**, **documentation error** or **feature request** for ProxySQL.

Support questions will not be answered here. For community support, use the Google forum: https://groups.google.com/forum/#!forum/proxysql
* Note that due to time constraints ProxySQL engineers may be slow to respond to forum posts
* For information on paid support contracts: https://p

[2021-10-22 19:23] jdanilson opened #3670 "force proxysql to pin to failed over node"
When proxysql detects an issue on a Percona Galera node and fails over to another node is it possible to make the failed to node sticky such that when the failing node recovers, the new node has a higher weight so that connections will not fail back.  We want the connections to remain on the failed to node.

[2021-10-22 19:25] jdanilson opened #3671 "clean up connections on failed node after recovery of failed node"
When proxysql detects an issue on a percona galera node and fails over to another node is it possible to clean all connections from the failing node when it returns to service.  We want to prevent any possibility of writes on more than one galera node.

[2021-10-22 19:42] renecannao commented on #3671
This is exactly what should happen.
Error log should show records of all the actions performed, including killing all the connections to the failed node.

I am not sure why you ask to clean the connections **when it returns to service** . The connections are killed as soon as the server is detected as faulty.

[2021-10-22 19:51] renecannao commented on #3670
The key to answer this is in your own comment https://github.com/sysown/proxysql/issues/3671#issue-1033884877:

If you are running more than a single proxysql instance (and running multiple proxysql instances is recommended) we need to ensure that all proxysql instances agree on which server is the writer. That means that all the proxysql instances must have a deterministic algorithm to choose the

[2021-10-23 19:54] jdanilson commented on #3671
Rene,
Thanks for your comments.

We are enthusiastic users of Proxysql with over 150 hosts running the software.  For the most part it does exactly what we want.  Perhaps due to our implementation method we face a continuing problem,

We started using proxysql over two years ago to front our Percona Galera cluster nodes.    The first two attempts at deployment failed as we could never get the appl

[2021-10-24 08:47] mohamedkashifuddin94 opened #3672 "Access denied while connecting via proxysql to MySQL pxc"
- [ ] A  description of the issue

The issue which i m facing is i m connecting proxysql > pxc MySQL so when try to connect via proxysql to MySQL it shows  a error
```2021-10-23 17:39:57 mysql_connection.cpp:835:handler(): [ERROR] Failed to mysql_real_connect() on mysql-cluster-rg-1-haproxy.mysql1.svc.cluster.local:3306 , FD (Conn:32 , MyDS:32) , 1045: Access denied for user 'root'@'10.56.0.102' (

[2021-10-25 17:49] flavianc opened #3673 "mysql-server_version support for backend 5.7 and 8.0"
We are upgrading our MySQL from 5.7 to 8.0.

Currently, mysql-server_version is set to 5.7.{version}, but now when we are upgrading some of our clusters to MySQL 8.0 , our app throws an error related to mysql-connector-java, since mysql-connector-java assumes DB is 5.7(due to proxysql version set) even though DB is upgraded to MySQL 8.0.

How can we keep mysql-server_version dynamic for multi-vers

[2021-10-26 09:43] renecannao commented on #3673
You can't.
In the MySQL Protocol, the server side is the one that initializes the handshake, and as part of the handshake it sends a version string.
Details here: https://dev.mysql.com/doc/internals/en/connection-phase.html

That basically means that when you create a TCP connection to ProxySQL , the very first packet exchanged between the client and ProxySQL is from ProxySQL to the client, and it

[2021-10-26 10:38] renecannao opened #3674 "Update stats_history.history_mysql_status_variables"
The current table definition for `stats_history.history_mysql_status_variables` is as follow:
[code]

This worked well as a POC, but it doesn't scale well (it is a know issue).
We need to replace `variable_name` with a variable id.

- [ ] The new table structure needs to be:
[code]

- [ ] Add new index:
[code]

- [ ] We also need a look-up table, for example:
[code]

- [ ] reimplement how `history

[2021-10-26 15:25] #3663 closed, assigned to nobody

[2021-10-26 16:47] flavianc commented on #3673
Thanks, I'm planning to use another cluster of proxysql set with 8.0. during 5.6 to 5.7 we face similar issue with microseconds feature usage. So setting new pair makes more sense.

To solve this, can't we add new feature set which at mysql_server we add another column to add backend server version. This should solve many future migrations and subversion upgrade which will demand new features usag

[2021-10-26 16:52] renecannao commented on #3673
I explained that proxysql sends a version to the client as soon as the client opens a socket.
The client isn't even authenticated.
What you are suggesting makes sense only when routing query: that is happening way way way later

[2021-10-26 16:58] flavianc commented on #3673
Got it, thanks

[2021-10-27 18:00] markusalbe commented on #2645
You can delete the admin user via sqlite interface; To showcase I first reproduced the problem:

[code]

And then using the sqlite3 you can delete it:
[code]
Now the user is no longer there, but the change was not loaded to runtime, so it still fails:
[code]
After restart it will then work correctly:
[code]

[2021-10-27 22:26] ckyoog commented on #1249
@dalmatele , yes, it does for me. I used to have an issue which turned out that read after update in same transaction will return stale value. After set `transaction_persistent` to 1 for the user, the issue is gone.

@dalmatele the feature described in the link has some noteworthy limitations for some scenario, like, as of that writhing, the feature doesn't work with MariaDB, because mariadb doesn

[2021-10-28 22:15] bc-ashokmahajan opened #3677 "HikariCP + ProxySQL Errors"
We are using ProxySQL for our entire non production environment for the past one year and recently we have started using it for the production environment also. Most of the time, things work fine, but  we are seeing a serious issues with the applications which use HikariCP (Hikari connection pool) to connect to the databases:

Whenever there is a change in reader hostgroup configuration (which cou

[2021-10-28 22:18] MatthewMiller2 commented on #698
@jrcarlsen @halindrome I have worked around this problem by creating tables/inserting data before running mysqlslap, and then running mysqlslap like `mysqlslap --query=<queries> --no-drop`. The queries can explicitly select from a schema. Not perfect, but at least allowed me to run some tests. And should be able to be automated via a script.
Note, I am doing this with MariaDB, I'm not sure if ther

[2021-10-28 22:31] bc-ashokmahajan commented on #3677
Please use this link: https://www.dropbox.com/sh/emtg0cq1c3q7fjf/AAAGC9wsShhMw65iLiWLyX4Ta?dl=0 for the logs and other informations.

[2021-10-29 01:50] jaredev commented on #3674
Pull request: https://github.com/sysown/proxysql/pull/3678

[2021-10-29 05:47] mohitj1988 opened #3679 "Compiling and getting libcurl zstd undefined reference error"
Getting this error during proxysql compilation.

`../deps/curl/curl/lib/.libs/libcurl.a(libcurl_la-content_encoding.o): In function `zstd_close_writer':
content_encoding.c:(.text+0x108): undefined reference to `ZSTD_freeDStream'
../deps/curl/curl/lib/.libs/libcurl.a(libcurl_la-content_encoding.o): In function `zstd_unencode_write':
content_encoding.c:(.text+0x1b6): undefined reference to `ZSTD_dec

[2021-10-29 05:47] mohamedkashifuddin94 commented on #3672
Hi @renecannao @pondix  were you able to reproduce the issue ? or any more info needed ?

[2021-10-29 09:18] renecannao commented on #3677
It is not clear what you are describing.
For example, you claim you shutdown a reader, but I see a lot of errors about a writer being demoted.
Then, when 10.128.0.60 is demoted to become a reader, it seems you turn it off.
In the hostgroup  you have:
* 10.128.0.60 with weight 1000000
* 10.128.1.126 with weight 1000000 , but it is shunned because of replication lag
* 10.128.1.189 with weight 1
So ,

[2021-10-29 16:10] bc-ashokmahajan commented on #3677
Yesterday a lot of maintenance work (mysql upgrate) was going on, so many nodes from other clusters were restarted and I think it cluttered the proxysql.log (one of node xx.xx.x.189 mentioned by you is not part of the cluster I was describing). I will reproduce the issue again and upload a clean log which clearly demonstrates this issue on a single cluster.

However I do want to provide explanatio

[2021-10-29 18:49] bc-ashokmahajan commented on #3677
Reproduced the issue today and uploaded all relevant files. All the steps are mentioned in description_of_issue.txt file of folder. Please do let me know if you have any questions.

[dropbox folder link](https://www.dropbox.com/sh/emtg0cq1c3q7fjf/AAAGC9wsShhMw65iLiWLyX4Ta?dl=0)

[2021-10-29 22:00] bc-ashokmahajan commented on #3677
One more issue which our application team brought to our attention is that connection creation and connection acquisition times for the HikariCP (metrics hikaricp_connection_creation_millis and hikaricp_connection_creation_millis, please [see hear](https://blog.fireheart.in/a?ID=9b10ae30-7b35-4ab4-9e8a-30b446cc4599) for the definition of these metrics) are way higher when this connection pool is c

[2021-10-30 00:14] bc-ashokmahajan commented on #3677
Also uploaded the file Hikari_Connection_creation_time_with_proxysql_after_restart.PNG to show how connection creation times change after restart.
(15:10 to 15:14 was the time when ProxySQL instances were restarted in rolling fashion.)

[2021-10-30 12:01] GabrieleCalarota commented on #1407
Facing this issue as well on `ProxySQL version 2.0.1-4-gac2e710, codename Truls` with this tracelog, trying to connect with a user for a read replica instance from google cloud SQL to an external MySQL server, in the middle of which proxysql expose a port.

[code]

[2021-10-30 12:20] GabrieleCalarota commented on #2476
I have the same issue

[2021-10-30 12:25] renecannao commented on #2476
Please upgrade

[2021-10-30 12:25] #2476 closed, assigned to nobody

[2021-10-30 12:26] renecannao commented on #1407
Please upgrade

[2021-10-30 12:27] GabrieleCalarota commented on #2702
I see a very similar message on this version

`ProxySQL version 2.3.2-10-g8cd66cf, codename Truls`

[2021-10-30 12:49] GabrieleCalarota opened #3681 "Setting up External Read Replica Connected to ProxySQL to MASTER"
## Description
Trying to set up a Google Cloud SQL Read Replica on an external mysql server master, on top of which is installed proxysql to expose localhost ONLY database to external remote through a different port.
The connection is ok, but when replica starts on google cloud side I see this error

[code]

## Proxysql version

`ProxySQL version 2.3.2-10-g8cd66cf, codename Truls`

## OS Version

[2021-10-30 12:56] GabrieleCalarota commented on #1407
Thanks I've upgraded to v2.3.2, but still have problem with my activity opened in issue #3681, could you have a look at it?

[2021-10-30 13:02] renecannao commented on #1407
Stop linking unrelated issues :)

[2021-10-30 13:03] GabrieleCalarota commented on #2476
My issue is this, I'm using latest version #3681

[2021-10-30 13:04] renecannao commented on #3681
21 = COM_REGISTER_SLAVE , see https://dev.mysql.com/doc/internals/en/com-register-slave.html

If you want to use proxysql as a middle layer for replication, the replication user should be configured with `fast_forward=1` in `mysql_users`

[2021-10-30 13:04] GabrieleCalarota commented on #1407
Yep, sorry it was meant for the other issue with same comment you made, it wasn't related to this

[2021-10-30 13:05] GabrieleCalarota commented on #3681
If it works, you literally are my hero, in case let me know how can I buy you a very fancy coffee ;)

[2021-10-30 13:05] renecannao commented on #2476
@GabrieleCalarota : you are spamming unrelated issues.
You claim you are using Google Cloud SQL , yet saying you are having the same issue on an issue related to Galera.

[2021-10-30 13:27] GabrieleCalarota commented on #3681
Thanks, I've updated fast_forward=1 on `mysql_users` on the replication user, but I'm still seeing this on Google SQL cloud logs

[code]

On proxysql I'm seeing only this as the issue

[code]

[2021-10-30 20:00] Castaglia commented on #2879
Perhaps a way of improving this situation would be to _only_ use `mysql-shun_on_failures`, and ignore `mysql-connect_retries_on_failure`, if the hostgroup only has a single host?  We, too, are experiencing this unexpected shunning, of a single host hostgroup, despite having `mysql-shun_on_failures` set to its maximum value, because of this unexpected use of the `mysql-connect_retries_on_failure` v

[2021-11-01 07:26] hcymysql opened #3682 "proxysql doesn't support clickhouse?"
proxysql doesn't  support clickhouse?

[2021-11-01 07:29] calvin2020 opened #3683 "mysql slave node in writer_hostgroup and OFFLINE_HARD"
Hi:

I have three mysql master-slave nodes,after I config and start in proxysql,I encounter an issue,mysql slave node in writer_hostgroup and the status is OFFLINE_HARD,reading request can't be routed in this slave node,can you help me to find the reason?
thanks

mysql version:5.7.32
proxysql version:1.4.16
mysql master node:192.168.137.201
mysql slave nodes:192.168.137.202,192.168.137.203
the det

[2021-11-01 07:48] #3682 closed, assigned to nobody

[2021-11-01 07:49] renecannao commented on #3683
And this is a problem because... ?

[2021-11-01 07:59] calvin2020 commented on #3683
Normally,I think reading request can be routed in any slave node,not only in one slave node,in my case,reading request can only be routed in this slave node(192.168.137.203)

[2021-11-01 13:04] AgileStas commented on #3679
linking libcurl with zstd can be prevented with `--without-zstd` parameter to curl `configure.sh`:
[code]

[2021-11-01 16:53] morganhowarth-fd opened #3684 "Galera hosts not shunning/failing over on host failure"
# Issue Description
We have multiple applications and multiple Galera clusters (Percona XtraDB Cluster) and we've found that sometimes when ProxySQL is restarted or a backend host fails ProxySQL does not always detect this (though some instances do) and I've had to go into the admin interface and run anything like `select * from runtime_mysql_servers` a few times before it seems to kick ProxySQL i

[2021-11-02 03:16] zhaopinglu commented on #1994
Hit the same error and solved it.

If the following query return nothing, then the monitor function will raise the error.
select ... from sys.gr_member_routing_candidate_status;

The definition of view sys.gr_member_routing_candidate_status (https://gist.github.com/lefred/77ddbde301c72535381ae7af9f968322):

CREATE OR REPLACE VIEW sys.gr_member_routing_candidate_status AS
SELECT
    sys.gr_member_i

[2021-11-02 14:15] asivado commented on #3684
Hi! I tried reproducing the issue with PXC - with three active nodes in the cluster. ProxySQL did instantly fail over in the following scenarios:
- a db node was switched to `read-only`
- a db node (current writer) was crashed on purpose while there was ongoing traffic
- a db node was stopped, and ProxySQL was restarted afterwards (the one you provided the steps for)

All of these gave the expecte

[2021-11-02 16:09] morganhowarth-fd commented on #3684
Hi, thanks for your reply and testing. I had a feeling that your reproducing steps would have yielded "as expected" behaviour because I couldn't find anyone else with the similar issue to what we're facing. It it a strange one indeed.

Here are the logs from the time our writer crashed unexpectedly. `2021-10-26 11:22:17` is when I logged into the ProxySQL instance and run a few select queries to k

[2021-11-02 17:24] asivado commented on #3684
The Hostgroups Manager watches over the connections in real-time and can report if something happens to a backend immediately in 99% of the cases and set it to SHUNNED status (and attempt to bring it back online after some amount of time), but it doesn't send pings or do any other background health checks. That is done by the Monitor module, which, in the logs you provided, only reports the ping t

[2021-11-02 18:12] scouture-bw commented on #2059
Dealing with the same issue here as well. Whenever the client issues a CALL() query, it gets no answer from ProxySQL.

[2021-11-03 11:34] morganhowarth-fd commented on #3684
This is correct, the other 2 nodes were perfectly fine and one of them only got promoted to ONLINE once I queried the `runtime_mysql_servers` table a few times.

Here's the global variables table with sensitive values stripped out:

[code]

Thanks!

[2021-11-03 12:45] michaeldg opened #3685 "Please improve the documentation for writer_is_also_reader"
Hi,

Can you please improve the documentation for writer_is_also_reader?

It is unclear to me what the value should be if I want the write node to be used for reading when there is only 1 node left in the cluster.
Page: https://proxysql.com/documentation/main-runtime/

Thank you!

[2021-11-03 17:30] asivado commented on #3684
Thanks for the information! Not seeing anything out of the ordinary yet... But here are some further questions:
- You mentioned that *some* ProxySQL instances behave like this, does that mean that it always occurs on a certain number of them and always on the same ones?
- How are the instances set up? I know they are on the app nodes, but do they communicate straight to the backends or do you have

[2021-11-04 08:51] morganhowarth-fd commented on #3684
No, it seems to be completely random

How are the instances set up? I know they are on the app nodes, but do they communicate straight to the backends or do you have a cluster (and an active node) that receives and forwards communication?

They communicate straight to the backend without any sort of clustering

Sure, "db3" is only one of several PXC clusters we have, on different hardware, in diff

[2021-11-04 17:21] asivado commented on #3684
If you could test it and send the logs from an instance that behaves correctly and one that doesn't during the test, it might be helpful to compare. Assuming (as you said) that all ProxySQL instances have the same config. If these happen randomly, I'm not sure... but if not, please also send the hardware info for those that don't fail over properly! Thanks!

[2021-11-05 10:03] morganhowarth-fd commented on #3684
I will forcefully shutdown the writer in our test cluster once no one is using it, but in the meantime I've found a few more weird issues by checking our Datadog logs for hosts that are spamming ProxySQL logs (usually an indication that something is wrong).

These logs come from instances from different app clusters, different PXC clusters, and different datacenters.

"app1" - https://gist.github.

[2021-11-05 10:08] morganhowarth-fd commented on #3684
I guess it's also worth mentioning that we have MySQL read-replicas (not PXC) on the same hardware as our PXC clusters and the app servers which use those do not have these random issues. They're also deployed/managed with puppet.

So it seems it's only our apps that use PXC clusters are having these issues.

[2021-11-05 14:13] moliniao999 commented on #2391
I have the same problem, is there a solution?

[2021-11-05 14:17] moliniao999 commented on #2391
I have the same problem, is there a solution?

[2021-11-05 14:18] moliniao999 commented on #2391
hello, I have the same problem, is there a solution?

[2021-11-05 14:19] moliniao999 commented on #2391
hello，I have the same problem, is there a solution?

[2021-11-06 07:06] tacitus-def opened #3687 "Please add logging a parameters of prepared statements"
Hi!

Can you please add logging a parameters of prepared statements, not only SQL query with placeholders?

Thank you!

[2021-11-07 15:35] LuDell commented on #2391
I have the same problem. Is there a solution now?

[2021-11-08 03:28] LuDell commented on #2391
I have the same problem. Is there a solution now?

[2021-11-08 12:38] morganhowarth-fd commented on #3684
I've managed to replicate our issue on a production cluster during a maintenance window.

App servers - 4
PXC nodes - 3

https://gist.github.com/morganhowarth-fd/93a929c0d9917703d5da27a43d27bfa5

I've added all of the logs from each app server in the gist above, as well as the `select * from runtime_mysql_servers` query from each server after the forceful shutdown of the writer at the end of the g

[2021-11-08 12:48] morganhowarth-fd commented on #3684
More testing - I was interested to see what would happen if I shutdown MySQL gracefully rather than an unexpected shutdown event and it seems to work as expected with failover and failback working automatically.

Logs from one of the app servers (the logs were pretty much identical between the app servers)

https://gist.github.com/morganhowarth-fd/fefe0f2b52a8bb7a3f9c9972ef4f3591

In the logs I no

[2021-11-08 16:53] RyanKlann commented on #3660
+1

This would be amazing.

[2021-11-08 17:14] asivado commented on #3684
Re the second test, yes, it's expected - like you pointed out, it says that in the log.

As for the other test: it's interesting that server1 and server4 show different behavior than the other two - are there any differences on the hardware-level between that two and the other ones? The logs, however, all report the same problem:
[code]
While still failing to promote a new writer, the connection e

[2021-11-08 17:46] morganhowarth-fd commented on #3684
All instances including the PXC servers are on AWS EC2 on AWS Outposts. The hardware on the Outpost is identical to the stuff AWS use in their datacenters and all EC2 instances are on identical physical hardware (c5 class instances). As I said in previous posts we have this problem across all our own datacenters (~7 running on this type of hardware) and they all have the same problem.

We have som

[2021-11-09 14:48] vladzu opened #3688 "Feature request - limit pool size for user/database pair."
**feature request** for ProxySQL - limit pool size for user/database pair.

In pgbouncer (https://www.pgbouncer.org/config.html) there is such thing like **default_pool_size**
How many server connections to allow per user/database pair. Can be overridden in the per-database configuration.

This allow one single user to have limited amount of connections towards one particular schema.

Or is there

[2021-11-10 00:06] bc-ashokmahajan opened #3689 "ProxySQL crashed while querying stats_mysql_query_digest_reset table"
Today one of our production proxysql node crashed while querying stats_mysql_query_digest_reset, which we were executing after a long time. It resulted into errors to the end users.

[code]
(Messages related to update_mysql_servers.sh above are from out scheduler job, so please ignore it.)

### Proxysql version:

2.3.2-10-g8cd66cf

### The package used to install ProxySQL

We installed it from pro

[2021-11-10 00:24] bc-ashokmahajan commented on #3689
I am not sure if it is directly related to above issue, we have consistently seen that the memory footprint of the proxysql process gradually increase over the time and it reduces only when proxysql instance is restarted.
Following are grafana graphs of the two memory related metrics for the period of last 10 days.
![Screen Shot 2021-11-09 at 4 12 30 PM](https://user-images.githubusercontent.com/3

[2021-11-10 00:26] bc-ashokmahajan commented on #3689
Same graph for last 1 on hour after the restart:
![Screen Shot 2021-11-09 at 4 25 21 PM](https://user-images.githubusercontent.com/33470779/141027056-b203ce17-85e9-46f1-a840-ddabdb95fbbe.png)

[2021-11-10 08:03] kdenis4 commented on #3109
Hi @IzzySmith , @louzbeck !
Did you have any luck in resolution?

[2021-11-10 09:56] kishmu419 opened #3690 "ProxySQL 2.0.10 crashing due to signal 11"
ProxySQL 2.0.10 crashed with Signal 11.

ProxySQL version - 2.0.10-27-g5b31997
OS version - Ubuntu 16.04.6 LTS

**Proxysql error log :**

2021-11-09 13:00:01 MySQL_Thread.cpp:4583:process_all_sessions(): [WARNING] Closing unhealthy client connection 172.33.96.38:27526
Error: signal 11:
proxysql(_Z13crash_handleri+0x2d)[0x4ae7fd]
/lib/x86_64-linux-gnu/libc.so.6(+0x354c0)[0x7f5df8df24c0]
proxysql(_Z

[2021-11-10 12:33] renecannao commented on #3690
Please upgrade

[2021-11-11 09:05] GabrieleCalarota commented on #3681
I'm sorry, I'll close this because the aforementioned issue has been resolved, whereas this one has not been resolved and it's related to proxysql

[2021-11-11 09:05] #3681 closed, assigned to nobody

[2021-11-11 09:21] GabrieleCalarota opened #3691 "Setting up External Read Replica on GCP/AWS RDS --> "SELECT UNIX_TIMESTAMP()" failed on master"
## Description
Trying to set up a Google Cloud SQL / AWS RDS Read Replica on an external mysql server master, on top of which is installed proxysql to expose localhost ONLY database to external remote through a different port.
The connection is ok, but when replica starts on google cloud side / aws rds side I see this error

[code]

## Proxysql version

`ProxySQL version 2.3.2-10-g8cd66cf, codenam

[2021-11-16 12:31] f4rx opened #3694 "Thread Deadlock with proxysql CLuster"
ProxySQL version 2.0.15-20-g32bb92cd_DEBUG, codename Trul (3 Nodes)
Ubuntu 18.04.6 LTS

I have a deadlock of two threads

[code]

[code]

[code]

pt-pmp:
[code]

thread 30 sets lock for mysql_servers_lock and waits `mutex`
thread 5 sets lock for `mutex` and waits mysql_servers_lock

We couldn’t describe steps needed to replay the problem. It occurs occaisionally on 3 Nodes cluster when updating se

[2021-11-16 14:45] morganhowarth-fd commented on #3684
Unfortunately I don't think it'll be possible for us to test this on VMware due to some internal constraints. If there are any other tests you think I should run I'll gladly do so.

[2021-11-16 22:28] mboruta1 commented on #3642
I would like to push a fix for this myself, but wanted to run it by you (@renecannao) before writing any additional code.

The issue has a description of what I am trying to achieve, but in short I would like users to be able to access ProxySQL's web interface via an arbitrary URL (useful when the service is sitting behind a reverse proxy).

The current code has the URLs it supports hardcoded (e.g

[2021-11-17 12:41] asivado commented on #3685
Hi! Galera configuration is more extensively documented here, including the detailed description of the different values for `writer_is_also_reader`: https://proxysql.com/documentation/galera-configuration/

In your scenario, the value should be 1. : nodes with `read_only=0` will be placed in the writer_hostgroup or backup_writer_hostgroup and are all also placed in reader_hostgroup after a topolo

[2021-11-17 13:44] gordonmurray commented on #3525
Hi, I'm having the same problem described here.

I have had the same memory issue spanning across 3 versions of proxysql:

* ProxySQL version 2.0.18
* ProxySQL version 2.2.0-percona-1.1, codename Truls
* ProxySQL version 2.3.2-percona-1.1, codename Truls

I'm using c5.2xlarge's and m5.2xlarge's on AWS. Their memory usage is low and builds up to 100% over a day or two before I restart and its fine

[2021-11-17 18:00] icollar opened #3695 "certificate of repo.proxysql.com is not trusted / expired"
When running ProxySQL in our environments we need to update the packages provided within the Official Docker container. These include running `apt update`. However this has been failing for a couple of weeks now due to the certificate on https://repo.proxysql.com.

ProxySQL version: `2.2.0`
Docker Image: `proxysql/proxysql:2.2.0`

Steps to reproduce:

[code]

This can also be seen if you run the f

[2021-11-17 19:03] AngelVilardell commented on #3525
Hello @gordonmurray,
From our experience, I could recommend you to look for prepared statements. I think we had memory leak issues with that two years ago. We stopped using prepared statements and everything went fine (now it seems we are using them again...)

But, thanks to your message, I looked to the multiplexing documentation: https://proxysql.com/documentation/multiplexing/
and found that we

[2021-11-17 21:38] icollar commented on #3695
I can get around this by running this as an intermediate step:
[code]

[2021-11-17 22:26] f4rx commented on #3694
how to reproduce:

<details>
  <summary>Docker-compose.yaml</summary>

[code]

</details>

<details>
  <summary>Dockerfile</summary>

[code]

</details>

<details>
  <summary>proxysql.cfg</summary>

[code]

</details>

[code]

first console
[code]

second console
[code]

Wait 1 minute

[2021-11-18 10:57] kishmu419 commented on #3690
Dear Renecanno,

Still proxysql is crashing even after upgraded to the latest version  2.3.2-10-g8cd66cf.

OS version - Ubuntu 16.04.6 LTS
Proxysql version : 2.3.2-10-g8cd66cf.

**Proxysql error log  :**

[code]

**Coredump :**

[code]

[2021-11-18 12:36] himanshutecstub commented on #35
Hello,
I configure proxysql in PHP based website and also use query cache for better performance.
Whenever new changes updated in our website than we merge our code via gitlab ci cd.
So is there possible to disable cache during that process and enable after that?
Is there way to disable/enable proxysql query cache from mysql?

[2021-11-18 13:20] renecannao commented on #3690
Reopening.

Do you have a reproducible test case?
This seems triggered in a connection to Admin.

[2021-11-18 19:24] #3606 closed, assigned to nobody

[2021-11-18 20:19] 33hops opened #3697 "Cached queries speed seems to be as low as the latency to the backend"
We have one **ProxySQL** node with a single **MariaDB** back end. Everything works well, still we have noticed that the **min_time** stored in **stats_mysql_query_digest** for a given query is never lower that the latency to the backend server. Is there some check made from the ProxySQL front end to the remote back end that makes it impossible to improve that figure?. We were expecting cached data

[2021-11-18 20:24] #3697 closed, assigned to nobody

[2021-11-18 20:26] 33hops commented on #3697
Queries that are indeed cached are set to hostgroup: -1 and all times set to 0 in the **stats_mysql_query_digest** table. We thought these queries time would be accounted as well.

[2021-11-18 20:38] renecannao commented on #3697
@33hops, to give more context:
`min_time` and the other times in `stats_mysql_query_digest` count the time from ProxySQL's point of view, not from the application point of view. Therefore it is 0, as you figured out.
Hostgroup is `-1` , that is a special value that means it was not executed on any hostgroup

[2021-11-18 20:42] renecannao commented on #3689
Your application seems to generate a lot of unique queries, this the memory structure behind `stats_mysql_query_digest` is really large. Querying that table causes a lot of processing, and ProxySQL is aborting because it was processing data for really a long period of time, and it is configured to abort if threads make no progress for 30 seconds.
Therefore it aborted as configured.

[2021-11-18 20:42] #3689 closed, assigned to nobody

[2021-11-18 20:55] renecannao commented on #3690
I am now seeing it was a simple `select * from stats_mysql_processlist` .
Can you please share the core dump, privately?

[2021-11-18 20:56] #3673 closed, assigned to nobody

[2021-11-18 21:14] 33hops commented on #2222
It looks like if you use `match_pattern` and you have queries with newline characters, they will most likely not match your pattern, as most people tend to build it based on what they see in the `stats_mysql_query_digest` table output. That output is pre-processed though and NL and other characters such as CR or \s have been filtered out or deduplicated (in case of multiple spaces).

I was puzzled

[2021-11-18 21:20] renecannao commented on #3679
zstd is indeed not needed. Disabled now.
Thanks @mohitj1988 for the report, and thanks @AgileStas for the suggestion

[2021-11-18 21:20] #3679 closed, assigned to nobody

[2021-11-18 21:33] renecannao commented on #3694
Hi @f4rx .
Thank you for the report.
I came across a race condition few month ago while working on PR #3305 , but it was a very rare condition
Therefore I am very surprised you managed to reproduce a race condition so easily.

Do you mind trying to reproduce it branch `v2.1.2-cluster` ?
If it is reproducible also with that branch (where I fixed several race conditions), than I will investigate thi

[2021-11-19 02:03] #3592 closed, assigned to nobody

[2021-11-19 06:29] shan1234567 commented on #3690
Hi Rene,

As requested , I have sent the coredump privately with you .Please check and share your observation

[2021-11-19 10:36] #3655 closed, assigned to JavierJF

[2021-11-19 13:25] himanshutecstub commented on #1271
Which configuration required for that? please provide suggestion for that.

[2021-11-19 18:45] renecannao opened #3698 "Invalid resultset when using query cache and mixing clients using and not using CLIENT_DEPRECATE_EOF"
- [ ] A clear description of the issue

If a client connects to ProxySQL not using CLIENT_DEPRECATE_EOF and it caches a resultset, when a client using CLIENT_DEPRECATE_EOF executes the same query it will get an invalid resultset and the client will disconnect.
The data in the resultset is correct, but proxysql skips a sequence id thus the client assumes it is corrupted.

- [ ] ProxySQL version

Fr

[2021-11-19 19:17] #2021 closed, assigned to nobody

[2021-11-19 20:35] renecannao opened #3699 "Slow start when MySQL module is listening on many sockets"
- [ ] A clear description of the issue

If MySQL module is listening on multiple ports, the start-up time is linearly proportional to the number of ports.
With default settings, it takes ~16 seconds to start if listening on 8 ports, and 128 seconds if listening on 64 ports.

The start time seems to be roughly number of ports x `mysql-poll_timeout` . Reducing `mysql-poll_timeout` proportionally red

[2021-11-19 22:32] renecannao commented on #3651
This issue is not related to ProxySQL . Closing

[2021-11-19 22:32] #3651 closed, assigned to nobody

[2021-11-19 22:42] renecannao commented on #3650
You had a mysql server that was already busy, and installing an extra process (proxysql) will use more CPU.
ProxySQL can help reduce the overload load on your server, but you can't simply install it and expect it drop CPU usage.
First, you need to understand what was causing high CPU usage on MySQL.
A lot of rows processed? Sorting? Network traffic? High number of connections?
ProxySQL can help re

[2021-11-19 22:42] #3650 closed, assigned to nobody

[2021-11-19 22:45] renecannao commented on #3642
Assigning this to @jaredev

[2021-11-20 01:18] #3674 closed, assigned to nobody

[2021-11-20 03:41] peppy commented on #2021
Thanks so much for making this fix happen! Will give it a test when it hits a release.

[2021-11-22 06:35] roycyz opened #3701 "How to start SSL configuration for frontends separately"
The application corresponds to version 2.3.2-1-centos7.x86_64
I want to be able to start SSL configuration for frontends separately
I searched and found that I can do it by setting mysql-have_ssl = true
But I don't know where to set mysql-have_ssl = true
I have tried to configure it in the globla and mysql_variables environment of proxysql.cnf but no effect.
where to set mysql-have_ssl = true?
Is

[2021-11-22 14:06] drequivalent commented on #3462
Any news on this issue? I want to be able to analyze the logs using common tools!

[2021-11-22 15:52] f4rx commented on #3694
The v2.1.2-cluster branch also leads to a hang. However, I catch an error on a working insolation, the example with docker composite does not repeat it. I can send the core file to the mail.

[code]

[code]

[2021-11-23 08:44] TomasAndersen commented on #1408
This link was really a time saver for me! I didnt get it to work right away as I only patched the value in the first SQL Proxy server. As the active node was the second, I needed to patch that as well. So a good hint would be to remember to patch the variable in both SQL Proxy servers.

[2021-11-24 12:02] sandeeppandey102 opened #3703 "Source array was not long enough. Check srcIndex and length, and the array's lower bounds"
Hello Team,

As we have been using **Proxysql 2.0.11** version for a longtime now , the application was working fine earlier with below version
**4.6.1 .Net Framework with 6.10 mysql connector** with Percona Mysql database version as **8.0.24**.

After connector upgrade with version  **4.8 .Net Framework with 8.0.27 mysql connector**, it is working fine if connected directly to percona mysql 8.0.2

[2021-11-24 12:51] jonashrem opened #3704 "Memory leak"
Hello, we are experiencing a memory leak with ProxySQL version 2.2.2. It was also reproducible with version 2.1.1 before.

We are using a simple configuration, which caches all SELECT queries for one second (see attach configuration file). The live configuration is the same.

The memory leak is only happening under high load, so when we run the same configuration on a server with very view queries

[2021-11-25 04:11] kishmu419 commented on #3690
Hello Renecannao,
Could you please update on this.

[2021-11-26 07:33] marc-olaso opened #3705 "Penhancements : set optimizer_switch='semijoin=off'"
- Warning in the log file  :
    [WARNING] Unable to parse unknown SET query from client x.x.x.x:y. Setting lock_hostgroup. Penhancements:set optimizer_switch='semijoin=off'

- ProxySQL version :  2.3.2-10-g8cd66cf

- OS version : Red Hat Enterprise Linux release 8.4

Thank you for your feedback

[2021-11-26 07:40] renecannao commented on #3705
Good news: we are already working on it!

[2021-11-29 02:09] lddlww opened #3706 "does proxysql support geo location label?"
for active-active or active-passive data center，one IDC contains master database node and secondary databases node，the other IDC is composed all of secondary databases node（like mysql group replication），but i hope route write operations to the IDC which contains master node，and read operations routed to the nearest secondary node

how can i do？

[2021-11-29 12:29] markobt opened #3708 "Error: signal 6 on arm passive node"
- [x] A clear description of the issue

Hi there! I hope you are well!

I deployed proxysql amd64 controller and proxysql  amd64 passive on the Kubernetes.  On the amd64 architecture, proxysql is working well, but if I use proxysql arm64 passive with proxysql amd64 controller I have trouble.

[code]

- [x] ProxySQL version
2.3.2-10-g8cd66cf

- [x] OS version
Linux passive-arm64-proxysql-cluster-pa

[2021-11-30 11:34] JavierJF commented on #3690
Hi @kishmu419 and @shan1234567,

thanks to the provided coredump we have being able to identify the issue and we are working on a fix.

[2021-11-30 11:43] kishmu419 commented on #3690
Sure Javier.

Regards,
G Krishna Kumar
Office Number(Mob) : 6381720944
www.mafiree.com

On Tue, Nov 30, 2021 at 5:05 PM Javier Jaramago Fernández <
***@***.***> wrote:

[2021-11-30 17:27] ghost commented on #893
Still relevant with proxysql 2.0.15-percona-1.1
[code]
But in a application sometimes we see "MySQL has gone away"

[2021-11-30 23:22] mboruta1 commented on #3642
Hello @jaredev,  do you have any comments regarding the proposal I outlined above? Should I go ahead and submit a PR or will you be implementing this or a similar solution?

Thank you for your time!

[2021-12-01 01:40] otooi opened #3709 "Can't use reader_hostgroup if Aurora MySQL cluster has only 1 instance."
**feature request** for ProxySQL.

If you are submitting a reproducible bug report, please provide:
- [x] A clear description of the issue
I mainly use AWS Aurora MySQL.
In the case of ProxySQL, if I register the DNS of the writer instance, all readers in the cluster are automatically registered to `mysql_aws_aurora_hostgroups`.
These Readers can be used with `mysql_query_rules` specified by `read

[2021-12-01 04:54] otooi commented on #2768
@renecannao @JavierJF It happens again in v2.3.2.

[code]

[2021-12-01 04:59] renecannao commented on #2768
Hi @otooi .
I suspect you misread the issue.
It is a behavior by design,  and this issue tracks the implementation of this feature

[2021-12-01 19:24] houndegnonm commented on #2624
@tim-eb can you show your mysql_users table and share your proxysql.cfg. Just want to see the difference in your config and how this works for you ?

[2021-12-01 20:44] jaredev commented on #3642
Hi @mboruta1. I'm looking this over today. I have a few questions. Where were you thinking of defining the USER_SPECIFIED_PREFIX? And has the code you've written working and tested on your setup?

[2021-12-01 21:35] jaredev commented on #3642
@mboruta1 I'm looking into adding a "admin-web_prefix" variable to the global_variables. I think that would suffice. I'll get a reverse proxy setup and test this here locally to see if it goes well. In progress.

[2021-12-01 23:51] jaredev commented on #3642
@mboruta1 Quick update. I've got the issue branch created "v2.x-3642" and added the new admin variable "web_prefix", which will appear as "admin-web_prefix" in the admin interface. Next is the routes and testing with reverse proxy.

[2021-12-02 02:22] jaredev commented on #3642
I've delved more into this issue. A few things to note. The paths in use are all relative paths which are relative to the domain. This was verified by using different domains in the hosts file and still functional. That being said, this isn't a bug in general with using a reverse proxy with the web interface. Rather, it is only an issue if the routing is done as such: `<domain>:<port>/<servicename

[2021-12-02 05:24] jaredev opened #3711 "Build tap test compilation failure from missing curl include"
### Description

When performing the steps to build proxysql with the jenkins build scripts using the command: `make build_deps -j$(nproc) && make debug -j$(nproc) && make build_tap_test -j$(nproc)`, the build_tap_test target fails compilation with curl/curl.h: no such file or directory.

Version: branch v2.x

OS: Ubuntu 20.04 LTS

### Steps to reproduce the issue

1. Setup prerequisites for jenki

[2021-12-02 05:33] jaredev commented on #3711
Pull request : https://github.com/sysown/proxysql/pull/3712

[2021-12-02 05:33] #3711 closed, assigned to jaredev

[2021-12-02 14:46] mboruta1 commented on #3642
@jaredev I was not aware that root-relative URLs (`/.*`) are still considered relative URLs, my apologies. Currently the web interface uses a combination of root-relative and document-relative URLs (e.g. `stats?metric=system`), my suggestion was to replace the root-relative links with document-relative ones, and add to all document relative links a user-specified prefix that would allow the interf

[2021-12-02 15:12] markmark1 commented on #930
does it compile in mac os ? if so can someone please provide examples

[2021-12-02 17:02] JavierJF opened #3714 "Fix compilation issues found with recent `gcc` and `CMake` versions"
- [x] A clear description of the issue

ProxySQL fails to compile with the following two errros:

1\. mariadb-client-library

[code]

2. prometheus-cpp

[code]

- [x] ProxySQL version

v2.x

- [x] OS version

Archlinux

- [x] The steps to reproduce the issue

Try to compile ProxySQL.

[2021-12-02 17:19] JavierJF commented on #3704
Hi @jonashrem,

in the heap profiling that you have submitted I can see that only see memory being used for 'QP_query_digest_stats' this suggests that most of the memory (at least in the provided sample) is being used for tracking metrics about queries. If you perform the following query: `SELECT COUNT(*) FROM stats_mysql_query_digest` you should probably see a big number.

I see that you pointed

[2021-12-02 18:27] jonashrem commented on #3704
Hi @JavierJF

thanks for your explanation. Yes, at the moment, this value is quite a number.

I used

[code]
to disable but it seems, this doesn't actually disable statistics (the count is still rising with this).

I now put this is my proxysql.conf
[code]

and cleared (/var/lib/proxysql/), and now the stats_mysql_query_digest is not rising anymore.

I will check tomorrow if this has resolved the

[2021-12-02 20:50] jaredev commented on #3642
@mboruta1 I'm not suggesting only allowing reverse proxy by subdomains, as there may be other options. For example, ports per service, other routing methods through apache, etc. To be honest, I am not sure to what extent users would desire this functionality and would be worth further consideration if more information is acquired. As for your mentioned "pre-computing" idea, this would involve chec

[2021-12-02 21:44] mboruta1 commented on #3642
@jaredev There are indeed other ways to reverse proxy the interface, but as far as I can tell they all require DNS, firewall (e.g. open up a new port), or certificate changes. Proxying via subdirectory requires no such changes, and is supported by major services with similar monitoring web interfaces. I agree that it may not be a very popular feature, but its a feature useful for at least one ente

[2021-12-02 21:52] renecannao commented on #3704
It is highly discouraged to disable query digest: proxysql will not be able to understand the queries, and this has a lot of negative consequences like the fact it won't be able to correctly handle multiplexing.
That said, I think we should probably introduce a new variable that defines if digest statistics need to be collected or not: in this way we can let proxysql continue generate query digest

[2021-12-02 23:31] jaredev commented on #3642
@mboruta1 Thanks for the additional information. I'm reopening the issue. I am not concerned, I simply stated that there would be some additional overhead. That is why I said, "maybe acceptable" as it may be an acceptable amount of overhead if done. Also, there may be other developers involved in reviewing code to make such a determination, so it would not necessarily be only my decision on the am

[2021-12-02 23:39] mboruta1 commented on #3642
Great, happy to hear that Rene is for the feature. Will start work on this in the coming weeks and submit a PR hopefully by the end of this month.

[2021-12-03 10:57] JavierJF commented on #3703
Hi @sandeeppandey102,

I have done some several checks using the same connector (8.0.27 mysql connector from Net Framework) you are using for this and several ProxySQL configurations, and I couldn't get a similar error from the connector to the one you are reporting here. If you could provide a reproducible test case for this we will be happy to further investigate the issue, otherwise, it's very

[2021-12-03 17:05] jonashrem commented on #3704
@renecannao @JavierJF

commands_stats is what I have set at the moment. This actually solved the memory leak situation. Thanks a lot for your help.

So with only commands_stats disabled, multiplexing is working fine? Is this correct?

[2021-12-03 17:20] jonashrem opened #3716 "Segfault when disabling both query_digests and commands_stats are disabled"
when I create a configuration, which is both disabling query_digests and commands_stats, proxysql in version 2.2.2 (installed from https://repo.proxysql.com/ProxySQL/proxysql-2.2.x/bionic ) crashes on start.

I can reproduce this on Ubuntu 20.04 and 18.04

[code]

[code]

[code]

[code]

[core.20908.tar.gz](https://github.com/sysown/proxysql/files/7651285/core.20908.tar.gz)

[2021-12-03 17:21] jonashrem commented on #3704
I created a new issue, regarding the segfaults, when both query_digests and commands_stats are disabled #3716

[2021-12-03 19:05] JavierJF commented on #3704
Hi @jonashrem ,

multiplexing should be working fine with `mysql-commands_stats` disabled, but please note that when it's disabled, support for both `KILL QUERY` and `KILL CONNECTION` commands will be disabled with it (alongside with the digests stats generation).

[2021-12-03 21:49] jonashrem commented on #3704
@JavierJF perfect.

Disabled KILL commands are fine for me. I'll close this ticket than, as the memory is stable now.

[2021-12-03 21:49] #3704 closed, assigned to nobody

[2021-12-06 05:20] geekgogie opened #3718 "OFFLINE_HOSTGROUP status suggestion"
Hi Guys,

I know this is not a bug but perhaps just a suggestion as its likely confusing sometimes. This is related to a node that is already taken down (SHUNNED) or we call it OFFLINE previously. So we have the offline_hostgroup but when this is viewed in runtime_mysql_servers, the node still marked as ONLINE but belongs to the offline HG ID. Perhaps we can change it status to make it more readab

[2021-12-06 11:49] krillw opened #3719 "Error: Proxysql crash after update mysql_query_rules and load to runtime"
- [x] A clear description of the issue
Add query
`INSERT INTO mysql_query_rules(rule_id,active,match_pattern,destination_hostgroup,apply) VALUES(109,1,'\S*\s*\/\*\s*hg=10\s*\*.*',10,1);` (We need route query with * hg=10 * comment to 10 writer_hostgroup galera
Other rules, before add.
`| rule_id | match_digest | match_pattern             | destination_hostgroup |`
`| 200      | NULL             |

[2021-12-06 12:16] renecannao commented on #3719
Use a comment with `hostgroup=10` (ex: `/* hostgroup=10 */`) and proxysql will do the rest, no need for a query rule.

Yet, the crash is unlikely to have anything to do with the query rule. The problem is that watchdog has detected a stall, and aborted. This is well described in the link.
Please provide the *full* error log, and the core dump.

Thanks

[2021-12-06 16:23] #3714 closed, assigned to JavierJF

[2021-12-06 16:28] #3690 closed, assigned to nobody

[2021-12-07 11:26] as-b12 opened #3720 "proxysql_2.0.8-debian8_amd64.deb Username/Password Authentication Failed"
Proxysql version: proxysql_2.0.8-debian8_amd64.deb

I am creating a docker image with this content
`FROM debian:jessie

RUN apt-get update && \
    apt-get install -y wget mysql-client rsync && \
    wget https://github.com/sysown/proxysql/releases/download/v2.0.8/proxysql_2.0.8-debian8_amd64.deb -O /opt/proxysql_2.0.8-debian8_amd64.deb && \
    dpkg -i /opt/proxysql_2.0.8-debian8_amd64.deb && \

[2021-12-07 11:44] renecannao commented on #3720
Hi @arun-s-b .
I am not sure what you are asking here, but it is clearly not a problem with ProxySQL.
Closing

[2021-12-07 11:44] #3720 closed, assigned to nobody

[2021-12-07 12:13] as-b12 commented on #3720
@renecannao while running this command `RUN wget https://github.com/sysown/proxysql/releases/download/v2.0.8/proxysql_2.0.8-debian9_amd64.deb
` I am getting Username/Password Authentication Failed error
it used to work before, suddenly it stopped working from last few days

[2021-12-08 13:32] psapezhka opened #3721 "Per user backend connections limit"
Hello. I believe it would be nice to have the ability to limit the backend connections count that a particular user could acquire. I mean, now we have a limit for total `ProxySQL -> MySQL` connections, and also we have a limit for `Clients -> ProxySQL(total and per user)`. But we can't stop some users from exhausting connections of the `ProxySQL -> MySQL` pool. Thanks.

[2021-12-08 13:36] renecannao commented on #3721
Hi @weastur , to better understand your feature request, can you please elaborate on what it  would be the benefit, and/or describe and explain a specific use case?

Thanks

[2021-12-08 13:42] psapezhka commented on #3721
For example, you have several projects on the same MySQL cluster(behind ProxySQL). You are trying to prevent a situation when some user/project exhausts the connection pool by doing non-multiplexing queries, so the other projects/users suffer.

[2021-12-08 13:54] renecannao commented on #3721
You can configure multiple hostgroups for this

[2021-12-08 14:30] psapezhka commented on #3721
So, if I've understood correctly, I need to create per-project records in `mysql_group_replication_hostgroups` (we are using group replication). Then, I make multiple records for each server for every hostgroup, and here I can limit `max_connections`, which effectively means limit per-project in my case.

For example, suppose I have two projects/users and two servers. In that case, I make two sets

[2021-12-09 16:38] rineez-tenzymes commented on #2908
@haihq88 I think this perl script is a good idea, but looks like code formatting was not applied correctly on it. Could you please put the whole code inside code block?

[2021-12-10 02:17] ihanick opened #3723 "wsrep_sync_wait is not sent to PXC 8.0"
ProxySQL version 2.3.2-10-g8cd66cf, codename Truls

wsrep_sync_wait support is broken for Percona XtraDB Cluster 8.0, but works fine with PXC 5.7:

https://github.com/sysown/proxysql/blob/v2.x/lib/MySQL_Variables.cpp#L60
[code]
Proxysql detects Galera by checking version for two dashes.

There is only a single '-' symbol in PXC 8.0 version string:
[code]

A simple workaround patch solves the probl

[2021-12-10 09:45] haihq88 commented on #2908
I updated the comment, the script can improve by changing the netstat to use ss
and i hope we don't need to use that script and proxysql can fix the issue

[2021-12-10 12:39] ZupoLlask commented on #1105
Hi @renecannao,

This issue is "a bit" old but it reflects my issue: for a matter of convenience, it would be great if we could make ProxySQL admin interface work through Workbench.

For that reason, I guess it's useful to reuse this issue.

Currently, using latest ProxySQL + Workbench, the first issue I'm finding is the following error:

[code]

I guess the "offending" query is `SELECT current_us

[2021-12-10 17:32] #2630 closed, assigned to nobody

[2021-12-10 19:10] renecannao commented on #1105
@ZupoLlask : supported added in PR #3725

[2021-12-12 00:04] kamelj opened #3726 "Wrong value of repl_lag when slave stop syncing!"
ProxySQL version 2.3.2-10-g8cd66cf, codename Truls
OS: Ubuntu 20

When the slave stops syncing so the Seconds_Behind_Master will be NULL
But the repl_lag on monitor.mysql_server_replication_lag_log be 60 and not changed

[2021-12-12 00:16] renecannao commented on #3726
Hi @kamelj .
Behavior well documented [here](https://proxysql.com/documentation/global-variables/mysql-monitor-variables/#mysql-monitor_slave_lag_when_null) , working as expected.
Closing

[2021-12-12 00:16] #3726 closed, assigned to nobody

[2021-12-14 17:26] drequivalent commented on #3590
Incredibly annoying, already mentioned this in #3462
Why can't we just log in one file and let external log rotating and analyzing tools sort it out!

Just like, you know, any other daemon!

[2021-12-14 17:30] renecannao commented on #3590
@drequivalent :
https://github.com/sysown/proxysql/pulls

You are welcome!

[2021-12-14 17:58] drequivalent commented on #3590
Being passive-aggressive really wasn't necessary. I don't think it's unreasonable to expect log files to not clog the disk space up by default. I also don't think adding an option to not try to append a number to a logfile name is any major effort on the part of the people that already know their way around the codebase.

[2021-12-14 18:13] kashak88 opened #3728 "proxysql - systemd - random failure to start after system crash"
proxysql 2.3.2
ubuntu 20.04

How to replicate:
1) Make sure proxysql is running and pid file exists (ex. /var/lib/proxysql/proxysql.pid and it has a process id inside, let's say 1010)
2) Imitate a "crash" by resetting a vm instead of doing a graceful shutdown (ex. in ESXI, right click - power - reset)
3) System restarts and systemd tries to start proxysql

What happens (as expected):
proxysql[753]

[2021-12-14 18:20] renecannao commented on #3728
Hi @kashak88 .
PR #3707 from @smeinecke probably solves your issue.
The feature will be available in the next release.
Thanks

[2021-12-15 08:57] dmboev opened #3729 "Change REST API interface?"
Is there any option to change the default listening interface (0.0.0.0) for REST API?

[2021-12-17 20:53] taddev commented on #2580
I have a hard time accepting that security is a feature request.

[2021-12-18 05:15] renecannao commented on #2580
For me to better understand this: how do you store the password in the client?

[2021-12-20 15:19] GregorFritzE2 opened #3731 "GR consistency: Unable to parse unknown SET query from client <ip:port>. Setting lock_hostgroup."
**reproducible bug** for ProxySQL.

- [X] A clear description of the issue
We have recently started using ProxySQL to balance access to our DB cluster however some of the apps accessing the cluster should be able to write faster and not use consistency level 'AFTER' but level 'EVENTUAL' instead.
- [X] ProxySQL version: proxysql/proxysql:2.3.2
- [X] OS version: official ProxySQL image running in Do

[2021-12-20 15:24] renecannao commented on #3731
Thank you for the report.

[2021-12-21 14:32] kishmu419 opened #3733 "ProxySQL 2.0.7 crashing due to signal 11"
**ProxySQL 2.0.7 crashed with  Signal 11.**

**Proxysql version :** 2.0.7-80-g4dd4ef5
**OS Version :** CentOS Linux 7

**Proxysql error log :**

2021-12-20 14:36:19 MySQL_Thread.cpp:4292:process_all_sessions(): [WARNING] Closing unhealthy client connection 172.16.7.41:37265
2021-12-20 14:36:19 [INFO] Starting new mysql event log file /data/proxysql/proxy_audit.log.00012543
Error: signal 11:
proxys

[2021-12-21 14:56] renecannao commented on #3733
You have a crash here: https://github.com/sysown/proxysql/blob/v2.0.7/lib/MySQL_Logger.cpp#L265
You probably ran out of disk space, and the write failed.

[2021-12-22 02:19] sergioadofaci commented on #3293
This would be really useful, was there a PR or just the fork?

[2021-12-22 16:22] JavierJF opened #3734 "`last_updated` field from `stats_mysql_client_host_cache` should be reported in seconds"
- [x] A clear description of the issue

Right now the value returned by `last_update` field in `stats_mysql_client_host_cache` table is `monotonic`. The value should be instead reported as current time in seconds in the same fashion `last_seen` is for `stats_mysql_query_digest`.

- [x] ProxySQL version

v2.x

[2021-12-24 09:13] YAAkimov commented on #3525
Same problem here. Detected on large insertions ( 1000 rows per second ) with prepared statements with percona backend version 8.0.25-15.1. Memory leaks on backend too. Direct connections ( without proxysql ) fix the problem also disabled prepared statements fix the problem.

[2021-12-25 02:58] YAAkimov commented on #3525
Same problem here. Memory leaks without prepared statements. Detected with large amount in INSERT's

mysql> show global status like '%uptime%';
+---------------------------+-------+
| Variable_name             | Value |
+---------------------------+-------+
| Uptime                    | 58740 |
| Uptime_since_flush_status | 58740 |
+---------------------------+-------+
2 rows in set (0.00 sec)

my

[2021-12-26 00:31] jploski opened #3736 "Cannot suppress SET character_set_client=utf8?"
I'm trying to use query rewrite rules to get rid of "SET character_set_client=utf8" that is being sent to my (Clickhouse-using-MySQL-protocol) backend by the MySQL Workbench client (which makes any connection attempt fail). Using ProxySQL version 2.2.0-72-ge14accd, codename Truls.

I added this rule in an attempt to neutralize all SET statatements:

INSERT INTO mysql_query_rules (active, match_pat

[2021-12-26 01:07] jploski commented on #3736
Note, there is also an open issue in Clickhouse regarding all the incompatibilities that bother MySQL clients: https://github.com/ClickHouse/ClickHouse/issues/9336

[2021-12-26 03:05] jploski commented on #3736
FWIW, I got it to connect by recompiling ProxySQL with the following patch (which is obviously not a good idea to include in any official code base, just a proof-of-concept)

https://gist.github.com/jploski/0ce2a9b797f0055085827e687f28f3e8

[2021-12-26 03:59] jploski opened #3737 "Cannot activate SSL for frontend connections"
Trying to get SSL frontend connection encryption working, following https://proxysql.com/documentation/ssl-support/
using code compiled from commit e39446f27e06aa00c17f314b2d5c5ca8af031f06 (but same problem also with binary package 2.2.0-72-ge14accd):

When ProxySQL starts, it appears to load the SSL stuff just fine:
[code]
(And cipher versions are also reported.)

Enabling SSL also seems to work

[2021-12-26 04:48] jploski commented on #3737
Found the problem: I used "LOAD ADMIN VARIABLES TO RUNTIME", but I should have used "LOAD MYSQL VARIABLES TO RUNTIME" instead!

[2021-12-26 04:48] #3737 closed, assigned to nobody

[2021-12-28 11:10] Louis-Ni opened #3738 "One more connection generate on AWS aurora when execute load mysql servers to runtime"
after i insert two endpoints into Proxysql
![image](https://user-images.githubusercontent.com/56672404/147559871-c4746c89-33e7-41fe-993d-60792adcb3f0.png)

then I run `load mysql servers to runtime;`  it becomes three connections and one of them is assigned to writer group, then it triggers application errors intermittent

![image](https://user-images.githubusercontent.com/56672404/147560216-b5c75

[2021-12-28 16:34] #3734 closed, assigned to nobody

[2021-12-29 09:04] ssgoburdhun opened #3739 "BUG: ProxySQL 2.0.18 / Weight not changing for reader node when using Native Galera Hostgroup"
1. Fresh installation of ProxySQL 2.0.18 on Debian Bullseye (should be compatible)
2. mysql_galera_hostgroups configured with a Galera Cluster of 3 members
3. Intention is:
- Writer: node1
- Backup writer: node2
- Reader with highest weight: node3 (10000) and not (1)

To reproduce:
[code]

Please check, confirm and advise.

[2021-12-29 13:00] stasos24 opened #3740 "Code Error: Dead code"
In file include/query_processor.h there are double-check of "if(comment)"
lines 198 and 201

[2021-12-29 13:09] stasos24 opened #3741 "Code Error: Use-After-Free"
In file ProxySQL_Admin.cpp:
5215: free(arg); // Memory is released
5232: return arg; // Use of memory after it is freed

[2021-12-29 13:28] stasos24 commented on #3741
In file mariadb_lib.c:
2000: mysql_close(mysql);); // Memory is released
2001 *mysql=tmp_mysql; // Use of memory after it is freed

[2021-12-30 02:42] slps970093 commented on #3738
What is your mysql_replication_hostgroups setting?

[2021-12-30 03:08] calvin2020 opened #3742 "Cannot execute statement in a READ ONLY transaction"
Hi there:

I encounter an issue,our program executed an update SQL,it routed on mysql primary db,but still returned an error:Cannot execute statement in a READ ONLY transaction
can you help me to check it? my proxysql version is 1.4.16
thank you!

[2021-12-30 03:13] Louis-Ni commented on #3738
I know what is going on

the `check_type` should be 'innodb_read_only' in the aws aurora

[2021-12-30 03:13] #3738 closed, assigned to nobody

[2021-12-30 16:30] hitwlx opened #3744 "In the code of proxysql, where can I find the password for jdbc connection"
In the code of proxysql, where can I find the password for jdbc connection？
Now I want to use my own encryption algorithm to encrypt the password, and then decrypt it in the proxysql code.
For example, the password is "mypass" before encryption, and "encryptpassword" after encryption. I use this java code to connect mysql through proxysql:

conn = DriverManager.getConnection("jdbc:mysql://localhos

[2021-12-31 09:10] Louis-Ni opened #3745 "failover issue with aws aurora"
I am testing AWS aurora failover case when I click 'failover' manually
I set these endpoints into proxy SQL like this
![image](https://user-images.githubusercontent.com/56672404/147813872-fb27fc51-8eae-4fb2-9ec0-200e8dde5108.png)
![image](https://user-images.githubusercontent.com/56672404/147813899-66b488f4-28f8-4aef-94eb-1551d0601ba9.png)
10 is writer group
20 is reader group
after I click failov

[2022-01-04 07:00] naresh49kumar opened #3746 "Connection Issue With Proxysql Port 6033 !"
Hi Team,

Hope you are doing pretty well !!

I would like to tell you that I’m new to proxysql and installed proxysql on one server and configured two nodes in it. After installation I’m able to connect to the console on port 6032. I’ve done all the required configuration but when I’m connecting to localhost on port 6033 it is throwing “Can’t connect to MySQL server on 127.0.0.1” error.

[root@ser

[2022-01-04 08:18] calvin2020 commented on #3469
Hi buddy:
do you resolve this issue? I encounter same problem

[2022-01-04 08:23] renecannao commented on #3469
This issue lacks basic information required to open an issue, like configuration, error log, and steps to reproduce the problem.
Without these, this issue is likely to be closed.
Thanks

[2022-01-06 08:23] jack-rao commented on #3746
Maybe you should configuring ProxySQL via the admin interface or through config file, visit:
https://proxysql.com/documentation/getting-started/

[2022-01-06 13:23] morganhowarth-fd commented on #3684
@asivado - I don't suppose you had a chance to look into this yet?

[2022-01-06 13:59] Naugrimm opened #3749 "ProxySQL returns wrong "In transaction" flag to the client"
## Description

When using transactions with `SAVEPOINT`s, ProxySQL returns the server status flag "In transaction" to the client even if the MySQL backend server responded with an unset flag.

This happens only for the first `COMMIT` query. Subsequent `COMMIT`s are answered directly by ProxySQL without going to the backend (so it seems). The flag is unset correctly in these responses.

The issue

[2022-01-10 10:09] spacetourist commented on #3687
This is also an issue for us, bump!

We'd love to see the execute contain either the populated statement or at least an array of param fields used.

[2022-01-10 21:07] kashak88 opened #3753 "2.3.2 - proxysql "ghost" sleeping connection causes metadata lock?"
Ubuntu 20.04
proxysql 2.3.2

Hello Rene. Every once in a while we get a bunch of queries stuck in "Waiting for metadata lock".
On backend, here's what we're seeing:
[code]
Checking GRANTED owner thread id:
[code]
Checking matching processlist:
[code]
Next, I look at proxysql to find which server actually sent the query via proxysql:
[code]
[code]
10.52.32.94 is MASTER server (the one having issues

[2022-01-11 15:10] kashak88 commented on #3753
I also wanted to add that killing the idle sleeping connection that's causing the metadata lock spits out this message in the log:
2022-01-11 09:42:59 MySQL_Thread.cpp:3479:process_data_on_data_stream(): [WARNING] Detected broken idle connection on 10.52.32.94:3306

[2022-01-11 19:37] sateesh88 commented on #3643
HI flachesis,

I'm also facing the similar issue, any solution for the above scenario ? My error is` handler(): [ERROR] Detected a broken connection during query on (1,mysql-server,3306) , FD (Conn:29 , MyDS:29) : 2006, MySQL server has gone away` .

[2022-01-11 19:43] sateesh88 commented on #2374
Hi @bskllzh

I'm also facing the same error, i followed your suggestion on this page but no luck. My stats output is like
`mysql> select * from stats_mysql_connection_pool;`
`
+-----------+---------------------------------------------------+----------+--------+----------+----------+--------+---------+-------------+---------+-------------------+-----------------+-----------------+------------+
| ho

[2022-01-12 11:24] GregorFritzE2 commented on #3731
Is there any update on this issue? Or any intention of supporting these kinds of statements?

[2022-01-12 11:37] renecannao commented on #3731
With the refactoring work done in PR #3702 it should be easy to also add `group_replication_consistency` . We should plan to include it in version 2.4

[2022-01-12 11:52] mirostauder commented on #3695
please use container proxysql/proxysql:latest, current latest is 2.3.2

if you want to use latest proxysql, you should use the corresponding image
if you want update other packages inside 2.2.0, apt upgrade will work.

Closing.

[2022-01-12 11:52] #3695 closed, assigned to nobody

[2022-01-12 12:07] GregorFritzE2 commented on #3731
Thanks for the reply!

[2022-01-12 16:43] JavierJF opened #3756 "Conflict between`deprecate_eof` and `fast_forward`"
- [x] A clear description of the issue

When `fast_forward` and `deprecate_eof` support are both enabled, malformed packets are being received at client side.

- [x] ProxySQL version

v2.x

- [x] The steps to reproduce the issue

Configure user with `fast_forward` option, connect and issue a simple query:

[code]

- [x] The **full** ProxySQL error log (default location: `/var/lib/proxysql/proxysql

[2022-01-12 20:05] edersantos-percona opened #3758 "Documentation about how to configure monitoring has one wrong statement"
https://proxysql.com/documentation/ProxySQL-Configuration/

This part of the document has one wrong statement:

[code]
Instead of the UPDATE above, we should see commands like below in order to create the monitor user:
[code]

[2022-01-12 22:04] noonsang commented on #1012
- [ ] ### 50000
- [ ] **_

[2022-01-12 22:59] renecannao commented on #3740
Thank you for reporting the issue

[2022-01-13 03:38] slps970093 opened #3760 "Aurora MYSQL Auto Scaling max_connection issue"
The database I use is Aurora MySQL, but if I trigger the Auto Scaling Policy, it will increase the database execution problem, but I see that the max_connections of his mysql_servers will apply the default value. Is it possible to automatically apply my default max_connections during the Auto Scaling Policy?

I use the following way to set
https://proxysql.com/documentation/aws-aurora-configuratio

[2022-01-13 03:42] otooi opened #3761 "Please report a bug for future enhancements:SET SESSION AURORA_READ_REPLICA_READ"
This is the place to report a **reproducible bug**, **documentation error** or **feature request** for ProxySQL.

Support questions will not be answered here. For community support, use the Google forum: https://groups.google.com/forum/#!forum/proxysql
* Note that due to time constraints ProxySQL engineers may be slow to respond to forum posts
* For information on paid support contracts: https://p

[2022-01-14 00:06] jaredev commented on #3758
Verified. This is the command to set the monitor user in the admin interface, and not to create the user in MySQL. The command to set the monitor user for ProxySQL appears in the next step.

[2022-01-15 01:15] sateesh88 opened #3762 "handler(): [ERROR] Detected a broken connection during query on (1,mysql-server,3306) , FD (Conn:29 , MyDS:29) : 2006, MySQL server has gone away"
Hi, I'm facing the error. `2022-01-11 19:12:43 MySQL_Session.cpp:3692:handler(): [ERROR] Detected a broken connection during query on (1,mysql-server,3306) , FD (Conn:29 , MyDS:29) : 2006, MySQL server has gone away
can you please suggest anything on this.`
My stats output is like
[code]
I had followed this [issue](https://github.com/sysown/proxysql/issues/2374)  and applied changes on mysql-conne

[2022-01-16 09:39] TrT-TOT opened #3763 "Load balance seems not work properly according to the weight of each server"
This is the place to report a **reproducible bug**, **documentation error** or **feature request** for ProxySQL.

Support questions will not be answered here. For community support, use the Google forum: https://groups.google.com/forum/#!forum/proxysql
* Note that due to time constraints ProxySQL engineers may be slow to respond to forum posts
* For information on paid support contracts: https://p

[2022-01-16 13:18] esorek commented on #1417
Hi,
We had again issues with  network split that caused huge amount of these errors in the log -  [ERROR] Monitor queue too big, try to reduce frequency of checks - which caused significant disruption & timeouts of all connections via the proxysql.
Any fix for this issue ? If yes, in which version ? And any workaround for version 1.4.9-3-gd9fd599 ?
Thanks,
Eyal

[2022-01-18 09:25] michaeldg opened #3764 "Improve documentation for mysql-set_query_lock_on_hostgroup"
Hi,

The documentation for 'mysql-set_query_lock_on_hostgroup' (https://proxysql.com/documentation/global-variables/mysql-variables/#mysql-set_query_lock_on_hostgroup) mentions that query routing is disable. If you know how ProxySQL works it is logical to understand that query routing means changing the destination host group. For beginners it could mean that query caching rules are disabled as we

[2022-01-18 10:03] jbwdevries commented on #3749
I'm seeing a similar issue. Since we reuse the TCP connection for consecutive requests, the second request will fail because the MySQL python driver checks the status, and will raise an exception. Running this directly on the server (Galera cluster) sees no problems, as server properly returns `In transaction: Not set` (as seen by wireshark). However, running these on ProxySQL sees the exception r

[2022-01-18 18:11] JavierJF opened #3765 "POLLOUT incorrectly set due OpenSSL 3.0 update"
- [x] A clear description of the issue

TODO.

- [x] ProxySQL version

v2.x

- [x] The steps to reproduce the issue

TODO.

[2022-01-19 12:56] vixns commented on #3749
Same issue using drupal9 and php8 with a custom "batch import" module.
tested with a mariadb galera cluster and with a single mariadb server, as backend, same behavior.
Chosen workaround : downgrade to php7 until this issue is resolved.

[2022-01-19 17:29] alessandropomes opened #3767 "Rules splitting does not work after upgrade"
Hello!

We are facing an issue while upgrading proxysql version from 2.0.12 to 2.3.2 .
These version are placed on a docker container in our ec2 instance  of Amazon Linux 2.

The actual configuration file that is working properly on version 2.0.12 is the following:

And a list of 164 rules..from rule id 1 to 164.

Basically we have 2 hostgroup : 10 and 20. 10 is our master db(xxxxxxxx-db-01) and 2

[2022-01-21 04:23] An-Tux commented on #1574
ProxySQL v2.3.2 and older,  problem persists
after changing the table structure, when trying to select *, we get an error:
`MySQL_PreparedStatement.cpp:386:update_metadata(): [WARNING] Updating metadata for stmt 291 , user ***, query SELECT *`

Using php 7.4 / mysqli (mysqlnd 7.4.20)

[2022-01-21 11:05] renecannao commented on #1574
@An-Tux :
Is the problem the entry in the error log, or what?

[2022-01-21 21:12] renecannao opened #3768 "Do not consider a server failed in case of max_user_connections error for monitor user"
If you are submitting a reproducible bug report, please provide:

- [x] A clear description of the issue

This issue is similar to #1073
If the monitor user is configured with a small `max_user_connections` value , the monitor user cannot successfully connect to the backend and ProxySQL Monitor will shun the backend.

- [x] ProxySQL version

Confirmed till 2.3.2

- [x] OS version

Any

- [x] The s

[2022-01-21 21:19] #3756 closed, assigned to nobody

[2022-01-22 10:12] #3765 closed, assigned to JavierJF

[2022-01-22 11:59] #3504 closed, assigned to nobody

[2022-01-22 16:44] aalloosshh commented on #2838
I have installed version 2.3.2, and i have faced the same problem.
Log from my Proxysql:
2022-01-17 08:46:26 MySQL_Session.cpp:5439:handler___status_WAITING_CLIENT_DATA___STATE_SLEEP___MYSQL_COM_QUERY_qpo(): [WARNING] Unable to parse multi-statements command with SET statement from client xxxxxx:51300: setting lock hostgroup. Command: SET @@group_concat_max_len = CAST(IF(@@group_concat_max_len > 3

[2022-01-22 16:52] Aloush-ha opened #3772 "Remove last semicolon from SET statements in Version 2.3.2"
I have installed
ProxySQL version 2.3.2-percona-1.1, codename Truls

Operation System:
Description:    Ubuntu 20.04.3 LTS
Codename:       focal

 I have faced a problem with SET command, it remove the last semicolon.
Log from my Proxysql:

2022-01-17 08:46:26 MySQL_Session.cpp:5439:handler___status_WAITING_CLIENT_DATA___STATE_SLEEP___MYSQL_COM_QUERY_qpo(): [WARNING] Unable to parse multi-statement

[2022-01-22 16:56] renecannao commented on #3772
Hi @aalloosshh .
Why do you think that removing the last semicolon is a problem?

[2022-01-22 17:08] Aloush-ha commented on #3772
Hi @renecannao
actually i'm not sure, if the semicolon is the problem, but i don't see a problem in queries, if not the semicolon, what should be?
and why it removed

[2022-01-22 17:17] renecannao commented on #3772
The semicolon is removed because it is not useful or used, it can be safely removed.

The "problem" is that proxysql cannot parse multi-statements with SET statements, as the warning shows:

Furthermore, you are using user defined variables, like `@MIGRATION_1601388975_IS_ACTIVE` . Because of this proxysql cannot keep multiplexing enabled (edit: in the original message I incorrectly wrote "disable

[2022-01-22 17:26] Aloush-ha commented on #3772
if i set the following rule, would it be solved?
        {
                rule_id=1
                active=1
                match_pattern="^SET .*"
                destination_hostgroup=1
                multiplex=0
                apply=1
        }

[2022-01-22 17:38] Aloush-ha commented on #3772
the main problem is, that this query wrote in Log every millisecond, and log size is gone be huge, i wrote cronjob to run logroate hourly, but that put me in other big problem, i can't read the actual error, when it happens

[2022-01-22 17:44] renecannao commented on #3772
I don't think there is anything to solve. To me, ProxySQL is doing the right think: disable multiplexing and routing after that query.

You shouldn't want routing (like read/write split) or multiplexing for the client connection issuing that query, because otherwise you will lose variables.

I now read your new comment. If your application is really sending this queries thousands of time per secon

[2022-01-22 17:52] Aloush-ha commented on #3772
on Monday i will speak with our developer and i will take your opinion in consider, and write you after that,
i don't exactly understand, what are you meaning with "From our end we can add a variable to suppress those warnings" :'), can i do it, if yes, how?
thank you for your help

[2022-01-22 18:21] renecannao commented on #3772
It means we can introduce a new proxysql variables that will prevent those warnings from being written in the error log.
Adding a new proxysql variables is not very complex and you are more than welcome to try it and create a PR.

Alternatively, here is the instruction to re-compile proxysql without that warning:

1. clone proxysql:
[code]

2. apply a commit (e7abc2fd3c8de79b220fd33d3d3102531f2225

[2022-01-22 18:48] Aloush-ha commented on #3772
thank you a lot, i will follow the steps, if it's still coming

[2022-01-24 11:26] uder opened #3773 "Unpredictable behavior. All mysql servers becomes SHUNNED after proxysql upgrade 2.0.18->2.3.2"
Hello Everyone,

There are some unpredictable behavior i've find out after update 2.0.18->2.3.2. All mysql servers become "SHUNNED" in replication hostgroups

My setup:
  - 3 mysql servers. 1 Master + 2 replicas.
  - pt-heartbeat, to measuring replication bug
  - proxysql on application side

proxysql is used for read-write split, very basic setup:
[code]

after upgrade proxysql (2.0.18->2.3.2) al

[2022-01-27 07:30] csjpeter commented on #2788
This happens for me on ubuntu20.04 . It doesn't happen on all the ubuntu20 instances I am using.

[2022-01-27 09:28] renecannao commented on #1574
@An-Tux :
You report a `WARNING` in `MySQL_PreparedStatement.cpp:386:update_metadata()` . In 2.3.2 there is no call to `proxy_warning()` in line 386 of MySQL_PreparedStatement.cpp : https://github.com/sysown/proxysql/blob/v2.3.2/lib/MySQL_PreparedStatement.cpp#L386
I did a quick check, and in that line there is no call to `proxy_warning()` in 2.1.x , 2.2.x, or 2.3.x .
Therefore I must assume that

[2022-01-28 06:01] GritWins commented on #3106
We are also having the same issue where I can see no servers shunned in the `mysql_servers` table but this error keeps coming.  I have increased the number of max connections as well and that did not help.

Any advice would be much appreciated.

[2022-01-28 16:32] mheisig commented on #3742
@calvin2020 we're experiencing the same issue after upgrading to 1.4.16. Did you ever make any progress on this?

[2022-01-31 07:08] harelmo opened #3778 "Multiple-statement query partially and silently fails"
Does proxysql support multiple command separated by `;`? seems like such command are not rejected, however only the first one (up until the first `;`) is actually executed, with the rest being ignored.

**A clear description of the issue**

When running a query that consists of multiple statements against proxysql, only the first query applies with the other being silently ignored.

I would expect

[2022-01-31 08:41] hewisaurus commented on #3762
I'm having the same issue, although this didn't start for me until I started using `connection_warming` and set a value for `free_connections_pct`. I also have connection_max_age_ms set to 30 minutes - unsure if this is too high but has been running fine for some time, until introducing `connection_warming=1` and `free_connections_pct=75`

With that said, the same issue occurs with `free_connectio

[2022-01-31 08:44] renecannao commented on #3762
Most likely you have a small `wait_timeout` configured in MySQL server

[2022-01-31 08:46] hewisaurus commented on #3762
Interesting. This is an Azure MariaDB resource with a default wait_timeout of 180 seconds.. should that value be much larger than that?

Edit: Should the wait_timeout effectively be the same as the `mysql-connection_max_age_ms` variable?

[2022-01-31 11:55] #3772 closed, assigned to nobody

[2022-01-31 19:18] sateesh88 commented on #3762
Hi @renecannao , here is my wait_timout value
mysql> show variables like 'mysql-wait_timeout';
+--------------------+--------+
| Variable_name      | Value  |
+--------------------+--------+
| mysql-wait_timeout | 300000 |
+--------------------+--------+
1 row in set (0.00 sec)

mysql> show variables like 'mysql-connection_max_age_ms';
+-----------------------------+--------+
| Variable_name

[2022-01-31 19:26] sateesh88 commented on #3762
I tried with your commented variables, but still facing the sma error.
Hi @hewisaurus
mysql> set mysql-connection_warming=1;
Query OK, 0 rows affected (0.00 sec)
ERROR: Unknown global variable: 'mysql-connection_warming'.

mysql> show variables like 'mysql-free_connections_pct';
+----------------------------+-------+
| Variable_name              | Value |
+----------------------------+-------+
| m

[2022-02-02 16:27] rradillen commented on #3580
The fast forward limitation of no SSL is a serious issue for us here.

[2022-02-02 16:32] renecannao commented on #3580
@rradillen , thank you for your comment.
I think it should have gone to #1459 and not here.
Writing this comment for cross reference.

[2022-02-03 10:53] VerachtertAaron opened #3780 "Fast_forward working incorrectly in 2.3.2"
**Problem description**

After upgrading from ProxySQL v2.0.10 to v2.3.2, our fast_forward users can no longer execute any query.
When troubleshooting with a mysql client, we get the following response executing:
[code]

The ProxySQL log only shows the following line:
[code]

**ProxySQL version**
2.3.2, docker image proxysql/proxysql:2.3.2

**Backend server**
MySQL 8.0.25 cluster with Galera repli

[2022-02-03 10:58] renecannao commented on #3780
Probably this is a duplicate of #3756
Fixed in PR #3757

Try the following:
[code]

If this fixes it, please close this issue.
Thank you

[2022-02-03 14:22] VerachtertAaron commented on #3780
Looks to have solved it, thank you

[2022-02-03 14:22] #3780 closed, assigned to nobody

[2022-02-03 15:16] pchaganti opened #3781 "Build fails on Apple M1"
ProxySQL latest version. Using cloned repo source.
Mac OS Monterey, Apple M1

Running make results in this error
[code]

[2022-02-03 17:44] #3483 closed, assigned to JavierJF

[2022-02-05 03:28] prime-minister-of-fun opened #3785 "Query Cache Not Working For Large Result Set & AWS Aurora"
I followed several of the many howtos on using the query cache and nothing is being selected from the query cache. Example: https://minervadb.com/index.php/proxysql-query-cache/

OS: Linux, 20.04.2 LTS (Focal Fossa) ARM64 running in Kubernetes environment on AWS.
proxysql version: 2.2.0-72-ge14accd, aarch package.

Steps to reproduce:
Proxysql is running using attached config and started with
`/us

[2022-02-05 06:53] dmifedorenko commented on #3749
Same issue. PHP 8.1.1, MySQL Ver 8.0.25-15 Percona.

Proxysql 2.0.18 works fine.

But 2.2.0 and 2.3.2 both are broken. Looks like it is regression.

[2022-02-05 17:17] OPSTime opened #3786 "The user name specified by "admin_credentials" cannot appear in "mysql_users", otherwise the management background will be unable to log in。"
The user name specified by "admin_credentials" cannot appear in "mysql_users", otherwise the management background will be unable to log in.

**$ cat /etc/proxysql.cnf**
[code]

**add user:**
[code]

**$ /usr/local/mysql/bin/mysql -u admin --port 6032 -h 127.0.0.1 -padmin**
[code]

[2022-02-05 18:10] renecannao commented on #3786
https://proxysql.com/documentation/main-runtime/#mysql_users

Very well documented I believe

[2022-02-05 18:10] #3786 closed, assigned to nobody

[2022-02-07 01:09] calvin2020 commented on #3742
Not yet

[2022-02-07 18:47] OPSTime opened #3787 "Access denied for user 'cluster_username'@'proxysql_server'"
**version: ProxySQL version 2.3.2-10-g8cd66cf, codename Truls
OS: CentOS Linux release 7.9.2009 (Core)**

**$ cat /etc/proxysql.cnf**
[code]

**$ grep -E 'username|credential' /etc/proxysql.cnf |grep -v ^#**
[code]

[code]

[code]

[code]

`$ tail /data/proxysql/log/proxysql.log`
[code]

[2022-02-07 19:16] OPSTime commented on #3787
Debug mode cannot be closed, 'debug=false' is invalid. Always output the debug log.

[2022-02-07 21:34] renecannao commented on #3785
Have you checked if the query rule is being hit at all?
You can check from `stats_mysql_query_rules`

[2022-02-07 21:37] renecannao commented on #3787
From documentation at https://proxysql.com/documentation/proxysql-cluster/ :

Closing this issue

[2022-02-07 21:37] #3787 closed, assigned to nobody

[2022-02-08 00:55] juicycool92 opened #3788 "docker proxysql did not support frontend ssl?"
If you are submitting a reproducible bug report, please provide:
- [ ] A clear description of the issue
- [ ] ProxySQL version
- [ ] OS version
- [ ] The steps to reproduce the issue
- [ ] The **full** ProxySQL error log (default location: `/var/lib/proxysql/proxysql.log`)

If this is a crashing bug, please also include:
- [ ] The package used to install ProxySQL
- [ ] The compressed proxysql bina

[2022-02-08 01:07] renecannao commented on #3788
Hi Jay,

From a quick read of this issue it looks like you correctly configured proxysql to have SSL for frontend.

Can you try to run `mysql` with `--ssl-mode=required` ?
Old versions of mysql clients do not use SSL as default.

Thanks