[2019-10-11 01:40] #2303 closed, assigned to nobody

[2019-10-11 01:48] Dark-One commented on #2302
thanks a lot，it works,  it's my fault

[2019-10-11 02:05] #2302 closed, assigned to nobody

[2019-10-11 03:45] cehau37 opened #2304 "Detected a broken connection during SET NAMES - Can't initialize character set (null) (path: compiled_in)"
ProxySQL 2.0.7
CentOS 7
MariaDB 10.2

We keep getting this error message every now and then...

MySQL_Session.cpp:2914:handler_again___status_CHANGING_CHARSET(): [ERROR] Detected a broken connection during SET NAMES on 172.16.0.51 , 3306 : 2019, Can't initialize character set (null) (path: compiled_in)

We have set the default charset to utf8

| mysql-default_charset               | utf8

[2019-10-11 07:08] markuman opened #2305 "SET TRANSACTION ISOLATION LEVEL READ COMMITTED"
After updating to proxysql 2.0.7 I got lots of

[code]

This is similar to #2197, but now without _SESSION_ and it's now just a warning and not an error.

[2019-10-11 07:23] renecannao commented on #2305
We currently do not support `SET TRANSACTION ISOLATION LEVEL` without `SESSION` because it requires a lot of efforts, and we believe that the uses of it without `SESSION` is not common.
Any reason why your application is changing it only at transaction level?

[2019-10-11 08:28] CyberLine commented on #2301
Closed as 1.4.16 was revoked for that known bug

[2019-10-11 10:55] markuman commented on #2305
Atm I have no idea, I must talk to our developers.
What I can say it, that it is a php symfony project which uses

* doctrine/orm
* doctrine/doctrine-bundle
* doctrine/doctrine-cache-bundle

I guess it comes from here https://github.com/doctrine/dbal/blob/master/lib/Doctrine/DBAL/Connection.php

#2197 was nextcloud. This ticket belongs to another custom application.

[2019-10-11 11:06] zsebacsi commented on #2234
we've upgraded to 2.0.7 and experiencing the same problem too. :(

[2019-10-11 19:42] sszz06 opened #2306 "Proxysql 2.0.7 keeps crashing every 5 mins"
Hi,

I just upgraded to 2.0.7 and noticed that it keeps crashing every 5 mins.

Error: signal 11:
proxysql(_Z13crash_handleri+0x2d)[0x498b2d]
/lib/x86_64-linux-gnu/libc.so.6(+0x354b0)[0x7f01b17244b0]
proxysql(_ZN16MySQL_Connection7handlerEs+0x385)[0x5fbbf5]
proxysql(_ZN16MySQL_Connection11async_queryEsPcmPP13st_mysql_stmtP23stmt_execute_metadata_t+0xcf)[0x5fcc8f]
proxysql(_ZN13MySQL_Session7handle

[2019-10-11 19:56] sszz06 commented on #2257
I got same issue in 2.0.7

[2019-10-11 20:42] vimedvedev opened #2307 "SSL TLS to frontend "unable to verify the first certificate" error"
We are unable establish valid TLS connection to proxysql.
Installed version 2.0.6, upgraded to 2.0.7, still see the same issue.

Application layer works fine if we directly use Aurora AWS endpoints and successfully passes tests with openssl s_client.

Used documentation for SSL configuration for frontend:
https://github.com/sysown/proxysql/wiki/SSL-Support#ssl-configuration-for-frontends

Error we

[2019-10-11 23:10] renecannao commented on #2306
Hi.
Have you read how to report a crashing bug?

[2019-10-12 10:29] lazzyfu commented on #2293
A  New Problem, help me, thanks.

proxysql show processlist:
![image](https://user-images.githubusercontent.com/14190782/66699929-cf580f00-ed1d-11e9-8496-451928a92dda.png)

MySQL:
![image](https://user-images.githubusercontent.com/14190782/66699939-f0206480-ed1d-11e9-9902-f19738e9d2b0.png)

Mysql show **Command: Sleep**

[2019-10-14 00:20] renecannao commented on #2294
stp-0 has weight 0 , therefore it is configured to not receive traffic.

[2019-10-14 00:20] #2294 closed, assigned to nobody

[2019-10-14 01:04] renecannao commented on #2292
If `wsrep_local_state` is not 4 , the node it is not in sync. The fact that it can take both reads and writes is, imho, irrelevant.
@pondix , @Tusamarco : feedback?

[2019-10-14 01:06] renecannao commented on #2292
For reference:
https://galeracluster.com/library/documentation/node-states.html#node-state-changes

[2019-10-14 05:02] diamanat opened #2311 "[ERROR] RECEIVED AN UNKNOWN COMMAND: 0 -- PLEASE REPORT A BUG"
With new ProxySQL 2.0.7 I have a lot of this errorr in log and application don't work.

2019-10-14 06:52:40 MySQL_Session.cpp:3607:handler(): [ERROR] RECEIVED AN UNKNOWN COMMAND: 0 -- PLEASE REPORT A BUG
2019-10-14 06:52:40 MySQL_Session.cpp:3607:handler(): [ERROR] RECEIVED AN UNKNOWN COMMAND: 0 -- PLEASE REPORT A BUG
2019-10-14 06:52:40 MySQL_Session.cpp:3607:handler(): [ERROR] RECEIVED AN UNKNOW

[2019-10-14 06:57] sysdljr commented on #2257
@sszz06   after upgrade to proxysql 2.0.7 , you execute what command , encounter  the question ?
recently , we plan to upgrade to proxysql 2.0.7

[2019-10-14 08:47] mariojacobo opened #2312 "Proxysql not detecting offline nodes"
For some reason, ProxySQL does not detect offline nodes:

[code]
When trying to connect to the nodes:
[code]

Any idea why ProxySQL keeps seeing the nodes online ? It's not a latency or propagation issues, as the nodes have been offline for more than a day now. The mysql service is stopped on both nodes.

** UPDATE **
If I check the connection pool status, I see one OFFLINE_HARD and one in SHUNNED

[2019-10-14 11:25] Tusamarco commented on #2292
Not clear to me the issue.
Anyhow in Galera replication the WSREP API in MySQL provide the following setting:
`wsrep_sst_donor_rejects_queries` which by default is set to `0`

At the same time ProxySQL with native Galera support checks for several parameters including the mentioned one.
IE
[code]
In this example the node `192.168.4.21` IF donor will reject queries.

When a node becomes donor, its

[2019-10-14 11:27] mat1010 opened #2313 "proxysql crashes since upgrade from 2.0.6 to 2.0.7"
Since upgrading proxysql from 2.0.6 to 2.0.7 the instance crashes and restarts immediately over and over again. Downgrading to 2.0.6 solves the issue without further changes.

OS: Centos 7.7
Used package (2.0.6): https://repo.proxysql.com/ProxySQL/proxysql-2.0.x/centos/7/proxysql-2.0.6-1-centos7.x86_64.rpm
Used package (2.0.7): https://repo.proxysql.com/ProxySQL/proxysql-2.0.x/centos/7/proxysql-2.

[2019-10-14 14:36] markuman commented on #2293
Just a guess. It's multiplexing? https://www.percona.com/blog/2019/09/27/multiplexing-mux-in-proxysql/
proxysql is justing keeping the connection?

[2019-10-14 17:55] markuman commented on #2312
you must check the `runtime_mysql_servers` table.

[2019-10-14 20:08] pondix commented on #2306
Please provide information as specified in https://github.com/sysown/proxysql/wiki/How-to-report-a-crash-bug and re-open ticket once updated.

[2019-10-14 20:08] #2306 closed, assigned to nobody

[2019-10-15 04:12] zhenlanghuo opened #2314 "How does proxysql work about prepared statement."
ProxySQL Version: 2.0.5
DB Vesion: mariadb 10.3
Go Version: 1.12.6
go-sql-driver/mysql Version 1.4

@renecannao I am hard to understand how does proxysql work about prepared statement.

My go program does not call prepare api, but when running my go program, I can select some data from `stats_mysql_prepared_statements_info` and `stats_mysql_global`.

[code]

However, when I use mysql client direct

[2019-10-15 08:26] lazzyfu commented on #2293
I would like to ask the following parameters will affect
/etc/sysctl.conf
[code]

[2019-10-15 12:52] zhenlanghuo commented on #2314
I have found the reason.

Firstly, see https://github.com/sysown/proxysql/issues/1118#issuecomment-319585127, ProxySQL doesn't support SQL level prepared statements, so I can not find data in `stats_mysql_prepared_statements_info` and `stats_mysql_global` after  I use mysql client directly connect to proxy's port pf 6033 and exec prepare.

Secondly, in go package database/sql, there is a `Interpol

[2019-10-15 12:52] #2314 closed, assigned to nobody

[2019-10-15 13:58] cfrietschy commented on #2048
After we installed version 2.0.7 the error seems to be gone.

[2019-10-16 03:55] SonlyF5020 opened #2316 "Is it possible to route a specific SQL to all MySQL instances or all hostGroups ?"
I am planning to use ProxySQL as the proxy of my sharding cluster, and there is one potential problem I am thinking: What if we have some special SQLs (just like database migration SQLs) which need to be applied to every instances in the cluster, how can proxySQL do such things ?

Anybody have any idea ?

[2019-10-16 04:39] markuman commented on #2316
Create query rules that match your migration sqls (maybe a different username?) and use mirroring to direct it to another hostgroup.
https://github.com/sysown/proxysql/wiki/Mirroring#mirror-select-to-different-hostgroup

but if you have more than one backend per hostgroup, that might be failing.
I suggest to use ansible for that kind of task.

[2019-10-16 07:38] jboffel commented on #2284
Sorry this is a production system, not so easy for us to upgrade to the latest version unfortunately.

[2019-10-16 07:44] Lightning303 opened #2317 "Documentation missing for AWS Aurora discovery in 2.0.7"
Hi,
with version 2.0.7, native support for AWS Aurora has been added. However documentation for it and its table (mysql_aws_aurora_hostgroups) is missing.
Hope this can be added soon.
Thanks!

[2019-10-16 07:47] jboffel opened #2318 "Weird 100ms and 200ms query pattern from ProxySQL logs"
Analyzing ProxySQL logs I found 2 strange patterns. I don't know if ProxySQL is responsible for that of if really MySQL spend actually the reported time in executing the query.

I could see sometimes queries like: SET commit=0, SET commit=1, SELECT 1, SELECT 2, SAVEPOINT_X, commit, rollback
Taking 100ms or 200ms to complete. This is always very close to this time.
Most of the time they will be exe

[2019-10-16 07:57] SonlyF5020 commented on #2316
Thanks mate, Mirror looks good for me, but seems there is only one mirror group in each row of rule, I will try to create some more rules to get the Query applied to all different groups.

[2019-10-16 08:28] SonlyF5020 commented on #2316
Is it possible we set up rules to ensure one special SQL will get applied to one main hostGroup and mirror to  a lot of other (at least more than one) mirrors ?

[2019-10-16 11:34] pondix commented on #2316
This is the place for paid support and community users to report a **reproducible bug** in ProxySQL, suggest enhancements or make feature requests. This also includes documentation errors and/or missing documentation.

* Remember, this is the place for fixing and improving ProxySQL rather than the place to get free support.
* If you do not have a paid support contract please try https://groups.goo

[2019-10-16 11:35] #2316 closed, assigned to nobody

[2019-10-17 08:50] markuman commented on #2317
I think all the magic comes from `mysql_replication_hostgroup`: https://github.com/sysown/proxysql/wiki/Main-(runtime)#mysql_replication_hostgroups

[2019-10-17 12:18] #2048 closed, assigned to nobody

[2019-10-17 12:56] leagueofsoups opened #2320 "General error: 1273 Unknown collation: ''" proxysql 2.0.7"
After update to 2.0.7 I have problem with default collation:
Proxysql log:
MySQL_Session.cpp:2470:handler_again___status_SETTING_GENERIC_VARIABLE(): [WARNING] Error while setting COLLATION_CONNECTION: 1273, Unknown collation: ''

mysql server variables:
mysql> show variables like '%coll%';
+----------------------+-----------------+
| Variable_name        | Value           |
+----------------------

[2019-10-17 12:58] leagueofsoups commented on #2320
any query executed through proxysql return this error until I change mysql-default_collation_connection
show databases / any select query / etc

[2019-10-17 19:25] sysadmin1139 opened #2321 "High CPU usage after back-end connection event"
This is similar to #2240 but just different enough that it could be a different bug-path.

We're in the process of getting proxysql into place and currently had it installed but not in the query path. Back-end monitoring was going on, but no actual usage from the front-end. Due to a requirement to use SSL on the front end, we were waiting until #2244 resolved before doing more.

We're using AWS RD

[2019-10-17 19:33] sysadmin1139 commented on #2321
[ip-192-0-2-17.ec2.internal.log](https://github.com/sysown/proxysql/files/3740979/ip-192-0-2-17.ec2.internal.log)
[ip-192-0-2-38.ec2.internal.log](https://github.com/sysown/proxysql/files/3741492/ip-192-0-2-38.ec2.internal.log)
[ip-192-0-2-51.ec2.internal.log](https://github.com/sysown/proxysql/files/3741498/ip-192-0-2-51.ec2.internal.log)
These are full proxy.log (cleaned up for private data) for

[2019-10-18 00:01] wjordan commented on #2317
@markuman The two are separate but related features:
- `mysql_replication_hostgroups` is part of an older feature (v1.1.1, #395) that monitors the `read_only` status of listed servers and migrates them to reader/writer hostgroups based on the current status. More recently ([v2.0.1](https://github.com/sysown/proxysql/releases/tag/v2.0.1), 1b7b6f08fde96ebd1631f3cfd4ce11ce3a07cfc9) this feature was u

[2019-10-18 02:35] feiazifeiazi commented on #1132
`
select d.time_ms/1000.0/60/60 time_hour,d.time_ms,d.ThreadId,d.SessionId,d.user
,d.cli_host,d.cli_port,d.hostgroup
from stats_mysql_processlist d where  1=1
and d.user ='unauthenticated user'
order by d.time_ms desc;
`

![image](https://user-images.githubusercontent.com/21078128/67061292-74e20700-f192-11e9-90cd-0d3cf27c0e2c.png)

[2019-10-18 02:43] renecannao commented on #2321
@sysadmin1139 : thank you for the fairly detailed report, especially considering that you can't reproduce the issue.

The easy part first:

This is expected. Due to Monitor failing, the server is configured as readable. This happens here for example:
[code]
After some time Monitor detects that the server is writable:
[code]
When a server is "promoted" from readable to writable, variable [mysql-mon

[2019-10-18 05:05] renecannao commented on #2321
@sysadmin1139 : would you be interested in a special build with more debugging information available?

[2019-10-18 06:41] xiaoqiguilh opened #2323 "use databasename,send select * from table where 1=0"
when I send use $databasename, there have many sql like "select * from  $tablename where 1=0" in logs; I want to close those queries like "select * from  $tablename where 1=0",are you giving a way？thx

ProxySQL LOG COM_QUERY: thread_id="7" username="dba_dev" schemaname="acornhc_hmboss_management" client="127.0.0.1:29160" HID=20 server="10.32
.146.13:3306" starttime="2019-10-18 14:31:35.674084" end

[2019-10-18 06:43] monkeyerKong opened #2324 "Via ProxySQL Get Character Sets Incorrectly"
hi:
i found a problem, While via ProxySQL and usename is "admin" it is:
mysql -uadmin -pxxxxx  -hxxxx -P6033
mysql> SHOW VARIABLES WHERE Variable_name LIKE 'character\_set\_%' OR Variable_name LIKE 'collation%';
+--------------------------+--------------------+
| Variable_name            | Value              |
+--------------------------+--------------------+
| character_set_client     | utf8mb4

[2019-10-18 06:52] renecannao commented on #2324
A schema is already required for ProxySQL, see https://github.com/sysown/proxysql/wiki/Global-variables#mysql-default_schema

About the default charset, see https://github.com/sysown/proxysql/wiki/Global-variables#mysql-default_charset

[2019-10-18 06:56] xiaoqiguilh commented on #2282
thx，get

[2019-10-18 07:11] monkeyerKong commented on #2324
ok,
but i don't understand,  why ProxySQL doesn't allow connection without a schema?

[2019-10-18 07:32] renecannao commented on #2324
It is an implementation choice, mostly dictated by the fact that MySQL doesn't allow to remove a default schema once it is set. Because of this limitation and ProxySQL's multiplexing, a schema is always set (either explicitly or implicitly).

[2019-10-18 09:55] lddlww opened #2325 "in proxysql cluster，why mysql_users synchronization will generate two records?"
[code]

[2019-10-18 11:16] svetasmirnova opened #2326 "[FR] max_transactions_behind check count"
Currently, if group replication max_transactions_behind exceeds the threshold once, the node is evicted from the cluster.

This feature request about adding a variable which will define a count for such checks. So that max_transactions_behind would have to fail more than once (x number of times) before eviction.

Idea, similar to https://github.com/sysown/proxysql/issues/2187

[2019-10-18 11:51] jonathanhartley commented on #2292
Its is Donor\Desynced thats Donor OR Desynced as I said with xtrabackup_v2 method the node does not desync and all writes are passed to the rest of the cluster as normal, it is totally non-blocking especially with `[xtrabackup]
.........
inno-backup-opts = '--no-backup-locks'`  enabled
So while donoring this node is fully operational, so allowing the variable as a choice allows you to disable this

[2019-10-18 12:27] Tusamarco commented on #2292
@jonathanhartley I am sorry but all the examples above are done using `wsrep-sst-method              = xtrabackup-v2` so either you have something miss-configured or you are doing the check when you have a single node active and add another one.

Can you please share FULL configuration from Proxysql and galera?

[2019-10-18 13:09] markuman opened #2327 "Why is the mysql-default_charset changed from utf8mb4 to utf8?"
Why is the `mysql-default_charset` changed from utf8mb4 to utf8?
https://github.com/sysown/proxysql/wiki/Global-variables/_compare/381d5dd%5E...381d5dd

https://github.com/sysown/proxysql/wiki/Global-variables#mysql-default_charset

utf8 is a broken und uncomplete utf8 implementation of mysql an should not be used. utf8mb4 is the correct one.

[2019-10-18 17:03] sysadmin1139 commented on #2321
We would be. We run enough in parallel we can put the debug build in two or so instances. Hopefully that 16:03 event remains consistent.

[2019-10-18 17:25] jacksj02 opened #2328 "MySQL 5.5.30"
Are we able to install proxysql on a different version of MySQL?  Our version uses 5.5.30 and it has vulnerabilities. We are being forced to move to another version.

[2019-10-18 22:03] altmannmarcelo opened #2330 "ProxySQL Native Galera support stop to work after PROXYSQL RESTART."
ProxySQL will stop work if you add all Galera nodes in the backup writer hostgroup and restart proxysql. The behavior is only triggered after executing PROXYSQL RESTART. When you issue LOAD MYSQL SERVERS TO RUNTIME after configuring it, runtime_mysql_servers table is populated normally, however, after the restart, only nodes with backup writer hostgroup are loaded to runtime. Checks like ping, con

[2019-10-18 22:23] altmannmarcelo opened #2331 "SET command enhancements"
Adding here to keep track on commands to be added as supported for the new SET algorithm:

[code]

ProxySQL version 2.0.7-80-g4dd4ef5

PS.: Not really an issue since one can use `SET NAMES` to change almost all of the above(I think only `character_set_database` won't ), or even create query rules to rewrite them to SET NAMES.

[2019-10-18 22:41] altmannmarcelo commented on #2325
@lddlww the actual table that gets replicated is runtime_mysql_users, which has 2 entries for each user, 1 for frontend and 1 for backend.

[2019-10-19 00:35] renecannao commented on #2327
It was never utf8mb4 , the documentation was incorrect.

You are right that utf8 is incomplete implementation, but as older versions of MySQL doesn't support utf8mb4 I don't think it is the time to switch the default just yet.
Yet, anybody can configure it correctly/better.
Either way, the default is irrelevant if the client is configured to use an explicit charset instead of relying on default.

[2019-10-19 04:50] #2327 closed, assigned to nobody

[2019-10-19 17:49] #2312 closed, assigned to nobody

[2019-10-20 13:31] Lyazarus opened #2334 "service proxysql initial doesn't work"
Hello Everyone,

I used to delivrate a new configuration for updating my ProxySQL DB with new proxysql.cnf file.
Unfortunately the new update (2.0.7) remove /etc/init.d/proxysql. Replaced by a systemd unit file
so i can't run this following command : "etc/init.d/proxysql initial" and obviously "service proxysql initial".

Is it possible to execute this command by another way ?

Thanks for all, hav

[2019-10-20 18:24] markuman commented on #2197
closing, because `SET SESSION TRANSACTION ISOLATION LEVEL READ COMMITTED`  works with 2.0.7 now.

[2019-10-20 18:24] #2197 closed, assigned to nobody

[2019-10-20 18:29] markuman commented on #2328
5.5.30 is just a version which proxysql sends to connected client. it can be changed using [mysql-server_version](https://github.com/sysown/proxysql/wiki/Global-variables#mysql-server_version).
It has nothing to to with the connected backends. Afaik, you can use every mysql implementation and version, from legacy mysql 5.5, to 8.0 over percona and the mariadb family.
See also https://github.com/sy

[2019-10-21 14:07] pondix commented on #2334
This is a switch passed to ProxySQL's binary:

`proxysql -c <config_file> -D <datadir> --initial`

e.g. `proxysql -c /etc/proxysql.cnf -D /var/lib/proxysql --initial`

In order to clear ProxySQL's data and continue managing via the systemd service you can also just stop the service and delete the datadir:

[code]

The recommendation of course is to generally avoid using the `proxysql.cnf` as much

[2019-10-21 16:06] fuyar commented on #2095
I second this. Digest table can grow indefinitely like this.
Any way to implement a sort of LRU like perf schema is doing ?

Also can a really big digest table be slowing down ProxySQL ?

[2019-10-22 07:17] #2324 closed, assigned to nobody

[2019-10-22 16:02] monkeyerKong opened #2338 "When Use Not Exists Database via ProxySQL, Use Statement Execute OK"
Hi. i found a problem
When I execute the use database statement, I can see the use statement execute successful, actually, but there is no this database. I get this output:

while via ProxySQL it is：
mysql> show databases;
+--------------------+
| Database           |
+--------------------+
| information_schema |
| bbb                |
| mysql              |
| performance_schema |
| sys

[2019-10-22 22:31] wjordan opened #2339 "Update Multiplexing documentation with delay_multiplex conditions"
The [Conditions where multiplexing is disabled](https://github.com/sysown/proxysql/wiki/Multiplexing#conditions-where-multiplexing-is-disabled) documentation should be updated to include two extra conditions where multiplexing becomes temporarily disabled:

- [`mysql-auto_increment_delay_multiplex`](https://github.com/sysown/proxysql/wiki/Global-variables#mysql-auto_increment_delay_multiplex) - Di

[2019-10-23 00:13] srikiraju commented on #2321
We just upgraded our clusters to 2.0.7 (from an old custom 2.0.0.x build) and we see this exact same pattern

[2019-10-23 00:23] newbie2allthingsdev opened #2340 "Unable to use mysqldump to dump proxysql configuration - issue?"
Hello!

I got an error when using mysqldump to export proxysql configuration (specifically mysql_servers) from proxysql:

[code]

There was no error in proxysql.log (which makes sense since it said "ProxySQL Admin Error: not an error (1045)")

All servers having ONLINE status.  I can connect using
`mysql -h 127.0.0.1 -P 6032 -u myuser -p -e 'show tables'`
and get result.

Mysql client is 8.0.17.

[2019-10-23 00:47] renecannao commented on #2339
Hi @wjordan .
Thank you for the input.
Would you be available to update the documentation yourself? The wiki is free to edit.
We can update the documentation ourselves, but we value a lot community's contributions.
Thanks

[2019-10-23 00:49] renecannao commented on #2338
Thank you for the report, but this is not a bug: this is an expected behavior.
When you run `use`, the client is just informing which schema it wants to use as a default schema from that moment onward.

[2019-10-23 00:49] #2338 closed, assigned to nobody

[2019-10-23 00:51] renecannao commented on #2334
@pondix , init script supported `service proxysql (start|stop|initial|restart)` , we should try to implement this also in systemd unit file.
Thanks

[2019-10-23 00:54] renecannao commented on #2331
Hi @altmannmarcelo , thank you for the report.
We are working on correctly handling `SET CHARACTER SET` , and future versions will handle all/most of the session variables.
Out of curiosity, what application/driver is generating these?

[2019-10-23 16:00] CyberLine commented on #2301
As long as this Version is available in Public repo under https://repo.proxysql.com/ProxySQL/proxysql-1.4.x/stretch/ i will leave this open.

[2019-10-23 16:51] newbie2allthingsdev commented on #2340
Update, I uninstalled mysql 8.0.17 client (just the client, not libs/libs-compat/common) and installed mysql 5.7.26 client, and mysqldump worked right away without any issue.

[2019-10-24 00:51] jacobbednarz opened #2342 "ProxySQL randomly hangs when using SSL"
We have a Rails 5.x running on Ruby 2.5 and AWS RDS aurora. Our hosts are running Ubuntu Bionic. We've decided to implement ProxySQL to help some of our database scaling and recovery scenarios. Communication to the ProxySQL instances is load balanced using AWS NLB.

In our current setup, we use RDS CA verification in our application to encrypt the traffic between the application and the database.

[2019-10-24 05:58] sampathatbold commented on #2283
Hi @pkatiushyn  could you please share what the misconfiguration was , as we are observing a high memory usage on 2.0.6 as well. Thanks in advance.

[2019-10-24 11:41] hujiko commented on #169
Is there a somehow estimated date when this might be available?
This would be really useful for us.

Background:
We would like to regularly fetch the information from this table and put it into a StatsD.
Displaying this information on a graph would allow us to identify query time patterns and how they change over time. When using the `stats_mysql_commands_counters` table, the graphs would just inc

[2019-10-25 08:13] lddlww opened #2344 "how can i get master-slave(mgr) switch event，or record？"
i want to get master-slave switch event，which post to my monitor server；

[2019-10-25 11:20] GhOsTMZ opened #2345 "Set session variable for some databases"
Hello!
I need to set session variables for one of the databases (or users). Can proxysql do it transparently because I can't modify application and current global variables required by another application?

[2019-10-27 14:11] blinky58 opened #2346 "Query Cache: Refresh before ttl reached"
Hi!

I couldn't find a function in the documentation to automatically update a result set in the cache.

**Scenario**
There is a SQL that runs for 30 seconds (but the vendor doesn't improve it), and I know that the result is fine if it is cached for 30 minutes. The inperformant SQL query is triggered by web site visitors and the result is required to complete the website.
In this case I would be h

[2019-10-27 22:24] #2342 closed, assigned to nobody

[2019-10-28 01:58] lazzyfu commented on #2293
This problem is solved:
go program add:
[code]

[2019-10-28 06:55] eugenegwon opened #2348 "How to change permission of log file ?"
Hello,
    First of all, Thanks for the great project :)

I'm testing proxysql v2.0.7 on our test environment, and It seems working as expected.
but log file(/var/lib/proxysql/proxysql.log) doesn't have global read permission; this caused log collectors(eg: td-agent) to failed to collect log contents.

Is there any option to change logfile permission?
I added below command to `proxysql.service`, b

[2019-10-28 08:01] jboffel commented on #2318
Not a ProxySQL issue. Network issue.
As to answer ProxySQL measurement seems just to be the elapsed time between starting the event thread and get the query result. So it is including also ProxySQL treatment time that in some case I guess could be miss leading.

[2019-10-28 08:01] #2318 closed, assigned to nobody

[2019-10-28 14:42] kashak88 commented on #2240
VIRT has not grown to larger than 280K on any of our servers since we've upgraded to 2.0.7, so I am guessing this was related to openssl issue outlined in #2244 .

Thanks, closing this

[2019-10-28 18:37] srinivasmadigala commented on #1043
I a still seeing the issue - MySQL_Session.cpp:3411:handler(): [WARNING] Error during query on (0,10.202.194.89,3306): 1043, Malformed change user packet

[2019-10-28 18:39] srinivasmadigala commented on #1043
I am getting 2 errors

MySQL_Session.cpp:1181:handler_again___status_PINGING_SERVER(): [ERROR] Detected a broken connection during ping on (0,10.202.194.165,3306) , FD (Conn:906 , MyDS:906) : 1043, Malformed change user packet
MySQL_Session.cpp:3411:handler(): [WARNING] Error during query on (0,10.202.194.89,3306): 1043, Malformed change user packet

Can you help me to fix this issus.

[2019-10-28 23:13] altmannmarcelo opened #2349 "ProxySQL Hang on big query and SSL"
ProxySQL is hanging when running a big query and having front-end SSL enabled.

**How to reproduce**

- Install a brand new proxysql (assuming you have a backend and a user already configured):
- Enable frontend ssl `SET mysql-have_ssl = 'true'; SAVE MYSQL VARIABLES TO DISK;`
- Restart proxysql
- Run a query larger than 16K

Here is just one example of table and query:

[code]

If you edit the fil

[2019-10-28 23:41] renecannao commented on #2349
Hi @altmannmarcelo .
Thank you for the report.
We have a branch to fix this already, and I just created the PR for it: #2350 .
Thanks

[2019-10-29 03:01] baijiu1 opened #2351 "proxysql mysql restart auto join"
mysql version：5.7.26
proxysql version：2.0.7
OS version：centos 7.3 Linux 3.10.0-327.el7.x86_64

I have a complete master-slave structure. Use orchestrator as a failover tool. When I stop the master, an automatic failover occurs, which changes from master to master. The mysql_servers table is also normal.

However, when I restart the master, the MySQL servers table will automatically join the origin

[2019-10-29 03:57] eightnoteight commented on #1132
currently, we are clearing these by doing `KILL CONNECTION %s` on whatever connection is stuck at "unauthenticated user"

[2019-10-29 04:02] ernstae commented on #1132
I've seen this behavior, and also have been trying to understand it.  We've
only seen it occurring on one of many clusters.
I am also running a KILL CONNECTION for any of the unauthenticated user
connections on a routine basis.

On Mon, Oct 28, 2019 at 8:57 PM Srinivas Devaki <notifications@github.com>
wrote:

[2019-10-29 11:19] markuman opened #2352 "error on multiline query rewrite"
Using ProxySQL 2.0.7

This is the query rule (ansible syntax)

[code]

The digest comes from stats `select * from stats_mysql_query_digest;`

[code]

When I run

[code]

everything is fine and I got `1` as return value.

But when I pretty print my sql

[code]
proxysql throws an error

[code]

Does the re2 implementation proxysql is using doesn't support multiline matches?

[2019-10-30 01:41] renecannao commented on #2349
Closing as PR is merged already

[2019-10-30 01:41] #2349 closed, assigned to nobody

[2019-10-30 02:35] renecannao commented on #2313
Hi @mat1010 .
As there are still no docker images for CentOS 7.7 this may take some time to be fully verified.
From the error log I see:
[code]
In other words, the crash happens during a **graceful** shutdown:
[code]
It sounds like something went wrong during the upgrade itself, as it is trying to shutdown.
Can you please provide more of the error log?
Thanks

[2019-10-30 02:38] ruiengana opened #2353 "Servers go offline immediately with MySLQ 8.0 and Group Replication"
Hi,

I am having a strange problem with ProxySQL 2.0.7 and 3 MySQL 8.0 configured with multi-master Group Replication.

When I load my servers, I immediately see a couple of them moving OFFLINE, just leaving the writer in the cluster alone, and a few seconds the writer also moves to OFFLINE group leaving no instances available.

Monitoring user is loaded and schema extended with the necessary auxi

[2019-10-30 10:10] renecannao commented on #2313
I managed to check the core dump on CentOS 7.7 : thank you.
I believe commit 2cefe281 fixes this problem.
Closing

[2019-10-30 13:46] MaxFedotov opened #2355 "ProxySQL COM_FIELD_LIST default values"
Hello @renecannao.
In ProxySQL 2.0.6 implementation of COM_FIELD_LIST was added. But in the current version, it doesn't handle default values for columns correctly - instead, it always returns null for all default values.

Here is how Request show fields response packet look like if connecting directly to MySQL
[code]

And here is how it looks like if connecting via ProxySQL
[code]

That's is rela

[2019-10-31 06:17] zhanghaibo-BJ opened #2356 "Proxysql crashes after opening eventlog mode in Proxysql 2.0.7"
##Problem Description：

Proxysql crashes after opening eventlog mode in Proxysql 2.0.7

##ProxySQL version：

2.0.7-80-g4dd4ef5

##Proxysql package：

proxysql-2.0.7-1-centos67.x86_64.rpm

##Operating system version：

Linux version 2.6.32-642.el6.x86_64 (mockbuild@worker1.bsys.centos.org) (gcc version 4.4.7 20120313 (Red Hat 4.4.7-17) (GCC) ) #1 SMP Tue May 10 17:27:01 UTC 2016

##Proxysql variables

[2019-10-31 07:12] yakirgb commented on #2356
I think the issue fixed in commit: https://github.com/sysown/proxysql/commit/3ad899c75889a941634deccb55a947aa79c58366
and will be in version 2.0.8

We can update the event log to standard output (not JSON) or upgrade.
[code]

[2019-10-31 07:22] zhanghaibo-BJ commented on #2356
@yakirgb thank you very much

[2019-10-31 10:09] mat1010 commented on #2313
Thanks for looking into the issue @renecannao
I did test your fix. Unfortunately it seems not to do the trick for our issue.

The attached one is the full log of the start till the crash of the process. Is there a way to get it more detailed? I haven't found any option to enable debug logging.

Even with strace I don't see something strange before the crash happens.

Attached the used proxysql bin

[2019-10-31 11:40] renecannao commented on #2313
Thank you @mat1010 for the new details
Reopening until further investigation.

[2019-10-31 12:12] renecannao commented on #2313
From error log:
[code]

This is a different crash from the previous one.

gdb bt:
[code]

`gdb` suggests some memory corruption.
[code]
It reports only 1 HG, that is correct, but the content of the HG is not accessible.
Although I am not sure of what is going on, and to troubleshoot this we need to run proxysql under valgrind, can you please try to run it without ProxySQL Cluster?

[2019-11-01 06:51] renecannao commented on #2356
Closing because fixed in 2.0.8 . Thank you @yakirgb

[2019-11-01 06:51] #2356 closed, assigned to nobody

[2019-11-01 07:11] renecannao commented on #2340
From version 2.0.8 you will be able to use mysqldump version 8.0 .
Details in the [wiki](https://github.com/sysown/proxysql/wiki/Admin-and-mysqldump)
Thank you

[2019-11-01 07:11] #2340 closed, assigned to nobody

[2019-11-01 07:34] #1692 closed

[2019-11-01 14:11] mdefanti commented on #1671
I'm having the same problem with MySQL Connector version 5.1.40 and ProxySQL version 2.0.7.
I tried changing the mysql-server_version to different values but none have worked.

Is there a workaround for this ?

[2019-11-02 12:00] renecannao opened #2357 "Ensure that libunwind is present when building packages"
`jemalloc` relies on `libunwind` to generate memory profiles.
We need to ensure that `libunwind` and its dev package are installed when compiling our packages.

[2019-11-02 12:03] renecannao opened #2358 "PROXYSQL MEMPROFILE START not working"
`PROXYSQL MEMPROFILE START` doesn't seem to work anymore since we upgraded to jemalloc 5.2.0 in proxysql 2.0.4 .

We need to investigate if this is a jemalloc bug or not

[2019-11-02 14:12] renecannao commented on #2358
This seems a bug in jemalloc , https://github.com/jemalloc/jemalloc/issues/1605

[2019-11-02 14:30] renecannao commented on #2358
Fixed in 2.0.8

[2019-11-02 14:30] #2358 closed, assigned to nobody

[2019-11-02 14:44] lafer-m opened #2359 "multi statements (golang mysql driver read packet error)"
problem:   when I execute multi statements SQL through the client, the client reports that reading  OK packet error, because the sequence ID of OK packet is not increased in order.

env:  proxysql 2.0.6 golang 1.12 mariadb 10.3.9

results of packet capture(just ok packet data):
[code]

my test golang script:
[code]
my proxysql config:
[code]

I'm new to MySQL and proxysql， can someone help me solv

[2019-11-02 14:50] renecannao commented on #2359
Please disable multi-statements: proxysql supports multi-statements, but only in text protocol and not using prepared statements.

[2019-11-02 15:09] lafer-m commented on #2359
thank you @renecannao

[2019-11-04 02:14] #2223 closed, assigned to nobody

[2019-11-04 09:06] mat1010 commented on #2313
I did a test without a cluster config. These are the steps I took (just in case I missed something)

* Stop proxysql
* Remove the `/var/lib/proxysql/proxysql.db`
* Remove all `cluster_*` config lines from `/etc/proxysql.cnf`
* `systemctl start proxysql`

The same issue seems to occur - attached the config, the log and the correspondig coredump.

[proxysql_20191104.cnf.gz](https://github.com/sysown

[2019-11-04 11:05] pondix commented on #1804
This has been resolved some time ago, closing.

[2019-11-04 11:05] #1804 closed, assigned to pondix

[2019-11-04 15:47] altmannmarcelo commented on #2331
Hi @renecannao , took some time to get the info back. This customer is using DbVisualizer (https://www.dbvis.com/) . However, they are not sure if the above statements were automatically issued by the tool or the users are setting it as part of a .sql script.

I tested the tool and I can only see it setting below SET statements:
[code]

Thanks

[2019-11-04 16:14] houndegnonm opened #2361 "ProxySQL_daemonize_phase3(): [ERROR] ProxySQL crashed. Restarting!"
Hi @renecannao ,
Currently running ProxySQL version ProxySQL version 2.0.7-percona-1.2, codename Truls,  and the server crashed 2 times today with following same error during and after, any reason why this happen will be helpful. Thanks

[code]

[2019-11-04 16:17] renecannao commented on #2361
https://github.com/sysown/proxysql/wiki/Watchdog

Please provide information and coredump as described in the new issue template, or unfortunately there isn't much we can do to troubleshoot.

[2019-11-04 17:25] jake-bourke-simplisafe opened #2362 "Memory bloat when querying stats tables"
Querying the stats_ tables through the admin CLI causes ProxySQL internal SQLite memory use to bloat.

We discovered this issue after launching a fresh DB cluster and leaving it for the weekend.  The cluster consists of several backend MariaDB hosts and a pair of ProxySQL hosts.  It also includes a bash script to periodically query for metrics.  No traffic, no connections, no queries at all runnin

[2019-11-04 21:37] renecannao commented on #2362
hi @jake-bourke-simplisafe .
Is there any chance you can share the output of those queries?

[2019-11-04 22:46] twoixter commented on #2331
I would like to add some SET errors we're getting:

[code]

In our case we can add this setting directly to the config files so that we'll not be issuing SET statements on clients, just notifying if the addition of the global `@@` keyword makes any difference.

[2019-11-04 23:31] renecannao commented on #2362
Hi @jake-bourke-simplisafe ,

We identified a memory leak in `stats_mysql_free_connections` that could be the root cause of this, and fixed in the upcoming 2.0.8 .
Thank you for the report.

[2019-11-05 13:46] jake-bourke-simplisafe commented on #2362
Thank you for pointing that out @renecannao!

I had overlooked that issue and it is indeed the problem.  I commented out the `stats_mysql_free_connections` query and memory flatlined.  I see the fix is committed to 2.0.8, so we will update when possible and forgo free connection metrics while we get transitioned.

Thank you very much for the quick response!

[2019-11-05 13:46] #2362 closed, assigned to nobody

[2019-11-05 18:45] #2186 closed, assigned to nobody

[2019-11-06 01:42] lenovore commented on #2293
![QQ截图20191106092605](https://user-images.githubusercontent.com/29646774/68260690-b1f63680-0078-11ea-83d6-1d68dfab9a08.png)
I also have the same problem, but the client is doing TCP_HALF_OPEN health check. I hope that the proxysql log can add a filter rule, such as not recording the specified IP address segment or adding a log level, otherwise the log information is too large.

[2019-11-06 01:43] lenovore opened #2363 "Proposal for proxysql logging"
![QQ截图20191106092605](https://user-images.githubusercontent.com/29646774/68261052-dbfc2880-0079-11ea-9cc4-7ffda320263d.png)

I have the problem, but the client is doing TCP_HALF_OPEN health check. I hope that the proxysql log can add a filter rule, such as not recording the specified IP address segment or adding a log level, otherwise the log information is too large.

[2019-11-06 01:48] renecannao commented on #2293
ProxySQL 2.0.8 introduces a new variable `mysql-log_unhealthy_connections` to suppress messages related to unhealty clients connections being closed.
Closing

[2019-11-06 01:48] #2293 closed, assigned to nobody

[2019-11-06 01:48] #2363 closed, assigned to nobody

[2019-11-06 01:48] renecannao commented on #2363
Duplicate of #2293 .
Closing

[2019-11-06 06:26] eagle2016 opened #2365 "proxysql cannot monitor mysql8.0.18."
environment:  proxysql  2.0.8  or  proxysql 2.0.7
                        mysql  8.0.18  open source   mysql  group replication , single master mode.
when I added three mysql hosts to proxysql. and I have configed  monitor user.
and proxysql.log  as follows:
 2019-11-06 11:17:17 [INFO] Dumping mysql_servers: ALL
+-----+--------------+------+------+--------+--------+-----+-----------+---------+----

[2019-11-06 06:27] eagle2016 commented on #2365
mysql instance  my.cnf I have add this:
[mysqld]
user    = mysql
port    = 3306
mysqlx_port = 33060
default_authentication_plugin=mysql_native_password
socket  = /app/3306/mysql.socket
basedir = /usr/local/mysql/

[2019-11-06 06:50] sushant-netskope opened #2367 "ProxySQL clickhouse support error"
error while executing LOAD CLICKHOUSE USERS TO RUNTIME and there is no port listening on 6090

[2019-11-06 07:48] renecannao opened #2368 "Save history of stats_mysql_query_digest"
We need to implement a a way to save `stats_mysql_query_digest` into long term storage.
We can implement a new table in `stats_history` schema , `history_mysql_query_digest`  , to have the same table structure of `stats_mysql_query_digest` but no primary key.
The table will also have one or more indexes, tbd.

Executing `SAVE MYSQL DIGEST TO DISK` will atomically flush all the digests to disk and

[2019-11-06 08:03] wp741 opened #2369 "bug for Read/write split"
proxysql version：
select version();
+--------------------+
| version()          |
+--------------------+
| 2.0.4-116-g7d371cf |
+--------------------+

proxysql config:
mysql> select * from runtime_mysql_servers;
+--------------+----------------+-------+-----------+--------+--------+-------------+-----------------+---------------------+---------+----------------+---------+
| hostgroup_id | hostnam

[2019-11-06 08:12] #2367 closed, assigned to nobody

[2019-11-06 08:29] renecannao commented on #2369
Why it is a bug?

[2019-11-06 08:52] eagle2016 commented on #2368
can you see #2365 ? thanks a lot!

[2019-11-06 08:56] markuman commented on #2369
maybe the slave is not running?

[code]

[2019-11-06 09:28] wp741 opened #2371 "Why it is a bug?"
Why it is a bug?

_Originally posted by @renecannao in https://github.com/sysown/proxysql/issues/2369#issuecomment-550201231_

bucause i stop slave，the data is inconsistent
，but the read is still distributed to the slave node.

show slave status\G;
......
             Slave_IO_Running: No
            Slave_SQL_Running: No

[2019-11-06 09:31] wp741 commented on #2369
Why it is a bug?

Originally posted by @renecannao in #2369 (comment)

bucause i stop slave，the data is inconsistent
，but the read is still distributed to the slave node.

show slave status\G;
......
Slave_IO_Running: No
Slave_SQL_Running: No

[2019-11-06 09:31] #2371 closed, assigned to nobody

[2019-11-06 09:33] eagle2016 commented on #2369
max_replication_lag   config  smaller, and try again?

[2019-11-06 17:35] bencodner opened #2372 "Support for Fast Routing Rules in the configuration file?"
I have read through documentation and tried using `mysql_query_rules_fast_routing` and `query_rules_fast_routing` in the configuration, neither load the fast routing rules into the config/runtime when proxysql initially loads. Is there a plan in the roadmap to add `mysql_query_rules_fast_routing` to the configuration file or am I missing something?

[2019-11-07 06:40] wp741 commented on #2369
@eagle2016
you are right

[2019-11-07 06:40] #2369 closed, assigned to nobody

[2019-11-07 09:41] bskllzh commented on #2176
I also seem the same problem. @renecannao . i make a benchmark test in  proxysql + MySQL Master-Slave with the sysbench. After the benchmark have been finished,  sysbench don't send any commands.  After a while, about 1 hour, i get an error [ERROR] Detected a broken connection during query on (10,XX.XX.XX.XX,3306) , FD (Conn:540 , MyDS:540) : 2006, MySQL server has gone away,
when I want to create

[2019-11-07 10:05] zx1986 commented on #1347
@skyrim61  老哥，你也是跑 ProxySQL Cluster 嗎？
是否跟這位一樣的情況？  https://www.cnblogs.com/2woods/p/9537719.html

我也還在查錯 ...

[2019-11-07 10:12] bskllzh opened #2374 "handler(): [ERROR] Detected a broken connection during query on (10,XX.XX.XX.XX,3306) , FD (Conn:938 , MyDS:938) : 2006, MySQL server has gone away"
ProxySQL version 2.0.5， MySQL 5.7.26  Master-Slave

@renecannao . i make a benchmark test in proxysql + MySQL Master-Slave with the sysbench. After the benchmark have been finished, sysbench don't send any commands. After a while, about 1 hour, i get an error [ERROR] Detected a broken connection during query on (10,XX.XX.XX.XX,3306) , FD (Conn:540 , MyDS:540) : 2006, MySQL server has gone away,
wh

[2019-11-07 10:21] eagle2016 commented on #2365
resolved.

[2019-11-07 10:21] #2365 closed, assigned to nobody

[2019-11-07 10:40] eagle2016 opened #2375 "proxysql 2.0.8 can not monitor mgr."
proxysql 2.0.8   mysql 8.0.18  mgr
hostgroup cannot  convert hostgroupid.

[2019-11-07 13:30] fuyar commented on #2368
Seems like you are not timestamping each dump. Don't you think a timestamp can be a good info ?

[2019-11-07 13:32] renecannao commented on #2368
@fuyar : that is actually intentional.
We are planning to add another table to timestamp the dumps, recording also the lower `first_seen` and higher `last_seen` , but not a big priority atm

[2019-11-07 14:39] fuyar commented on #2368
I dont really understand (I mean no disrespect here) but personally I dont see the point of an history table if i cant review at what time a change occured ?

[2019-11-07 14:46] linuxhostingweb commented on #2286
Crickets chirping

[2019-11-07 14:53] renecannao commented on #2368
I am open to discussion here, and your input is valuable.
First of all, every time a dump happens (either automatically or manually triggered) an entry is generated in the error log: this tell you when it happened, even if externally. I will come back to this shortly.

With regards to the point of an history table, it depends what sort of information do you want to query.
If for example you want t

[2019-11-07 17:17] fuyar commented on #2368
I was thinking of a thing like this :
count how many of that specific query (using digest) has been processed by ProxySQL during 2 specific timestamp.

That's just an example made possible by only adding the timestamp to the table structure and  insert query.

What do you think ? Is there a performance issue by adding this to the sqlite table ?

[2019-11-07 22:52] renecannao commented on #2368
I see your point.
I think your example would still be possible deriving `first_seen` and `last_seen` from a table that performs only the logging of the dumps (1 row per dump).
Although, adding a new column with the timestamp seems easy to implement, and we will probably do that according to your suggestion.
Note that this is still work in progress, and it is possible we will make changes in the ne

[2019-11-08 01:54] bskllzh commented on #2374
I found a solution. Thanks.

[2019-11-08 01:54] #2374 closed, assigned to nobody

[2019-11-08 03:19] zhanghaibo-BJ opened #2381 "Proxysql crashes after opening eventlog mode (json) in Proxysql 2.0.8"
##Problem Description：

Proxysql crashes after opening eventlog mode (json) in Proxysql 2.0.8

##ProxySQL version：

2.0.8-67-g877cab1

##Proxysql package：

proxysql-2.0.8-1-centos67.x86_64.rpm

##Operating system version：

Linux version 2.6.32-573.12.1.el6.x86_64 (mockbuild@c6b8.bsys.dev.centos.org) (gcc version 4.4.7 20120313 (Red Hat 4.4.7-16) (GCC) ) #1 SMP Tue Dec 15 21:19:08 UTC 2015

##Proxy

[2019-11-08 03:34] renecannao commented on #2381
You aren't providing enough information (full error log, core dump, how to reproduce) to even make an hypothesis.
But considering it was generating a file every ~30 seconds, and the error happened in libstdc++ , I would guess you ran out of disk space

[2019-11-08 06:16] #2359 closed, assigned to nobody

[2019-11-08 09:34] fuyar commented on #2368
Cool :)

I'm still using v2.0.5 and got issue with concurrency on stats_mysql_query_digest table when it's getting huge (clients getting errors during connections). So I have to purge it regularly loosing useful info.
This feature will be a given 👍

[2019-11-08 16:10] banpei-dbart opened #2382 "Error during write in signal_all_threads() on single mysql-thread"
I'm testing/debugging performance impact on a 2 CPU machine, hammering it with sysbench SELECT workload from two machines with 256 threads each.

When ProxySQL is configured with a value for mysql-threads higher than 1 I end up with SQLite errors:

As the machine is hammered the SQLite inserts are probably delayed and end up as duplicates. I get that this is to be expected if you push it to the li

[2019-11-08 23:34] renecannao commented on #2382
Hi @banpei-dbart .
I think you are using an old version of proxysql, as what you are reporting seems a known bug already fixed.
I also believe you are using `--idle-threads`

[2019-11-11 08:13] xiaoqiguilh opened #2386 "proxysql-2.0.6 startup is not creating error log"
datadir="/usr/local/proxysql"
errorlog="${datadir}/log/proxysql.log"

but I can not find errors in proxysql.log。

I try set errorlog="${datadir}/log/proxysql.err"，restart proxysql，still no error file。

thx

[2019-11-11 10:20] banpei-dbart commented on #2382
Hi Rene,

Thanks for your quick answer!
We're running the latest Percona release of 1.4 (1.4.14-percona-1.1), so there is no direct upgrade for this issue at the moment. Has this this bug also been fixed in 1.4.15 and 1.4.16?

Art

[2019-11-11 15:27] dbadapt commented on #1850
Hi René,  we have tested with 2.0.7 and we are still seeing the problem.

[2019-11-11 18:51] greendemiurge commented on #1903
I just wanted to weigh in and say that I have been seeing `Lost connection to MySQL server during query` errors connecting from MySQL Workbench, but not 100% consistently across versions both of ProxySQL and Workbench. I found that proxySQL 2.0.7 + MySQL Workbench did not give this error but proxySQL 2.0.8 + MySQL Workbench does. I found that neither version gave this error with MySQL CLI, except

[2019-11-12 00:05] renecannao commented on #1903
@greendemiurge : out of curiosity, did you check proxysql error log?
A variety of reasons could trigger what you described.
Since you don't have a problem with 2.0.7 but you do with 2.0.8, an hypothesis is that you are using Workbench 8.0 and a MySQL Server that is not 8.0 , thus Workbench is trying to set a charset that MySQL server doesn't recognize. If my hypothesis is correct, you may need to

[2019-11-12 04:14] liarby opened #2389 "proxysql-2.0.8-1-centos7.x86_64.rpm安装后无法启动"
2019-11-12 12:04:26 [INFO] New mysql_group_replication_hostgroups table
2019-11-12 12:04:26 [INFO] New mysql_galera_hostgroups table
2019-11-12 12:04:26 [INFO] New mysql_aws_aurora_hostgroups table
2019-11-12 12:04:26 [INFO] MySQL_HostGroups_Manager::commit() locked for 1us
Standard Query Processor rev. 2.0.6.0805 -- Query_Processor.cpp -- Tue Nov  5 11:48:50 2019
In memory Standard Query Cache (S

[2019-11-12 04:20] renecannao commented on #2389
Google translates "安装后无法启动" as "Cannot start after installation".

Looking at the timestamps, it seems the process was up and running for 90 seconds before it was gracefully shutdown

[2019-11-12 06:54] cehau37 commented on #2273
Dear @renecannao ,

thank you for this. it is now showing as below.

2019-11-12 13:48:34 MySQL_Session.cpp:2916:handler_again___status_CHANGING_CHARSET(): [ERROR] Can't initialize character set on 172.16.0.51, 3306: Error 2019 (Can't initialize character set 255). Closing connection.

Still not sure what it means by "Can't initialize character set 255"...

Please help...

[2019-11-12 07:31] renecannao commented on #2273
Hi @cehau37 , I believe this comment is relevant to you:
https://github.com/sysown/proxysql/issues/1903#issuecomment-552673690 .
Specifically, you may need to turn `mysql-handle_unknown_charset=1`

[2019-11-12 14:30] greendemiurge commented on #1903
@renecannao Thank you! Indeed the incompatibility is between Workbench 8.0 and AWS Aurora MySQL compatible. This fixed it on one Mac and one PC both running 8.0.18. I appreciate the response, especially since this seems to be a much better long term solution than pinning a version.

[2019-11-12 17:27] el-dge opened #2390 "SET issues"
Hello,

I report 2 bug with ProxySQL version 2.0.8-67-g877cab1e, codename Truls in debian9.11 with prestahop 7.1.5.1 (with a lot of modules, I can provide a listing if necessary :
1. `2019-11-12 17:09:01 MySQL_Session.cpp:7033:unable_to_parse_set_statement(): [WARNING] Unable to parse unknown SET query from client 192.168.0.163:53750. Setting lock_hostgroup. Please report a bug for future enhancem

[2019-11-13 07:08] SourajitBasak opened #2391 "Using mysql-autocommit_false_is_transaction to true does not send selects to primary"
We have a configuration where hostgroup = 10 is the primary and hostgroup = 20 is the secondary (read replica)

[code]
Following are the query rules.

[code]
Following are the necessary variables .

[code]

In MySQL global auto-commit is set to ON.

[code]

Test 1:
When we issue the follow commands.
[code]
The select query is routed the read replica (20).
We were expecting all queries to be routed

[2019-11-13 07:10] renecannao commented on #2391
Set `mysql-enforce_autocommit_on_reads=true`

[2019-11-13 07:21] SourajitBasak commented on #2391
Did as you suggested.

Here is the command we are using to set the variable.
`UPDATE global_variables SET variable_value='true' where variable_name='mysql-enforce_autocommit_on_reads';`
After that we always issue the following.
`LOAD ADMIN VARIABLES TO RUNTIME;`

As a confirmation, these are the necessary variables.
[code]

After that we flushed the stat digest table. We executed the same three qu

[2019-11-13 07:24] renecannao commented on #2391
It must be `LOAD MYSQL VARIABLES TO RUNTIME`

[2019-11-13 08:33] SourajitBasak commented on #2391
Used the suggested command.  After that all the variables were set to true.

[code]

Same queries executed as above. Still all of those are send to 20 (i.e. read replica)

[code]

[2019-11-13 13:59] alexjfisher opened #2393 "2.0.8 crashes in `update_galera_set_read_only()`"
Upgrading from 2.0.7 to 2.0.8, proxysql crashes shortly after startup.

This is on RHEL 7.7 using the [official package](https://repo.proxysql.com/ProxySQL/proxysql-2.0.x/centos/7/proxysql-2.0.8-1-centos7.x86_64.rpm)

I think all relevant configuration is probably already in the [log file](https://gist.github.com/alexjfisher/e5886b4cc60a0befc64531921d6ebbc2), but in addition, my setup looks a bit

[2019-11-13 14:07] renecannao commented on #2393
I can quickly spot at least 2 issues:
https://github.com/sysown/proxysql/pull/2290/files#diff-d9ef9ab9d6ceaf10726d4d9d8b23168aR4447
https://github.com/sysown/proxysql/pull/2290/files#diff-d9ef9ab9d6ceaf10726d4d9d8b23168aR4454

[2019-11-13 14:27] acampoh commented on #2393
Yep, it looks like those are the guilty lines.

I'm so sorry about that. i'll make a patch asap.

thanks for the report

[2019-11-13 15:37] acampoh commented on #2393
here is the patch.

https://github.com/sysown/proxysql/pull/2394

sorry for the bug

[2019-11-13 18:48] ldim87 opened #2395 "Crash report (ProxySQL_daemonize_phase3 / MySQL_Session.cpp)"
I've got proxysql in docker container (via https://hub.docker.com/r/1kmenu/proxysql-bg-mode which i 've made from just official "proxysql/proxysql" with custom entrypoint to run in background mode). When running queries against galera cluster (percona xtradb), main process keeps crashing each 30 seconds (1 replica in docker swarm). ProxySQL-1.4 doesn't do that. The same behaviour is with the offic

[2019-11-14 01:11] renecannao commented on #2395
hi @ldim87 , would it be possible to share a core dump?

[2019-11-14 07:55] ldim87 commented on #2395
Yes, of course, but it is the production server, so if you don't mind, I'll send it to your mail (info@proxysql.com)

[2019-11-15 03:50] feiazifeiazi commented on #2234
Thank you @nbtianyige

@chtxia  @gondaz  @zsebacsi  @Rsyncc
try:
set mysql-set_query_lock_on_hostgroup=0;

my log error:
MySQL_Session.cpp:7033:unable_to_parse_set_statement(): [WARNING] Unable to parse unknown SET query from client 10.192.156.212:52430. Setting lock_hostgroup. Please report a bug for future enhancements:SET PROFILING = 1

[2019-11-15 03:53] #2234 closed, assigned to nobody

[2019-11-15 03:55] sysdljr opened #2396 "Upgarde proxysql cluster from 2.0.5 to 2.0.8 crash restarting"
Hi,
     Yestarday, we upgrade proxysql cluster(3 node) from 2.0.5 to 2.0.8 version,
     OS version:  CentOS 7.3.1611
     ProxySQL version： 2.0.8-67-g877cab1

we modify proxysql variables:
mysql-eventslog_default_log = 1
mysql-eventslog_format =2

after run 8 hours, one of three nodes occur crash restarting.

2019-11-14 10:08:49 [INFO] Starting new mysql event log file /data1/logs/proxy_query.lo

[2019-11-15 06:27] zhanghaibo-BJ commented on #2381
@renecannao
Thank you for your attention.The details at the time are provided below.

**Description of the business scenario:**
batch processing analysis of business flow, failure of individual flow processing from time to time；
The eventlog_filesize is set to 100m,When the service is busy, the eventslog is switched frequently, proxysql crashed restart;
the eventslog_filesize is adjusted 500m, the

[2019-11-15 10:39] lazzyfu opened #2397 "ProxySQL crashed. Restarting"
Hi.
 My ProxySQL Version is 2.0.7-80-g4dd4ef5.

This ERR log :
[code]

Then the business reported an error, what caused the crash?
Thanks

[2019-11-15 11:17] Fanduzi commented on #2049
我们逐渐放弃proxysql, 改用consul, 读写分离交给业务方自己完成, 并开始使用TiDB  :)
两个经验:
  1.如果不是真的打算深度使用proxysql还是算了, 半年了没有回信 . 不过我们自己也花的时间少吧.
  2.千万不要用5.7的MGR , 尤其是多主MGR

[2019-11-15 11:21] #2049 closed, assigned to nobody

[2019-11-15 14:16] lazzyfu commented on #2397
The client executed a SQL and returned about 19 million rows.
Proxysql fails after MySQL sending data.
Memory monitoring diagram of proxysql machine：
![image](https://user-images.githubusercontent.com/14190782/68949581-47ba6000-07f5-11ea-948c-0bc6cc624bb3.png)
CPU：
![image](https://user-images.githubusercontent.com/14190782/68949606-5ef94d80-07f5-11ea-8269-452f098c9b9b.png)
Network ：
![image](http

[2019-11-15 15:11] alxschwarz opened #2398 "Unclear error message in some cases"
I don't know if it's a bug or not, but there's this interesting situation.
ProxySQL Host:
[code]

[code]
MySQL version: `MariaDB 10.2.27 database server`

MariaDB has `read_only = 1` option in `my.cnf`.

When I run:
[code]
and in `proxysql.log` I have:

[code]
It's ok. `readonly` user doesn't have access to view events in `dbname`.

But in the next cases, I got other results:

1. Create a table
[c

[2019-11-15 22:40] negrusti commented on #760
On Ubuntu the pid file should go into /run instead of being written to persistent storage. This will ensure that the pid file is not present after reboot

[2019-11-17 22:01] renecannao commented on #2395
@ldim87 : I analyzed the core dump, thank you.
It seems caused by a buffer overflow.
Can you please configure MySQL servers with [session_track_gtids](https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html#sysvar_session_track_gtids) = `OWN_GTID` instead of `ALL_GTIDS` ?

[2019-11-18 02:27] lazzyfu commented on #2397
This go program uses a cursor, proxysql does not seem to support the cursor, and read all the data at once.

[2019-11-18 08:19] 5sdba commented on #2375
proxysql 2.0.8 mysql 8.0.16 mgr
hostgroup cannot convert hostgroupid.

[2019-11-18 12:19] themightystephen commented on #2393
Encountered the same issue here. Thanks for patching.

For now, I've disabled proxysql on my cluster until the fix is available in a new release (proxysql is more of a nice-to-have in my case), as it looked like it was leading to occasional "Connection refused" errors, which I assume occurred when connections were attempted between proxysql crashing and restarting.

[2019-11-18 17:37] magnublo opened #2404 "Do not execute query if ProxySQL is already executing and caching an identical query"
I use ProxySQL as DBMS behind my web application to cache results of heavy queries that may take several minutes to execute. So I have this really heavy query with cache result that expires every 6 hours and takes 90 seconds to execute, and this query execution is easily triggered in my web application. During a cache reload event, _after_ the time when ProxySQL starts executing the query, and _be

[2019-11-19 10:38] SourajitBasak commented on #2391
Any update on this issue ?

We have tried setting both combinations ` mysql-forward_autocommit/mysql-autocommit_false_not_reusable=true `
 and `mysql-autocommit_false_is_transaction=true` but in both cases the SELECT is sent to read hostgroup.

Our system is a mix of reads or writes. Our objective is to send operations involving only SELECTS to the read nodes and everything else to master. Everyth

[2019-11-19 11:01] SourajitBasak commented on #2391
One more observation.
Test 1:
[code]
In the above all the statements are send to master.
But if we change the order, then the SELECT goes to read replica and insert to master.
[code]

[2019-11-19 15:20] banpei-dbart commented on #2382
I have verified that 2.0.8 fixed the above issue.

[2019-11-19 15:20] #2382 closed, assigned to nobody

[2019-11-19 20:12] ldim87 commented on #2395
Well, I've already had session_track_gtids = OWN_GTID, but I also had gtid_mode = ON_PERMISSIVE (I had to wait for the old binary logs to vanish). After I've set it to just ON, it started to work as it should! Thanks, Rene!

[2019-11-19 20:12] #2395 closed, assigned to nobody

[2019-11-19 20:21] ldim87 opened #2405 "gtid_port via proxysql.cnf"
Is there an option for setting mysql server **gtid_port** via config file (proxysql.cnf)? It would be very useful in container environments.

[2019-11-20 08:59] magnublo commented on #2404
Duplicate of #1486

[2019-11-20 08:59] #2404 closed, assigned to nobody

[2019-11-20 12:33] banpei-dbart commented on #2339
As I was also digging into why multiplexing didn't work for one of our applications I ran into the same documentation issue. I have updated the documentation now.

[2019-11-20 13:43] fila43 opened #2406 "ARM compilation error"
Hello,
proxysql version 2.0.7 and further is not buildable on ARM,s390x,.. This problem is caused by google-coredumper which is not possible to build on ARM. Here you can find whole log: https://fjanus.fedorapeople.org/proxysql-arm.2.0.9.log

google-coredumper fails during building tests. Is it necessary build these tests or whole google-coredumper for running proxysql?

Thanks
Filip Januš

[2019-11-20 13:52] renecannao commented on #2406
We should remove google-coredumper , as it seems not working properly in many environment (FreeBSD , ARM processors, and on several kernel version).

[2019-11-20 13:53] renecannao commented on #2406
@val214

[2019-11-20 20:04] klj613 opened #2408 "ProxySql breaking changes as a patch version update (--initial, systemd)"
Hello,

First I'd like to say thank you for ProxySQL.

Unfortunately the recent v2.0.7 update broke the way I use ProxySQL (`service proxysql initial`) which has lead me to https://github.com/sysown/proxysql/issues/2334

This prompted me to review how I could detect breaking changes in the future, as this was introduced as a patch (x.y.z) and broke the way people use ProxySQL (as I wasn't the only

[2019-11-21 09:14] TheSuperAgent opened #2409 "Proxysql stopped sending traffic after 1ms latency"
Im using proxysql version 2.0.3

The setup will be like this.
![image](https://user-images.githubusercontent.com/47310439/69323818-64c7b680-0c6d-11ea-9dfe-89f17be6f10b.png)

Today we had an issue in Production setup, the requests were failing.  My proxysql and the mysql master And my both proxysql vms are in the same availability zone.

I could see some latency between proxysql-vm-1 to MySQL nodes

[2019-11-21 09:24] renecannao commented on #2409
@BhuviTheDataGuy : this issue is confusing, because it seems you have formulated a theory about the root cause, tried to fix it, and it didn't work, therefore:
- the theory about the root cause is probably wrong
- same for the title of this issue
- the latency may not be relevant at all: it may be an effect and not a cause

Did you check the error log?

[2019-11-21 09:37] TheSuperAgent commented on #2409
I didn't find the root cause yet. It's all just my observation.

And i checked the proxysql.log

But nothing is there.

[2019-11-21 12:01] damzaru commented on #1785
Has this issue been addressed in any way?
I'm having difficulties when trying to pair ProxySQL 2.0.8-67-g877cab1e  with TiDB v4.0.0-alpha-935-ge4d199d93

I get this warning in proxysql.log: ` MySQL_Session.cpp:2923:handler_again___status_CHANGING_CHARSET(): [WARNING] Server doesn't support collation id 255. Replace it with default charset 33.` Unless I specify the first query of a connection to be

[2019-11-21 15:03] h4rr21 commented on #440
hello @renecannao, is there any way to change the default values of `mysql-interfaces`?

if I do a ` service proxysql restart `  it takes my new default value?

[2019-11-22 08:08] john9x opened #2411 "Fast routing based on proxy_addr/proxy_port"
Hi!
Is it possible to support fast routing based on proxy_addr/proxy_port ?

Thank you for ProxySQL!

[2019-11-22 13:20] alpes214 commented on #2406
@fila43, google-coredumper is removed from dependencies.

[2019-11-22 16:21] ernstae opened #2414 "2.0.8 Group Replication Broken - Incorrect servers are in Writer Hostgroup"
Upgrading to 2.0.8 across multiple clusters resulted in a change of behaviour from prior versions of ProxySQL.  Servers with `read-only=true` are being added to the writer hostgroup in group_replication (single-primary) mode.  I've had to downgrade back to 2.0.7, and everything is working as expected, again.

These are the results of the health-checks on the underlying MySQL servers:

[code]

This

[2019-11-25 16:04] fila43 commented on #2406
thanks

[2019-11-25 16:25] bgaillard commented on #1683
Hi, we recently updated our ProxySQL setup and encountered the following error on one of our applications.

[code]

In our case it seems that the problem appears in version `2.0.8`, reverting to version `2.0.6` makes the problem disappear.

We have a PHP application with the following `MYSQL_ATTR_INIT_COMMAND`.

[code]

With version `2.0.8` removing what's after the `,` (comma) character makes the

[2019-11-25 17:07] yakirgb commented on #1683
@bgaillard  Try to set
`mysql-handle_unknown_charset=1`

[2019-11-25 18:15] bgaillard commented on #1683
Hi @yakirgb and thanks for your suggestion. Tried it just now but it does not work.

Not 100% sure but the error message we encounter seems more to be related to a "parsing" error and not a missing charset support.

[2019-11-26 06:48] eagle2016 commented on #2414
rollback to 2.0.7 , I have hit this issue.

[2019-11-26 06:57] eagle2016 opened #2416 "[BUG] When one of mgr nodes has gone away, proxysql2.0.7 cannot remove it."
environment:
 linux rhel 7.5    proxysql  2.0.7  two nodes
 linux  rhel 7.5   mysql 8.0.18  with group replication
proxysql 2.0.7 config:
mysql> select * from mysql_group_replication_hostgroups;
+------------------+-------------------------+------------------+-------------------+--------+-------------+-----------------------+-------------------------+---------+
| writer_hostgroup | backup_writer_h

[2019-11-26 06:58] TheSuperAgent commented on #2409
Just an update:

Today also I had the same issue, when the latency reached 1ms, then there were no queries routed to the mysql nodes.

time: 26-11-2019 00:02:00

Logs:
[code]
We did a Server reboot to make it work (last time also we did the reboot)
Not sure whether its a bug, and still we are investigating on this.

@renecannao - Could please provide some inputs for further troubleshooting?

Img1:

[2019-11-26 07:00] eagle2016 commented on #2416
[question.log](https://github.com/sysown/proxysql/files/3890443/question.log)
entire log file. can you help me?? @renecannao

[2019-11-26 10:42] banpei-dbart opened #2417 "Ability to control auto_increment_delay_multiplex and connection_delay_multiplex_ms per server or user"
As I described in my [update of Multiplexing documentation](https://github.com/sysown/proxysql/wiki/Multiplexing), the mysql-auto_increment_delay_multiplex and mysql-connection_delay_multiplex_ms are global settings that change the behaviour on **all** connection within ProxySQL 1.4.14 and higher. Changing these settings with the intention to fix multiplexing a mis-behaving ORM or application mean

[2019-11-26 10:46] renecannao commented on #2417
This should be an extension (2 more columns) on `mysql_query_rules` . We can't add columns in `mysql_query_rules` in 2.0.x without breaking ProxySQL Cluster, so this feature requests cannot be implemented before 2.1

[2019-11-26 10:47] renecannao commented on #2417
Created milestone 2.1 , and associated this issue to it.

[2019-11-26 10:58] banpei-dbart commented on #2417
Thanks Rene! :)
How would this work with the query rules then? We're not using any rules at the moment, so would we need to create a catch-all rule for a specific username or schemaname then?

[2019-11-26 11:00] renecannao commented on #2417
yes, it would be that simple as creating a rule matching a specific username or schemaname, or even a query pattern, or a client's comment

[2019-11-26 11:59] seem8 opened #2418 "[ubuntu 16] apt ugrade breaks clickhouse support"
I installed package  proxysql_2.0.8-clickhouse-ubuntu16_amd64.deb on Ubuntu 16.04 host. It works really well and big thanks for clickhouse support.

Today apt upgraded proxysql package to newer version (within 2.0.8):
Start-Date: 2019-11-26  11:45:14
Commandline: apt full-upgrade
Upgrade: proxysql:amd64 (2.0.8, 2.0.8)
End-Date: 2019-11-26  11:45:16
but this removed clickhouse support. I suspect ad

[2019-11-26 12:15] renecannao commented on #2418
Thank you for the feedback.

It is some time that we are considering to stop providing two packages, one with Clickhouse support and one without, but to provide only one package that always includes Clickhouse support.
Your issue seems to be a valid argument to always have Clickhouse support.

[2019-11-26 16:03] banpei-dbart commented on #2417
I gave it a little bit more thought and I'm not convinced this to solve the issue entirely.

Imagine setting the multiplex delay on a particular user to the default 5.
This would allow the following queries to be run:
`INSERT INTO ... VALUES (...); SELECT LAST_INSERT_ID();`
ProxySQL will disable multiplexing after the insert for five consecutive queries and still retrieve the correct last inserted

[2019-11-26 19:31] wluo commented on #2226
Hi, we were just looking into this behavior.  Our use case was that without looking at proxysql's own log, it was unclear why the client's connection to proxysql kept getting killed.

If the client connects to proxysql which then connects to a mysql host that is running with `read-only`, then a write from the client causes proxysql to kill its connection to the client.  In proxysql's own log we se

[2019-11-27 21:49] alpes214 commented on #2414
Hi @ernstae,
thank you for reporting this issue. Can you share proxysql logs as well?

[2019-11-28 04:06] ernstae commented on #2414
@val214 - I'll see if I can fetch and redact them.  It can be complicated, but I'll see what I can do.

[2019-11-28 08:48] snarlis opened #2421 "possible misbehavior handling explicit schema declaration"
Hello,

Im using ProxySQL version v2.0.0-rc1-17-g832aa48.

Consider the following senario:
[code]

server1.example.com contains database "persons" and table "workers" exist in persons;
server2.example.com contains database "animals" and table "dogs" exist in animals;

[code]

i execute the following commands:

[code]
checking stats_mysql_query_digest:
[code]
is this behavior correct? shouldn't pro

[2019-11-28 09:53] renecannao commented on #2421
The query you execute *would* potentially match both rules, rule 1 and rule 2.
Since the query matches on rule 1 and you have `apply=1` on it , rule 2 is not evaluated and therefore rule 1 applies.
Set `apply=0` and the query will be executed on server1.
Although, you will get an error also in this case, because proxysql will try to connect on `server1` on schema `animals` that, as far as I unders

[2019-11-28 10:49] snarlis commented on #2421
Since i use "persons." in my query is it correct behavior that the proxy will try to connect on schema animals instead of schema persons? Shouldn't the "persons." in my query tell the proxy to use
the persons schema instead of the animals?

[2019-11-29 02:58] leyafo opened #2424 "Access denied after redeployed proxysql"
Hi, all.
We use proxysql 2.0.6-73-gc746bf7f in our product and it running in docker 18.03.0-ce(CentOS Linux 7, 3.10.0-862.14.4.el7.x86_64).  the backend database is TiDB v2.1.4.

Before redeployed, we can access database through proxysql. After redeployed we can't.
This is our CLI command and output.
[code]

we can use the same command to connect backend database successful. It deployed in the sam

[2019-11-29 13:59] gunslinger commented on #869
Hi @renecannao , is there any update on this? thank you

[2019-11-30 09:53] srikiraju commented on #2305
We have a use case for it too. We have a particular table that gets committed to frequently where we need to drop the isolation from REPEATABLE_READ to READ_UNCOMMITED or we run into too much lock contention. We're ok with the tradeoffs for that specific transaction, but the rest of the app continues to require atleast REPEATABLE_READ.

[2019-11-30 11:09] sabareesh-kanthan opened #2426 "ProxySQL 2.0.8 Crash due to watchdog."
Hi All,

We are facing missing heartbeat which crashes the proxysql, very frequently on our newly upgraded ProxySQL.

Could you please let us know which process causes missing heartbeat[MySQL thread /Aux thread].

Download link: https://github.com/sysown/proxysql/releases/download/v2.0.8/proxysql-2.0.8-1-centos7.x86_64.rpm

PFA
[proxycrash_log_2.core.txt](https://github.com/sysown/proxysql/files/3

[2019-12-01 10:34] mat1010 commented on #2313
@renecannao have you had the chance to further look into it?

[2019-12-01 11:10] ernstae commented on #2414
I successfully reproduced this in my lab, and experienced the same issue.  Logs are included.

All hosts are in hostgroup 0:
[code]

Logs aren't particularly useful:
[code]

[2019-12-02 08:10] feiazifeiazi commented on #2424
use TiDB?
哥们，会中文?

如果是mysql,要检查用户的Host
select u.Host,User from mysql.`user` u;
TiDB,也有这样的吗?

[2019-12-02 09:06] mtgerb opened #2428 "SQL_BIG_SELECTS not supported"
**Environment**
We are using proxysql 2.0.8 (proxysql/proysql:2.0.8 docker container)

**Problem**
Our PHP application (wordpress) tries to execute the following SQL statement: `SET SESSION SQL_BIG_SELECTS=1`.
This leads to a warning in proxysql, because this statement can not be parsed:
`2019-12-02 08:59:53 MySQL_Session.cpp:7033:unable_to_parse_set_statement(): [WARNING] Unable to parse unknown

[2019-12-02 09:26] renecannao commented on #2428
Thank you for the report.
Since `SQL_BIG_SELECTS` is 1 by default, you can create a query rule that matches this query and sets `multiplex=1`

[2019-12-02 09:30] renecannao commented on #2424
The user specific in `mysql-monitor_username` cannot be used also in `mysql_users`.
Please use a different user.

[2019-12-02 09:32] renecannao commented on #2424
@pondix : I think this is not documented, although we may change to tune this behavior in case of multi-layers deployment

[2019-12-02 10:01] mtgerb commented on #2428
Thanks for the hint. Adding the query rule solved the problem for now.

[2019-12-02 12:23] renecannao opened #2429 "MYSQL_COM_SET_OPTION and multiplexing"
When a client executes `MYSQL_COM_SET_OPTION`, ProxySQL tracks it in `options.client_flag`.
Although, it multiplexing is disabled, `MYSQL_COM_SET_OPTION` is never executed on the backend.

[2019-12-02 14:10] l-lotz opened #2430 "mysql-query_digests_replace_null not working correctly when connecting with PHP"
ProxySQL Version: 2.0.8 on Ubuntu 18.04 installed with official dpkg.

When sending requests with php (does not happen with the mysql cli client) enabling replace NULL for query digests does replace NULL with a question mark, but after the "?" char there is at one invalid character after the replacement. Example:
`select * from s_user_attributes where userID = NULL`
will become e.g.
`select * from

[2019-12-02 20:44] alpes214 commented on #2414
@ernstae  thank you for log. Indeed there is no much information in it.

The fix #2422 should be applied before further investigation.

[2019-12-03 13:56] r2d2-1979 commented on #2202
Hi all!
With version 2.0.8-67-g877cab1
In my case, I getting this error:
MySQL_Session.cpp:5370:handler___status_WAITING_CLIENT_DATA___STATE_SLEEP___MYSQL_COM_QUERY_qpo(): [WARNING] Unable to parse multi-statements command with SET statement: setting lock hostgroup . Command: SET @max_dimension = '', @med_dimension = '', @min_dimension = '';

This come from this php code:
$dbAdapter->query("SET @m

[2019-12-03 15:55] ryanmasse opened #2432 "2.0.8 not monitoring MGR in 8.0.18"
We've setup a 3-node single Primary MGR.  The issue we're facing is that ProxySQL is not monitoring the status of the cluster, nor is it making the necessary changes to the server hostgroups.

OS: Ubuntu 18.0.4
MySQL version = 8.0.18
ProxySQL version = 2.0.8-67-g877cab1e

[code]

[code]

ProxySQL has the proper monitoring credentials and grants to the custom views in the `sys` table.  We're succes

[2019-12-04 02:24] eagle2016 opened #2433 "[Question] where is mem:mydb exists?"
[Question] where is mem:mydb  exists?
now I review code of mysql_hostgroup_manage.cpp， and I find  mysql open file named mem:mydb.
now I want to ask where is mem:mydb? someone tell me?
thanks a lot.
best regards.

[2019-12-04 02:35] renecannao commented on #2433
It is an in-memory database. See SQLite [doc](https://www.sqlite.org/inmemorydb.html)

[2019-12-04 03:34] hhyo commented on #2298
I finally recreated the problem,It still exists in the latest version. Can I avoid this error by modifying the configuration? it doesn't exist in version 1.4.16

Reproducing test 1
[code]
result
[code]

connections info "client_multi_statements":0
[code]

=======================================================

Reproducing test 2
[code]

result not errors

connections info "client_multi_statements

[2019-12-04 07:46] alpes214 commented on #2426
Hi @sabareesh-kanthan ,

the coredump is truncated and cannot be analyzed.

[code]
and also
[code]

Please provide the following information:
1) not truncated coredump
2) Centos version `cat /etc/redhat-release`
3) proxysql log file before assertion happened
4) your system configuration: `lscpu` and `free -m`

[2019-12-04 07:47] renecannao commented on #2298
Possibly a duplicate of #2429 (thanks @yakirgb for pointing it out)

[2019-12-04 09:49] PrzemekMalkowski opened #2434 "stats_mysql_free_connections shows wrong value for mysql_info/affected_rows"
When a connection hasn't done any DML queries yet, this stats table will show misleading info for affected_rows in mysql_info column, which interestingly is decimal representation of HEX 0xFFFFFFFFFFFFFFFF.
For example:
[code]

I also don't see this table documented at all in https://github.com/sysown/proxysql/wiki/STATS-(statistics)

Tested with ProxySQL 2.0.6.

[2019-12-04 09:54] renecannao commented on #2434
`mysql_info` is extracted directly from `MYSQL` structure. The value is exactly what the structure reports, and it probably has a special meaning.

The table is indeed not documented, we need to do that.

[2019-12-04 16:09] garruti9 opened #2436 "Access denied for user 'user'@'ip'"
Hi all,
After an upgrade of version from  ProxySQL **version v2.0.0**  to **2.0.8**  we are  getting the following intermittent error:

In consequence, we did a rollback of version and errors disappeared, the upgrade was only of ProxySQL and we keep the same database.  Also, we keep the same configuration for mysql_users.

+ Details :
OS : PRETTY_NAME="Centos 6 "
ProxySQL Version: ProxySQL version

[2019-12-04 18:19] yakirgb commented on #2436
Please verify that you don't have same user in `mysql-monitor_username` and `mysql_users`, if yes, use a different user.

[2019-12-04 18:38] garruti9 commented on #2436
Hey thanks for your reply, i have the same user in **mysql-monitor_username**  and **mysql_users** table but the problems it's happening with an application user. Have you ever seen this behavior before?

[2019-12-04 18:48] yakirgb commented on #2334
You can create new systemd service that will exec only initial, for example:
[code]

[2019-12-04 19:01] yakirgb commented on #2396
Maybe related to this issue: https://github.com/sysown/proxysql/commit/d71d01cb63e03926972eb3a82dcf144fb6d13683

[2019-12-04 21:05] alpes214 commented on #2432
This is related to issue #2414 and PR #2422

[2019-12-05 08:04] ArunjithAravindan commented on #1881
We have similar issues reported and all three proxysql nodes are crashing with the below error messages.

2019-12-05 01:30:52 ProxySQL_Cluster.cpp:215:ProxySQL_Cluster_Monitor_thread(): [WARNING] Cluster: unable to connect to peer IP:6032 . Error: Can't connect to MySQL server on 'IP' (107)
proxysql: mysql_data_stream.cpp:651: void MySQL_Data_Stream::generate_compressed_packet(): Assertion `rc==0'

[2019-12-07 02:05] sysdljr commented on #2396
Thank you for reply

[2019-12-07 02:05] #2396 closed, assigned to nobody

[2019-12-10 06:36] leyafo commented on #2424
We replaced the config file as new version configuration, this problem resolved.
Thanks everyone.

[2019-12-10 06:36] leyafo commented on #2424
@feiazifeiazi 不是你说的问题，是新老版本配置文件不兼容导致的。

[2019-12-10 07:07] renecannao commented on #2424
Reopening until documented

[2019-12-10 08:18] petitajt commented on #1671
I also tried your workaround with several versions of MySQL Connector/J. I also tried various version of MariaDB connector. All tests were made with a ProxySQL v2.0.8 and a spring boot application (tests done with both Hikari and DBCP2).

Could you confirm that you got this to work and share the versions of the library you used?

Thanks

[2019-12-11 03:09] jacobbednarz opened #2440 "Confusion with hostgroup for non-matching `mysql_query_rules`"
We're doing some work with ProxySQL and I've encountered a scenario which I'm looking for some further clarification as I don't quite understand it. We have the following configuration with the intention of splitting read and writes at ProxySQL.

[code]

So far, so good. Our setup works for the most part however, with a query like this, the unexpected bit starts happening.

[code]

A keen eye will

[2019-12-11 12:00] fenice2 commented on #1902
@pondix has any progress been made on this issue?

[2019-12-11 19:10] jermlinden commented on #2102
My reading of this

  https://github.com/sysown/proxysql/blob/v2.0.9/docker-compose.yml#L292

looks like this

https://github.com/sysown/proxysql/blob/v2.0.9/docker/images/proxysql/deb-compliant/pre-systemd/ctl/proxysql.ctl#L14

needs to change from
  `etc/logrotate.d/proxysql /etc/logrotate.d/proxysql`
to
  `etc/logrotate.d/proxysql /etc/logrotate.d/`
or
  `etc/logrotate.d/proxysql /`

[2019-12-11 20:53] picigin opened #2441 "Receiving errors after executing SET SQL_MODE command"
Hello,

OS: Ubuntu 18.04
ProxySQL: ProxySQL version 2.0.8-67-g877cab1e, codename Truls
DB: MariaDB Galera Cluster 10.2.26

We are having ERROR 1064 after successfully running command:
`set autocommit=1, session_track_schema=1, sql_mode = concat(@@sql_mode,',STRICT_TRANS_TABLES'),net_write_timeout=1800;`

Test:

[code]

ProxySQL log:

[code]

Application log:
[code]

When running query excluding SQ

[2019-12-11 21:02] utking commented on #2311
We have the same error and it occurs when we are trying to connect from MS SQL (ODBC 8.0) to ProxySQL. Could 'fix' it by disabling compression in the ODBC connection configuration.

[2019-12-12 00:14] renecannao commented on #2441
I confirm the issue.
There are actually a series of issues here, 2 related to the parser and 1 related to session tracking.
To make it work, you need to create this rule:
[code]

Please make attention to whitespaces!
Also, the above query rewrite disables `session_track_schema` : ProxySQL doesn't support it.

[2019-12-12 09:48] picigin commented on #2441
Hello Rene,
Thank you for a quick response.
Workaround you noted solves our issue.

Best regards,
Marko

[2019-12-12 09:52] renecannao commented on #2441
Hi Marko,

Glad to hear the workaround worked.
I am reopening the issue, because this is still a bug even if a workaround exists.
Thanks

[2019-12-12 16:21] kirs opened #2444 "Accept minimum required GTID"
I've been really excited to see [https://github.com/sysown/proxysql/commit/6691a867faa5db46ade3273bf0d367503616638e](https://github.com/sysown/proxysql/commit/6691a867faa5db46ade3273bf0d367503616638e) and https://github.com/sysown/proxysql/issues/2120! Thanks for working on this.

I'm opening the issue to discuss a potential feature request. Feel free to close it if you think it's not too relevant

[2019-12-12 17:17] renecannao commented on #2444
Hi @kirs ,
If I understand correctly your request, you would like to extend ProxySQL ability to perform [Adaptive query routing based on GTID tracking](https://www.proxysql.com/blog/proxysql-gtid-causal-reads) : instead of proxysql tracking the last GTID by the client, the client has to submit the GTID.

[2019-12-12 18:08] renecannao commented on #2406
Closing. Thank you

[2019-12-12 18:08] #2406 closed, assigned to nobody

[2019-12-12 18:09] renecannao commented on #2381
This is fixed in upcoming 2.0.9 .

[2019-12-12 18:09] #2381 closed, assigned to nobody

[2019-12-12 18:11] renecannao commented on #1902
Closing. #2443 fixed this

[2019-12-12 18:11] #1902 closed, assigned to nobody

[2019-12-12 23:03] bryanspears commented on #2317
@wjordan Your helpful information is a great start on documentation. However, it doesn't appear to auto-detect any aurora hosts when I followed your instructions.

Using:
`ProxySQL version 2.0.8-67-g877cab1e, codename Truls`

I have a mysql_user setup and I can connect to the Aurora cluster with it from where proxysql is running. I see `Loading AWS Aurora info for (0,1,on,3306,".abcdefghijkl.us-ea

[2019-12-12 23:53] dyipon opened #2445 "GTID consistent reads"
Hi,

after reading [this article](https://www.proxysql.com/blog/proxysql-gtid-causal-reads), I setup proxysql binlog reader for all slave (via docker). It works fine, but I realized its working only per request/connection.
Is there any way to extend for all connection? I mean I would like to use only full-updated readers(slaves) as reader hosts, where last gtid is equal with gtid of writer(master)

[2019-12-13 00:26] bryanspears commented on #2317
To be more clear. I understand I can add the Aurora nodes or the RW/RO endpoints in `mysql_servers` and have things work for the most part, but this feature sounded like it would auto-detect nodes in some fashion. Such as auto-scale readers. If that's incorrect, so be it, but I'm failing to understand how `mysql_aws_aurora_hostgroups` helps when auto-scale Aurora instances are commonplace if you n

[2019-12-13 00:49] bryanspears commented on #2317
All of that and it suddenly began to work. The only thing I noticed was a crash + restart way back in my logs and it's entirely possible I didn't save some part of the config changes to disk and in the course of re-doing things a few times over the starts aligned and adding one node to `mysql_servers` was enough to have auto-detection begin working.

This does bring up the question of how to recov

[2019-12-13 01:17] ArunjithAravindan commented on #1881
Issue resolved after restarting the proxysql manually.

[2019-12-13 07:10] renecannao commented on #2445
How would you ensure that a replica (that uses asynchronous replication) is in sync with the writer/master?
If that is your requirement, probably you shouldn't use asynchronous replication at all.

[2019-12-13 07:15] bozai111 opened #2446 "Intermittent proxysql master server status is offline hard，no reason"
Around 8:03 am, some errors appeared in the system log:

	Could not open JDBC Connection for transaction; nested exception is
     com.mysql.jdbc.exceptions.jdbc4.CommunicationsException: Communications link failure
     The last packet successfully received from the server was 24,237 milliseconds ago.  The last
     packet sent successfully to the server was 18 milliseconds ago.

I have two proxy

[2019-12-13 07:24] bozai111 commented on #2446
[proxysql.log.log](https://github.com/sysown/proxysql/files/3959481/proxysql.log.log)

[2019-12-13 07:43] dyipon commented on #2445
I believed we can use the stats_mysql_gtid_executed.gtid_executed to check the sync. If gtid_executed fields are equal on writer and reader, it doesn't mean they are in sync?

[2019-12-13 07:48] renecannao commented on #2445
There is a synchronization problem.
How do you ensure that the gtid executed on master didn't change since the last check?
Even if proxysql streams gtid from the master, there is no guarantee that proxysql received the last gtid from the master.
When the master commits the gtid is generated, but before proxysql receives it:
- the commit needs to be written in binlog
- binlog reader must read it
-

[2019-12-13 07:56] dyipon commented on #2445
@renecannao thanks, it's clear now.
Thanks for your work, proxySQL is superb :)

[2019-12-13 07:56] #2445 closed, assigned to nobody

[2019-12-13 10:27] kirs commented on #2444
That's correct!

Maybe this diagram would help to illustrate what I'm looking for (it assumes HA-based ProxySQL setup and lots of web app workers):

![ProxySQL GTID_il](https://user-images.githubusercontent.com/522155/70793275-d8ec0a80-1d92-11ea-9a30-3d165e70b1f0.png)

[2019-12-13 17:27] alpes214 commented on #2440
Hi @jacobbednarz ,

in general -1 is a valid value in this case. This situation can happen, for example, if session is trying to reach hostgroup when a different one is locked. We could investigate your issue further, but we will need more information. Can you please provide proxysql version, the proxysql log and global variables configuration? For global variables, if possible, please send us `pr

[2019-12-13 19:08] jacobbednarz commented on #2440
Thanks @val214. I wasn’t sure if this was a bug or me misunderstanding so I hadn’t provided that in the initial description but will drop it here soon for further inspection.

[2019-12-15 20:15] jacobbednarz commented on #2440
Version:  ProxySQL version 2.0.8-67-g877cab1e, codename Truls

The `proxysql.log` file only has the following lines in it (which are unrelated):

[code]

<details><summary>ProxySQL configuration</summary>

[code]

</details>

If you'd rather the SQLite version, you can get it [here](https://github.com/sysown/proxysql/files/3965397/proxysql.db.zip).

[2019-12-16 05:14] bozai111 commented on #2446
@renecannao

[2019-12-16 07:01] eagle2016 opened #2448 "[proxysql bug] Proxysql recognized error status of server."
environment:  proxysql 2.0.7  I have deploy 2 servers.
                        os:  rhel 7.5
                        mysql commicity  server  8.0.18  with  group replication

I have 2 proxysql servers, one recogized  mysql server is down, and the other consider it is up.
now i upload log file. pls check it.

Thank you!

[2019-12-16 07:06] eagle2016 commented on #2448
proxysql log , as follows:
[proxysql.log](https://github.com/sysown/proxysql/files/3966478/proxysql.log)

[2019-12-16 16:28] cbiscuit-motoblouz opened #2450 "[HOW TO] configure LDAP authentication"
Hello,

I'm interested by proxySQL for query logging and ldap auth.

I installed it and configured backend server, users and query logging but i'm looking for documentation about ldap auth in proxySQL. I found some clues at https://dataops.barcelona/wp-content/uploads/2019/06/BL-New-Features-in-ProxySQL-2.0.pdf but when I try to search any ldap variable in proxySQL, there is nothing.

So, i ask th

[2019-12-18 10:32] tsukasagenesis opened #2452 "[FEATURE] bytes send/received by query"
Hello,

It would be a nice feature to add in query stats bytes send/received. Sometime you have some request who fetch too much data, and it's hard to find which one.

I tried with "show session stats" but unfortunately mysql handle really poorly this kind of request.

Best regards.

[2019-12-18 12:47] yakirgb commented on #2452
You can see the data by process in `stats_mysql_processlist`, you need to enable `mysql-show_processlist_extended`
[code]
And you can to extract bytes send/received via query :
[code]

[2019-12-18 13:24] po-wehi opened #2453 "[Bug] - unable to set mysql_log_unhealthy_connections variable"
OS: Amazon Linux 2
ProxySQL Version: 2.0.8-1

Issue:
I need to disable logging the unhealthy connections. According to documentation the global variable
**mysql_log_unhealthy_connections** shall be set to false. Whenever I try to set this I get error.

Steps:

Check current value:
[code]
Set desired value:
[code]
Desired output:
Value **@@mysql_log_unhealthy_connections** set to False.

[2019-12-18 13:57] renecannao commented on #2453
Please:
* use the right syntax
* use the right variable name
* quote value

[code]

[2019-12-18 13:57] #2453 closed, assigned to nobody

[2019-12-18 17:27] traseta commented on #2273
@cehau37 in cases `mysql-handle_unknown_charset=1` did not help you (like it did not help me), you can circumvent this by using MySQL connector options (https://dev.mysql.com/doc/connector-cpp/1.1/en/connector-cpp-connect-options.html) by adding a preInit which will do it before driver initialization, e.g. doing "SET NAMES UTF8" in preInit (or other charset you may need).

To help somebody who got

[2019-12-19 10:49] vy-nguyentan opened #2454 "ProxySQL over ProxySQL"
Hi everyone,

I am running ProxySQL as sidecar on K8S (Services -> ProxySQL sidecar -> Database server, earch pod have own ProxySQL sidecar). If I scale my pod to over hundred, the connection to database server will increasing and my database server will be overloaded connection (the query per second is not increasing).

I want to recude the connection to database server. Is it possible to run Pro

[2019-12-19 18:14] markuman commented on #2454
lol, what?
When you reduce hundreds of proxysql instances with another proxysql service, it's stupid. Then you can in general throw your oversized proxysql service into /dev/null und just use the smaller service and nerver think about what you've did. :)

Because of multiplexing and the performance of proxysql (it can serve a lot of more traffic as our complete read replica cluster), it's sufficie

[2019-12-19 18:39] renecannao commented on #2454
The solution envisioned by @vy-nguyentan is actually a solution we at times recommend for specific reasons:
* simplify the configuration of the client/service
* HA
* filter some network traffic

In a solution like this:
services -> ProxySQL sidecar -> ProxySQL main -> Database server.

* all the services need to know is how to connect to their sidecar, simplyfing a lot their configuration. Also, s

[2019-12-20 03:19] vy-nguyentan commented on #2454
Hi @renecannao , Thank you so much for your answser. The last explain helps me a lot.

[2019-12-20 04:50] klatiss opened #2455 "2.0.8 crash"
Running 2.0.8 on CentOS 7 from a ProxySQL supplied package (ie from https://github.com/sysown/proxysql/releases)

ProxySQL is fronting a Percona XtraDB Cluster (5.7.26)

We are also testing GTID with binlog reader (not sure if it's related)

At this stage it's unknown what is specifically causing the crash. The application that triggers the crash is built in house. The action that triggers the cra

[2019-12-20 11:26] bskllzh commented on #2455
Please give your config of proxysql for this.  I analyzes the coredump that you give. That is coredump content:

(gdb) bt
#0  0x00000000005fce69 in std::_Hashtable<unsigned long, std::pair<unsigned long const, void*>, std::allocator<std::pair<unsigned long const, void*> >, std::__detail::_Select1st, std::equal_to<unsigned long>, std::hash<unsigned long>, std::__detail::_Mod_range_hashing, std::__d

[2019-12-21 03:24] sohwaje opened #2456 "ProxySQL Admin Error: table mysql_replication_hostgroups has 4 columns but 3 values were supplied"
I tried to set up the initial "mysql_replication_hostgroups" as follows, but I encountered an unexpected error.

Empty set (0.00 sec)

ERROR 1045 (28000): ProxySQL Admin Error: table mysql_replication_hostgroups has 4 columns but 3 values were supplied

So I checked the "mysql_replication_hostgroups" table structure.

+------------------------------+------------------------------------------------

[2019-12-21 13:50] snarlis commented on #2421
I edited my initial post . I had made a mistake in the order of the rules,sorry about that . I investigated a little further into this and found out that creating an EMPTY database named "animals" in server1 somehow patched this error and the select query executed normally. So, ProxySQL expected to find a database "animals" in server1 that will not get used.

[2019-12-23 05:56] klatiss commented on #2455
Not sure what you needed so dumped all of global_variables.

[Lab-ProxySQL.txt](https://github.com/sysown/proxysql/files/3993799/Lab-ProxySQL.txt)

[2019-12-24 02:39] dopessoa commented on #2456
Hi sohwaje,

You should change your insert query to something like:

`INSERT INTO mysql_replication_hostgroups VALUES (1, 2, 'read_only','cluster1');`

Take a look at the [MySQL Group Replication Hostgroups](https://github.com/sysown/proxysql/wiki/Main-(runtime)#mysql_replication_hostsgroups.) section on the wiki.

[2019-12-24 13:40] xpi-bbk222 opened #2459 "Lots hanging connections in ESTABLISHED state"
**Configuration:**
ProxySQL is installed on the same Web Front server to handle different server database connections.
The Web Front has up to 512 php-fpm working processes. Query routing is done by username default hostgroup (max_connections=5000).

**ProxySQL (10.0.0.176) :** ProxySQL version 2.0.5-37-gc8e32eed, codename Truls
**Database: (10.0.0.140):** Ver 5.7.26-29 for debian-linux-gnu on x86

[2019-12-24 15:22] houndegnonm opened #2460 "ProxySQL 2.0.7 crashed Error: signal 6:"
I recently upgraded or Test environment from 1.4.14 to 2.07 in order to move this version into Production but i'm concerning about below crash. Any help will be appreciated.

OS Version: CentOS Linux release 7.3.1611 (Core)
ProxySQL version 2.0.7-percona-1.2, codename Truls

Error Log:
[code]

Core Dump:
[gdb_core_dump_proxysql.log.gz](https://github.com/sysown/proxysql/files/3998619/gdb_core_dump

[2019-12-25 01:40] sohwaje commented on #2456
Thank you for your answers.
I succeeded using it.

[2019-12-25 01:40] #2456 closed, assigned to nobody

[2019-12-27 02:03] kuberxy opened #2462 "unreadable code with emoji characters queried by proxysql"
## env
[code]

## issue
### query by direct mysql master
![image](https://user-images.githubusercontent.com/35421150/71496187-ef16c200-288c-11ea-9327-142633eb617b.png)

### query by proxysql
![image](https://user-images.githubusercontent.com/35421150/71496258-546ab300-288d-11ea-9a95-3caea4581480.png)

### query tools
![image](https://user-images.githubusercontent.com/35421150/71496287-78c68f80-288

[2019-12-27 02:52] peng19832 opened #2463 "code make error - 2.0.9"
OS：CentOS 7
deps：yum install automake bzip2 cmake make gcc-c++ gcc git openssl openssl-devel patch
I get an error when installing version 2.0.9 with source code：
![image](https://user-images.githubusercontent.com/9590209/71498291-bb409a00-2896-11ea-85c1-873ff598a080.png)

This is the place for paid support and community users to report a **reproducible bug** in ProxySQL, suggest enhancements or ma

[2019-12-27 06:10] peng19832 opened #2464 "MGR monitor view ERR"
mysql> select * from gr_member_routing_candidate_status;
ERROR 1242 (21000): Subquery returns more than 1 row
mysql> select gr_member_in_primary_partition();
ERROR 1242 (21000): Subquery returns more than 1 row
![image](https://user-images.githubusercontent.com/9590209/71503989-7fb3c900-28b2-11ea-9c48-29a16805ab4a.png)

This is the place for paid support and community users to report a **reproduci

[2019-12-27 13:11] igroene opened #2465 "master shunned when using pt-heartbeat"
As per https://github.com/sysown/proxysql/wiki/MySQL-Server-Configuration#adding-a-server-to-two-different-hostgroups:

However that is not correct when using pt-heartbeat to measure slave lag. Configuiring ProxySQL by doing:

`SET mysql-monitor_replication_lag_use_percona_heartbeat = 'percona.heartbeat';
`

I verified that if pt-heartbeat is stopped, the current master (db2) is also shunned if ma

[2019-12-29 09:13] sky2007xu opened #2466 "with on duplicate key update sql return counts not right"
when I use insert into table_name() values () on duplicate key update .. , conected  mysql returns 0, but with proxysql return 1.

[2019-12-30 09:06] #2466 closed, assigned to nobody

[2019-12-31 02:50] seifchen opened #2467 "2.0.8 memory growing"
I found the proxysql memory has growing
this is the stats_mysql_metrics:
[code]
this is my config:

[code]

[2020-01-02 06:23] bskllzh commented on #2467
How long the proxysql has been running in your environment(test environment or prod environment)?   Is there the error log in your proxysql.log?  I can't  find reason for this, base on the info that you support.

[2020-01-02 07:48] seifchen commented on #2467
@bskllzh about two weeks,
when start,the memory is used about 0.2%(8GB of system memory) then the memory  growing slowy by slowy but never stop.
I use php to connect proxysql and use prepare statment.
logs:
`
019-12-28 17:21:35 MySQL_Session.cpp:4204:handler(): [WARNING] Error during query on (20,$host,3315): 1062, Duplicate entry '3600c438018b73a881fff5da138bb8c40767a970694c5c9eecce47dddc35b7ac'

[2020-01-02 08:14] seifchen commented on #2467
@bskllzh  the environment is prod

[2020-01-03 03:20] bskllzh commented on #2467
What does you use the case of prepare statment?   As i know,  it is not very good for support
of the proxysql prepare statment.

[2020-01-03 08:14] seifchen commented on #2467
@bskllzh use php lavarel

[2020-01-03 08:27] seifchen commented on #2467
@val214 your case is the same with me ?

[2020-01-03 08:33] seifchen commented on #2467
@val214  I did not see how to resolve it

[2020-01-03 10:23] nicola-strappazzon opened #2471 "ProxySQL 2.0.8 crashed by hight memory usage"
Hi @renecannao, for any reason, every X time when the memory are very hight, the ProxySQL crash by OOM (I think). I have been using ProxySQL for years, and I suspect in this company that the intensive use of prepare statement on stored procedures and I think this is the reason.

<img width="338" alt="imagen" src="https://user-images.githubusercontent.com/43709338/71715628-56df8680-2e12-11ea-88d4-4

[2020-01-03 13:29] gvasileiou opened #2472 "Proxysql Crashed 2.0.6"
Hi,

 without any  problems from VM side (mem,Disk,CPU usage) proxysql crashed. Below the proxy.log
[code]

[2020-01-03 18:10] pondix commented on #2472
A core dump should have been generated at the time of the crash, please check the datadir for the core dump with a similar timestamp - this will be needed to understand the state in which ProxySQL crashed.

I assume this is related to the STATE_ERR which is handled in newer versions of ProxySQL (see https://github.com/sysown/proxysql/blob/v2.0.9/lib/MySQL_Protocol.cpp#L577 / https://github.com/sys

[2020-01-03 19:13] alpes214 commented on #2467
@seifchen your issue might be related to issue #841 because of these log messages

[code]

[2020-01-04 01:54] seifchen commented on #2467
@val214 Thank you, I saw this issue was Mentioned in 2016
, It is still appear in proxysql 2.0.8?

[2020-01-05 02:07] seifchen commented on #2471
@nstrappazzonc  I alse use proxysql 2.0.8 and find the memory growing but never stop, #2467

[2020-01-06 09:12] peng19832 opened #2474 "error 9006 connection is locked to hostgroup"
Env.：
OS：centos7
proxysql：2.0.7
mysql：8.0.17

Problem：
Use navicat, connect to proxysql to execute SQL, and report an error.
However,using mysql-cli to connect to proxysql can execute the same SQL normally:
![9006](https://user-images.githubusercontent.com/9590209/71807518-71ca2900-30a6-11ea-9d5f-7b65e4c9d15f.png)
proxysql.log Errors：
**MySQL_Session.cpp:3607:handler(): [ERROR] RECEIVED AN UNKNOWN

[2020-01-06 10:26] peng19832 commented on #2474
i found this: #2234

[2020-01-06 10:26] #2474 closed, assigned to nobody

[2020-01-06 14:25] ethaniel commented on #730
Dear Rene ( @renecannao ), thank you so much for keeping Proxysql alive.

I'd like to input a small idea on this issue. Perhaps it's worth adding a feature to hostgroup configuration (Let's say `use_heaviest_online_server_only`) which would choose only 1 server from a hostgroup which:

1. Has the most `weight`.
2. `status`=ONLINE.

**Here is my configuration right now:**

1. Right now I have 3 Per

[2020-01-07 03:59] bozai111 opened #2475 "In proxysql, The mysql master state is intermittently changed to offline_hard state"
**Problem Description：**

     In proxysql, The mysql master state is intermittently changed to offline_hard state

     Causes the application to fail to obtain a database connection

     Could not open JDBC Connection for transaction; nested exception is
     com.mysql.jdbc.exceptions.jdbc4.CommunicationsException: Communications link failure

      The last packet successfully received from th

[2020-01-07 15:15] gunnicom commented on #971
I have seen the same today. A host that is in three hostgroups got "ONLINE" again in two hostgroups, but not the third.
Maybe some logic like (pseudocode):

[code]

[2020-01-08 03:18] klatiss commented on #2455
Do the global_variables give you enough config information to help you analyze the coredump?

[2020-01-08 15:00] timlansbergen opened #2476 "Unable to parse unknown SET query. Setting lock_hostgroup. Please report a bug for future enhancements:SET SESSION wsrep_sync_wait = 3"
**Problem description**
At my company we are running a Percona XtraDB Cluster solution together with ProxySQL as load balancing solution. To solve data replication issues between our Percona nodes, we would like to use the session property 'wsrep_sync_wait'. I have tried to set the property in the connection String but the following exception is thrown in proxysql:
`2020-01-08 11:32:25 MySQL_Sessi

[2020-01-08 17:36] pankaj-searce opened #2477 "Rows Affected value returned between Proxysql v1.4.0 and v2.0.7"
We upgraded from Proxysql v1.4.0 to v2.0.7 today. After upgrade our one application logic is failing due to the number of rows affected value returned for the update queries.

With v1.4.0, when an update query ran which did not update any rows but matched the where condition, proxysql returned rows affected as 1

![git_v1 4 0](https://user-images.githubusercontent.com/49145035/72001247-0bdace80-32

[2020-01-08 21:25] ryanmasse opened #2478 "Wish list: Support `SHOW TABLES IN` as allowed in MySQL"
![image](https://user-images.githubusercontent.com/22594095/72017236-4f194b00-3233-11ea-9f31-8a2725a94191.png)

![image](https://user-images.githubusercontent.com/22594095/72017271-60625780-3233-11ea-9547-d537a5405f66.png)

[2020-01-08 23:33] utdrmac opened #2479 "Cached query hostgroup reports overflow integer rather than -1"
Create a query rule to cache a query pattern:
[code]

Execute query and then view proxysql stats:
[code]

Queries served from cache should have hostgroup `-1` not some super high overflowed value

[2020-01-09 01:27] renecannao commented on #1348
https://github.com/artpaul/clickhouse-cpp/commit/d00ccbe5cbe94c559f3765e08e7ac02368d84120

We need to update the library

[2020-01-09 05:38] yakirgb commented on #2478
You already have: `show tables from monitor;`
[code]

[2020-01-09 09:47] dopessoa commented on #337
Hello @renecannao, I wasn't able to find nothing about these commands on the wiki.

I was looking for a way to do connection draining in ProxySQL, searched for Graceful Shutdown and could only find [this](https://github.com/sysown/proxysql/wiki/Frequently-Asked-Questions#10-how-to-gracefully-shutdown-proxysql-process-).

Would it be OK to add them somewhere in the wiki? If it's a simple explanatio

[2020-01-09 09:54] vivekpuri95 commented on #1918
+-----------+---------------+----------+----------+---------+-----------------+------------+
| hostgroup | srv_host      | ConnUsed | ConnFree | Queries | Bytes_data_sent | Latency_us |
+-----------+---------------+----------+----------+---------+-----------------+------------+
| 3         | 172.XX.XX.1 | 0        | 4        | 20142   | 26745272        | 679        |
| 3         | 172.XX.XX.2  | 0

[2020-01-09 12:06] renecannao commented on #337
Hi @dopessoa .
Thank you for the feedback.
Please feel free to add something in the wiki.
About the global variable, it is in our roadmap but no estimate date for it.

Thanks

[2020-01-09 15:39] ryanmasse commented on #2478
@yakirgb you are 100% correct.  The point being MySQL supports both SHOW TABLES [IN | FOR].  Just wishful thinking for guys like me who has been using SHOW TABLES IN for 15 years who gets frustrated having to remember to context switch. :)

[2020-01-09 16:06] renecannao commented on #2478
Breaking an habit after 15 years is difficult!
Improvement added in 2.0.9 .
Thanks

[2020-01-09 16:06] #2478 closed, assigned to nobody

[2020-01-10 04:05] AstersikRoss commented on #1892
This issue is resolved with ProxySQL 2, but you must define the default schema in the ProxySQL user table or Asterisk will not be able to query the column structures.

[2020-01-10 04:05] #1892 closed, assigned to nobody

[2020-01-10 15:03] renecannao commented on #2479
Fixed in 2.0.8 .
Please specify what version you are using.
Thanks

[2020-01-10 15:03] #2479 closed, assigned to nobody

[2020-01-10 15:07] renecannao commented on #2477
ProxySQL 1.4.x used a global variable to define this behavior.
The same applies to ProxySQL 2.0.x till 2.0.5 .
From version 2.0.6 proxysql behaves according to client's setting.
See issue #2121

[2020-01-10 15:07] #2477 closed, assigned to nobody

[2020-01-10 15:23] renecannao commented on #2475
Thank you for the detailed report: I really appreciate them!
Two reasons come to my mind that cause proxysql to "detects" the master as having read_only=1 while this is not true:
a) a timeout: the backend wasn't fast enough to reply to the monitor requests, and as a "safe" mechanism proxysql assumes that 1 is the default. From what I read, it seems a timeout could indeed be the root cause:
[code]

[2020-01-10 15:38] renecannao commented on #2463
hi @peng19832 .
CentOS 7 doesn't use cmake 3 by default , and this is required to build proxysql.
I think the lastest CentOS 7.x uses cmake 3 , but older CentOS 7 do not.

You may need to compile cmake 3 if not available , for example:
[code]

[2020-01-10 15:38] #2463 closed, assigned to nobody

[2020-01-10 15:39] renecannao commented on #2454
Closing.
Thanks

[2020-01-10 15:39] #2454 closed, assigned to nobody

[2020-01-10 15:40] #2433 closed, assigned to nobody

[2020-01-10 15:42] renecannao commented on #2430
Closing. Thank you @l-lotz  for the report, and thank you @val214 for the fix

[2020-01-10 15:42] #2430 closed, assigned to nobody

[2020-01-10 15:42] renecannao commented on #2429
Thank you @val214

[2020-01-10 15:42] #2429 closed, assigned to nobody

[2020-01-10 15:50] renecannao commented on #2226
closing, thank you @val214

[2020-01-10 15:50] #2226 closed, assigned to nobody

[2020-01-10 15:50] renecannao commented on #2398
Hi @AlexFinn .
Thank you for the report.
This is a duplicate of #2226 , and fixed in #2451 .
Closing.
Thanks

[2020-01-10 15:50] #2398 closed, assigned to nobody

[2020-01-10 15:58] renecannao commented on #2405
Yes, the setting is called `gtid_port` , and must be specific at server level.

[2020-01-13 05:16] bozai111 commented on #2475
Thanks for your reply, this problem has troubled me for a long time,

So the measures I can take are as follows:

Increase the parameter mysql-monitor_read_only_timeout = 3000

Observe for a period of time, if the same error occurs, update the version of proxysql to 2.0

What do you think of this adjustment?

[2020-01-13 08:16] alpes214 commented on #2440
@jacobbednarz , sorry for delay. There were holidays and another issues that did not allow me to reply earlier.

There is nothing suspicious in the log and in the proxysl.cnf. As I mentioned above, this situation (with `hostgroup_id: -1`) can happen when hostgroup is locked but proxysql tries to switch to another hostgroup. And this is correct/expected behavior. I can not confirm that this is a bu

[2020-01-13 08:26] fuyar commented on #1986
Any news on caching_sha2_password support @renecannao ?

[2020-01-13 12:27] fm2022aa opened #2480 "Proxysql delete backend server record, when backend server is down."
Hi all. I deploy proxysql and galera-mariadb on k8s, using statefulset both.
this is my proxysql.conf:
[code]

when I do the "failure recovery" test, i found that when i delete mariadb-mariadb-1 pod deliberately(not let it start automatically). In proxysql , it also delete the record of mariadb-mariadb-1 in mysql_servers table. But when I start mariadb-mariadb-1 again, it can not come back into my

[2020-01-13 12:30] yingjun-hw commented on #2480
here is
select hostgroup_id,hostname,status from runtime_mysql_servers;
+--------------+---------------------------------------+--------+
| hostgroup_id | hostname                              | status |
+--------------+---------------------------------------+--------+
| 10           | mariadb-mariadb-2.mariadb-mariadb.cce | ONLINE |
| 30           | mariadb-mariadb-2.mariadb-mariadb.cce | ONLINE

[2020-01-13 14:10] banpei-dbart opened #2481 "Stalled server causes ProxySQL watchdog to miss heartbeats on all threads"
We're using ProxySQL version 1.4.14-percona-1.1 (on Debian) and today we encountered a crash on one of our ProxySQL hosts. Upon further investigation it revealed that the crash happened due to the watchdog missing 10 heartbeats on one of our clusters.
[code]

I see we're not the only ones struggling with it:
https://github.com/sysown/proxysql/issues/1685
https://github.com/sysown/proxysql/issues/1

[2020-01-13 14:12] banpei-dbart opened #2482 "Assert(0) is not the proper way to crash ProxySQL"
We're using ProxySQL version 1.4.14-percona-1.1 (on Debian) and today we encountered a crash on one of our ProxySQL hosts. I created [a separate ticket for the crash itself](https://github.com/sysown/proxysql/issues/2481), but feel free to merge these two tickets if you think they should be together.

Reading the [documentation on the watchdog](https://github.com/sysown/proxysql/wiki/Watchdog) it'

[2020-01-13 15:07] renecannao commented on #2482
Hi @banpei-dbart .

1. asserts are present in release mode , not only debug. So I think this is a no issue.

2. I full agree, we can improve that pointing to the documentation.

Final note: a lot of knows bugs have been fixed since 1.4.14 , and watchdog helped finding those bugs (race conditions).

[2020-01-13 15:14] #2361 closed, assigned to nobody

[2020-01-13 15:28] renecannao commented on #2481
Hi @banpei-dbart .

Yes, sure, we can have a look at core dump, but currently our backlog on community bugs is quite busy, as paying customers get priority.
Speaking of priority, the issue reported by Ben (#1685) is fixed in a hotfix for 1.4.10 (on commit e5226f964802b0ee27974e3bd07287cbcab75382), and it is fixed in 2.0.5 (bd9c88e7db907378994fabd8a615dc6bb29e5ba4). It never made into 1.4.x .
Note

[2020-01-13 15:31] renecannao commented on #2480
Can you please provide the full error log? Thanks

[2020-01-13 15:34] pondix commented on #2472
Closing as per follow up

[2020-01-13 15:34] #2472 closed, assigned to nobody

[2020-01-13 15:36] renecannao commented on #2482
Commit 359c3d208ca96b1af926309b300f83192ff0c750 adds a link to the wiki to address point 2

[2020-01-13 15:36] #2482 closed, assigned to nobody

[2020-01-13 15:53] renecannao commented on #2444
The last step here is documenting this feature.
Assigning it to @val214
Thanks

[2020-01-13 16:01] renecannao commented on #2455
probably related to #2395 , so fixed in 2.0.9 (not released yet)

[2020-01-13 16:02] renecannao commented on #2426
Truncated core dump.
Closing

[2020-01-13 16:02] #2426 closed, assigned to nobody

[2020-01-13 16:21] nicola-strappazzon commented on #2471
@seifchen in my case continue crashing, and dont understand why?

[2020-01-13 16:31] #856 closed

[2020-01-13 16:32] #813 closed

[2020-01-13 20:16] jacobbednarz commented on #2440
No worries. I managed to go back and found that HG10 (writer) did fail a couple of read-only-timeout checks. Apologies for missing this earlier but the logs were rolled just after it happened and deleted on the instance itself. I ended up finding them in our log aggregator. Would my hypothesis that a query was destined for HG10 (potentially by default) and due to some congestion on HG10, failed th

[2020-01-14 02:41] fm2022aa commented on #2480
Hi, thanks @renecannao . My env is reinstalled and  i reproduce this.
i just edit gara-mariadb replica from 3 ->2 then ->3 repeatedly. it work well at first ,after i repeat modify replica some time, the issue appear like this:
[code]

**My env origin state is this:**
[code]

**log is:**
[code]

[2020-01-14 08:07] eason0420 opened #2483 "mysql server status not change SHUNNED to ONLINE"
3 node proxysql cluster
+------------+------+--------+----------------+
| hostname   | port | weight | comment        |
+------------+------+--------+----------------+
| 10.8.51.75 | 6032 | 1      | ProxySQL-node3 |
| 10.8.51.74 | 6032 | 1      | ProxySQL-node2 |
| 10.8.51.73 | 6032 | 1      | ProxySQL-node1 |
+------------+------+--------+----------------+
3 mysql server
+--------------+---------

[2020-01-14 08:28] #2483 closed, assigned to nobody

[2020-01-14 09:17] seifchen commented on #2471
@nstrappazzonc my case is the memory is growing never stop, I don't understand why

[2020-01-14 09:37] dopessoa opened #2484 "mysql-wait_timeout is not set to 0 when proxysql pause is run"
Hello,

Found an issue with the `proxysql pause` function, the `mysql-wait_timeout` value is not being changed.

Description of the issue: `mysql-wait_timeout` is not set to 0 when `proxysql pause` is run.
OS version: CentOS Linux release 7.7.1908
ProxySQL version: ProxySQL version 2.0.8-67-g877cab1, codename Truls
Error log (some parts were obfuscated for privacy reasons): [proxysql.log](https://

[2020-01-14 09:52] renecannao commented on #2484
Hi @dopessoa .
You may have read in #337 that `mysql-wait_timeout` was being set to 0.
This was true in first implementation (commit 42fbbe6fc81b6f603bfc75845327b4aad6b216ba) , but behavior was changed 2 years after (commit 757f55791d5c2b07519e9c6886bd5e10c133b4c3) because we realized that this behavior should be controlled by the user and not hardcoded.

[2020-01-14 23:11] jermlinden commented on #2102
I don't have a working build environment, otherwise I'd test and make a PR

[2020-01-15 23:31] jbrown123 commented on #1673
I suggest making this information (query cache doesn't support prepared statements) prominent in the readme and in the wiki and FAQ. I just spent an entire day trying to figure out why proxySQL wasn't caching my queries (that's the only reason I wanted to use it) only to find a tiny note at the bottom of one page of the wiki under "limitations".

In addition, obviously, I'd like the query cache to

[2020-01-16 02:25] mikegriffin commented on #1347
I believe that I can reproduce this by having few connections allowed to MySQL, many allowed to proxysql, and holding a table lock:

#### Create proxy:

admin proxysql> set mysql-max_connections=45000;
Query OK, 1 row affected (0.000 sec)

admin proxysql> insert into mysql_servers (hostgroup_id,hostname,port,max_connections,comment) values (10, '192.168.4.1', 3306, 64, 'master-db1');
Query OK, 1 r

[2020-01-16 08:33] oaHeZgnoS opened #2486 "SqlProxy1.4.3-clickhouse-1，can't select some colums' row data in sqlproxy，but select normally in clickhouse-client and DBeaver."
**Create table from Mysql within sqlproxy:**
(1)MySQL [szhtest]> CREATE TABLE spider_message ENGINE = MergeTree ORDER BY id AS SELECT * FROM mysql('ababab.mysql.rds.aliyuncs.com:3306', 'spider', 'spider_message', 'user', '123456') LIMIT 4;
Query OK, 0 rows affected (0.07 sec)
MySQL [szhtest]> select * from spider_message;
+----+--------+-----+-------+------+
| id | rowkey | key | value | time |
+-

[2020-01-16 09:28] nielsalkema commented on #2202
A few more errors : proxysql-2.0.8-1.x86_64

2020-01-13 17:09:26 MySQL_Session.cpp:7033:unable_to_parse_set_statement(): [WARNING] Unable to parse unknown SET query from client 10.2.16.23:53926. Setting lock_hostgroup. Please report a bug for future enhancements:/*!80000 SET SESSION information_schema_stats_expiry=0 */
2020-01-16 06:12:06 MySQL_Session.cpp:7033:unable_to_parse_set_statement(): [WA

[2020-01-17 14:36] yctn opened #2487 "proxysql.slack.com or irc"
is the proxysql.slack.com available to join for everyone?
or is there an irc channel where discussion/questions can take place?

[2020-01-20 09:29] 1399689727 opened #2491 "ProxySQL 2.0.7 crashed when add new user for ali mysql 5.7.26"
ProxySQL 2.0.7 crashed when add new user for ali mysql 5.7.26

I have been used proxysql for more than one year with 1.x version. And it goes well.
Two month ago, I upgraded it to 2.0.7 for json support.
Recently, My colleage add a new ali mysql with version 5.7.26, it got buffer overflow detected.
We have added the same mysql version already and it do run well.

MYSQL Version: Server version: 5.7

[2020-01-20 10:33] identw opened #2492 "1.4.16 crash when mysql replication restart"
[code]

[2020-01-21 04:27] dopessoa commented on #2484
Oh, got it. Thank you for the response.

[2020-01-21 04:27] #2484 closed, assigned to nobody

[2020-01-21 08:36] uffy opened #2493 "proxysql 2.0.8 crash if backend mysql server set global variable session_track_state_change = ON"
ProxySQL docker image: proxysql/proxysql:latest
ProxySQL version 2.0.8-67-g877cab1e
Mysql docker image: mysq:5.7
Mysql version: 5.7
Mysql Client version: Ver 8.0.18 for osx10.15 on x86_64 (Homebrew)

reproduce steps:
1. startup a MySQL server and execute SQL "set global session_track_state_change = 'ON';"
2. startup ProxySQL
3. connect to ProxySQL and execute SQL "select 1"
4. ProxySQL crash

[2020-01-21 13:50] Reiner030 commented on #2492
... btw: which version of 1.4.16 do you run?

In my RSS tracker have following relase dates to offer:
* 16.02.19: 1.4.16
* 13.08.19: v1.4.16
* 20.01.20: v1.4.16

[2020-01-21 13:54] renecannao commented on #2492
@identw : is there a core dump available ?

@Reiner030 : from extract of error log, 13.08.19: v1.4.16

[2020-01-21 14:03] identw commented on #2492
Sorry, I didn’t know that there are several branches 1.4.16.
My version is installed from the repository http://repo.proxysql.com/ProxySQL/proxysql-1.4.x/xenial

[code]
[code]

I can’t do Core dump now, but I’ll add it later

[2020-01-21 18:58] jparruti opened #2494 "ProxySQL 2.0 won't start with systemd if datadir is changed"
Hi,

ProxySQL does not start with systemd if the default datadir is changed in /etc/proxysql.cnf file.

Please review following test case:
[code]

It can be workaround by commenting the PIDFile variable in proxysql.service file.
However since the pid file is created on the same directory as the datadir, is it possible for you to provide the proxysql.service file already commented to prevent this i

[2020-01-21 22:37] pondix commented on #2494
Thank you for the report, this will be investigated further!

[2020-01-22 08:13] renecannao commented on #2481
Fixed in 1.4.16 and 2.0.5

[2020-01-22 08:13] #2481 closed, assigned to nobody

[2020-01-22 08:20] renecannao commented on #2455
For your information, unfortunately e won't fix this in 2.0.9 , but probably 2.0.10

[2020-01-22 10:08] tjlee commented on #1671
@petitajt
I was working with MySQL `8.0.17` & ProxySQL `2.0.6`

[2020-01-22 12:51] alpes214 commented on #2493
@uffy, thank you for reporting the bug!
It is related to the mariadbclient v3.0.2 library that was used on proxysql v2.0.8.

[code]

In the proxysql v2.0.9 the maridbclient library has been upgraded up to v3.1.4 and issue is not reproducible.

Will consider this issue as closed.

[2020-01-22 12:53] #2493 closed, assigned to nobody

[2020-01-24 11:35] pipozzz opened #2497 "Support for proxy_protocol for proxysql behind aws load balancer"
Hello,

is it possible to implement proxy_protocol on proxysql to see real remote IP of client ?

We would like to use new feature from v2.0.9 called firewall whitelist, but our proxysql servers are running behind TCP load balancer and we still see only load balancer's IP obviously.

Thank you.

[2020-01-24 12:10] renecannao commented on #2497
If my understanding is correct, this is NOT a duplicate of #1971 or #2241 .

Because ProxySQL is behind a TCP load balancer, to me this request makes sense!

[2020-01-27 08:55] Sumit353 commented on #2455
Earlier we were running on proxysql version 2.0.3 in production environment but we encountered a a bug and proxysql got crashed and as per recommendation decided to upgrade it on latest version i.e 2.0.8. We dit it on pt environment.
So currently we are Running proxysql version  2.0.8 on CentOS 7. In backend we are using Percona Server version: 5.7.25-28-log Percona Server.  We are not using GTID

[2020-01-27 09:04] renecannao commented on #2455
@Sumit353 : your issue is clearly not related to this issue. Your issue is fixed in 2.0.9, see #2396 and d71d01cb63e03926972eb3a82dcf144fb6d13683

[2020-01-27 11:14] petitajt commented on #1671
@tjlee Ok thanks. I finally opted for a trimmed version of MariaDB connector. Mainly removed transaction handling and some options. Not really suitable for heavy prod use but sufficient for my needs.

[2020-01-28 18:23] mcrauwel commented on #2424
For documentation reference:

Same behaviour happens with the admin-users btw... The users that are being used in the `admin-admin_credentials` variable should not be in the `mysql_users` table. Doing so will result in the admin user unable to log in to the ProxySQL Admin Module.

In the example above this relates to the user `admin`.

[2020-01-28 21:22] houndegnonm commented on #2361
@renecannao Please re-open this issue, i'm able to generate the core dump in attached file as this crash occurred today and below the same error in the log file.

proxysql: MySQL_Session.cpp:3046: int MySQL_Session::handler(): Assertion `mybe' failed.
Error: signal 6:
/usr/bin/proxysql(_Z13crash_handleri+0x1a)[0x4992ba]
/lib64/libc.so.6(+0x35250)[0x7fe836957250]
/lib64/libc.so.6(gsignal+0x37)[0x7f

[2020-01-28 21:30] houndegnonm opened #2499 "ProxySQL_daemonize_phase3(): [ERROR] ProxySQL crashed. Restarting!"
Hi @renecannao ,
ProxySQL crashed today with following error log, same error has been reported in this [closed issue 2361 ](https://github.com/sysown/proxysql/issues/2361)

[code]

attached the core dump
[core.29390.zip](https://github.com/sysown/proxysql/files/4124690/core.29390.zip)

[code]

Let me know if you need further informations.
Thank you!

[2020-01-29 18:44] markusalbe commented on #2460
Hello Rene,

We have a case with identical behavior, and I see there's a 700MB packet:
[code]

Could this have overflown some buffer and close backend connection?

[2020-01-29 18:48] markusalbe commented on #2460
This looks similar: https://github.com/sysown/proxysql/issues/240 but the fix for that looks like it was on 1.x code...?

[2020-01-29 18:51] houndegnonm commented on #2499
closing this is a duplicate of https://github.com/sysown/proxysql/issues/2460

[2020-01-29 18:51] #2499 closed, assigned to nobody

[2020-01-31 15:56] renecannao opened #2502 "More verbose output for failed SET statements"
Error message like the following should be more verbose and include also hostgroup/server/port:

[code]
Same should apply for similar functions that execute `SET` statements.

[2020-01-31 16:05] renecannao opened #2503 "Monitor , expired password and failed pings"
In `MySQL_Monitor::monitor_ping()` , if more than `mysql-monitor_ping_max_failures` pings fails, the backend is disabled.
Nonetheless, Monitor considers a server responding with `Access denied for user ...` or `ProxySQL Error: Access denied for user ...` , as "healthy" , thus doesn't shun it.
The same logic should be applied if the error returned is `Your password has expired. ...` .

[2020-01-31 16:12] renecannao opened #2504 "Report into error log Monitor's error generated by expired password."
In `monitor_connect_thread` , if Monitor is unable to connect to backed because of incorrect credentials, an error message is reported into error log. See https://github.com/sysown/proxysql/blob/v2.0.9/lib/MySQL_Monitor.cpp#L694-L700

We should also log errors starting with the string `Your password has expired` .

[2020-02-02 11:53] renecannao commented on #2326
Closing, implemented in 2.0.9

[2020-02-02 11:53] #2326 closed, assigned to nobody

[2020-02-04 02:07] ocafebabe opened #2511 "Download link redirects to a different version"
Hi,

I'm a little bit confused, the download link on the [web site](https://proxysql.com/) says: "Download (**V2.0.8**)", but when I click on it, I'm redirected to this URL: [Release v1.4.16](https://github.com/sysown/proxysql/releases/tag/v1.4.16)?!?!

I presume that the link is wrong? Is version 1.4.16 a legacy branch?

Thanks

[2020-02-04 02:13] pondix commented on #2511
Hi @ocafebabe and thank you for the report!

The problem arose since 1.4.16 is the latest release (chronologically to github) while 2.0.8 (released earlier) is actually the newer version of ProxySQL.

I've updated the link on the website to point to `/tag/2.0.8` rather than `/latest`.

[2020-02-04 02:13] #2511 closed, assigned to nobody

[2020-02-04 19:35] r4nc0r commented on #730
Hi,
we too have a scenario where this is needed. Is there a status on this issue?

[2020-02-04 19:54] asad-awadia commented on #2462
bump - I am seeing this too - any @kuberxy updates?

[2020-02-04 23:41] renecannao commented on #2462
Do you have any way to reproduce this issue?
We need some script/data to reproduce it.

Thanks

[2020-02-05 09:33] maxcdba commented on #2283
@pkatiushyn It would be great if you share the configuration for that, because we have the same issue :(, many thanks.

[2020-02-05 14:04] pkatiushyn commented on #2283
In my case `/etc/hosts` had wrong IP address.

[2020-02-05 15:38] asad-awadia commented on #2462
have proxysql 2.0.4 infront of a mariaDB 10.1 that has charset latin1

make an insert to a text column that has an emoji - it gets converted to ???

columns that had the correct emoji bytes - when coming back out through proxysql on the read path - render as bytes rather than the emoji it self

Its fine now - we figured it out -- proxysql.cnf charset needs to be set to latin1 -- I guess by default

[2020-02-05 17:08] davey commented on #2503
is it possible to automatically re-enable a backend server, once it comes back online?
or should I just set monitor_ping_max_failures to some incredibly high value?
I'd like to have a faulty backend back in the system as soon as it back online...

[2020-02-05 18:14] utdrmac commented on #2428
@mtgerb Can you close this if all good?

[2020-02-06 15:06] salujavarun opened #2512 "Kill Query Executed by app_user@proxysqlhost on DB Slaves."
Hi,

ENV:
DB version: 5.7.21-21
Proxysql Version: 1.3.4
Vivid Cortex for  Monitoring

We got  an issue where our application pods encountered timeouts from DB slaves behind proxysql. Ensured DB latencies and health was normal.

Vivid reported below ERROR.
**ERROR 1094: Unknown thread id.**
When checked vivid graphs report, user which tried to kill is app_user@proxysqlhost. Please find attached scr

[2020-02-06 16:37] nigel889 opened #2513 "PXC ProxySQL crashed. Restarting"
proxysql：
proxysql --version
ProxySQL version 2.0.8-67-g877cab1, codename Truls
OS:
 cat /etc/redhat-release
CentOS Linux release 7.5.1804 (Core)

MySQL：
Server version:         5.7.14-8-57-log Percona XtraDB Cluster (GPL), Release rel8, Revision a3f9d06, WSREP version 26.17, wsrep_26.17

3 pxc node
when  read_only=0，word fine，but  on any one server  set global read_only=1，ProxySQL crashed. Restar

[2020-02-06 20:42] utdrmac opened #2514 "Cannot upgrade proxysql2 via yum/rpm"
* CentOS Linux release 7.6.1810 (Core)
* Install proxysql2-2.0.7-1.2.el7.x86_64
* Attempt to upgrade using yum and direct URL to new package
* Package contents conflicts with package contents

Expected Behavior: For packages/proxysql to be updated

[code]

[2020-02-06 20:43] utdrmac commented on #2514
Cannot upgrade/update

[code]

[2020-02-06 20:43] utdrmac commented on #2514
Can't upgrade manually:

[code]

[2020-02-06 21:39] aholtzmbw opened #2515 "Query rule triggers, but doesn't log when apply=0 under 2.07"
I tried to create rule_id 1 that would log every query coming in.  I see in the stats that the rule is incrementing but it is not logging.  When I change apply from 0 to 1 then it will log.  Of course it stops right there and uses the default hostgroup instead of hitting my other rules but I can at least prove what allows it to log or not log.

Running ProxySQL 2.07.  Simple rule of:

`INSERT INTO

[2020-02-06 22:09] renecannao commented on #2514
The problem is that you are mixing a package from the original repositories with a package distributed by Percona.
It means that packages distributed by Percona makes upgrade impossible.
If anything, this seems a bug to report to Percona, not here.

[2020-02-06 22:10] #2514 closed, assigned to nobody

[2020-02-06 22:42] utdrmac opened #2516 "Upgrading from 2.0.7 to 2.0.8 causes repeating crash with Galera"
* Install 2.0.7
* Configure galera setup (insert into mysql_servers, insert into mysql_galera_hostgroups)
* Everything works well

Attempt to upgrade to 2.0.8.
* yum remove proxysql
* yum install https://github.com/sysown/proxysql/releases/download/v2.0.8/proxysql-2.0.8-1-centos7.x86_64.rpm
* Success

Start ProxySQL. Observe error logs:
[code]

Downgrading back to 2.0.7 resolves the crash and oper

[2020-02-06 22:44] utdrmac commented on #2516
Dump of 2.0.7 proxysql database:
[sqlite_dump.sql.gz](https://github.com/sysown/proxysql/files/4168102/sqlite_dump.sql.gz)

[2020-02-06 22:53] pondix commented on #2516
This is a Galera specific issue has has been fixed in 2.0.9 https://github.com/sysown/proxysql/pull/2394

[2020-02-06 22:53] #2516 closed, assigned to nobody

[2020-02-06 23:03] utdrmac commented on #2516
@pondix There are no 2.0.9 RPMs. When might those get created?

[2020-02-07 00:44] ioriyagami21042017 opened #2517 "Again, temporary table is lost"
I have configured a proxysql with MySQL Replication but I have a problem with temporary tables, this is the configuration

 hostgroup_id | hostname       | port | gtid_port | status       | weight | compression | max_connections | max_replication_lag | use_ssl | max_latency_ms | comment |
+--------------+----------------+------+-----------+--------------+--------+-------------+-----------------+--

[2020-02-07 01:02] renecannao commented on #2517
Hi.
You aren't reporting a reproducible bug.

According to rule 5 , table is created by user `Contact_Center` . According to rule 6 , data is inserted by user `Contact_Select` .
This clearly cannot work.
It anything, you have a misconfiguration.

Closing, because not a bug

[2020-02-07 01:02] #2517 closed, assigned to nobody

[2020-02-07 09:20] sneils commented on #893
I'm running into the same problem right now (proxysql terminating running queries on servers that fall over the max_replication_lag). Did I understand correctly, that it should auto-retry on another server unless multiplexing is disabled?

[2020-02-07 21:08] ioriyagami21042017 opened #2518 "Again crash temporary tables, I dont know why"
I have configured ProxySQL with MySQL replication between 1 master and 2 slaves, this are my rules
 rule_id | username       | destination_hostgroup | active | retries | match_pattern | match_digest                            | apply |
+---------+----------------+-----------------------+--------+---------+---------------+-----------------------------------------+-------+
| 1       | Contact_Center

[2020-02-07 22:27] renecannao commented on #2518
Already explained in #2517 .
Closing

[2020-02-07 22:27] #2518 closed, assigned to nobody

[2020-02-09 05:08] slowtech opened #2519 "Can you give me a demonstration on how to use OK_msg and what do proxy_addr and proxy_port mean?"
Can you  give me a demonstration on how to use OK_msg  in mysql_query_rules
and what do proxy_addr and proxy_port mean?

Tks.

[2020-02-09 14:44] slowtech opened #2520 "A question about the workflow for connection pool"
The workflow for connection pool , as the document says:

I'm curious whether the connection will be destroyed. If it does, how about the session variables, or temporary tables which are created on the connection?

Tks

[2020-02-10 01:58] slowtech commented on #2520
i know, the connection is no longer used

[2020-02-10 01:58] #2520 closed, assigned to nobody

[2020-02-10 07:20] mtgerb commented on #2428
Sorry for the late reply. Yes I can close this. But it would be nice to fix this inside the code.

[2020-02-10 12:52] maxcdba commented on #2471
Hi guys, I've faced with the same issue, did you already find any solution for it?

[2020-02-11 14:13] ujmoser commented on #1886
We are using proxysql 2.0.8 and get the same error using Connector/J 2.4.3

[2020-02-12 01:53] slowtech opened #2522 "ERROR 9006 (Y0000): ProxySQL Error: connection is locked to hostgroup 10 but trying to reach hostgroup 20"
ProxySQL Version:
[code]
MySQL Version: 8.0.19

<br>

Here is the config info.
[code]

<br>

But the test for multiplexing doesn't work as expected. Here is the test. As the document says, multiplexing  is disabled when queries contain user variables or temporary tables.

**test1**

[code]

**test2**

[code]

<br>

Here is the repeat SQL
[code]

Tks

[2020-02-12 02:19] eric-po commented on #1466
We had the same problem. my proxysql version is 1.4.11-6-g4e44db1.
The proxysql log frequently reports  "Detected broken idle connection".
then,the backend is mysql. the informations were frequently reports: [Note] Aborted connection 1744627 to db: 'xxx_dbname' user: 'xxxx' host: '192.168.1.xx' (Got timeout reading communication packets)"
we found out what it is enable that the proxysql settings o

[2020-02-12 08:39] ujmoser opened #2523 "Java connection using MariaDB 2.4.3 JDBC driver fails to load server variables"
This is a reocuring bug showing the same behaviour as reported in issue #2009.

We are using MariaDB Connector/J 2.4.3 and ProxySQL 2.0.8 on top of a MariaDB Galera Cluster 10.2.23 on Ubuntu 18.04.3 LTS (GNU Linux 4.15.0-76-generic_x86_64)

When connecting to port 6033 the connector reports

[code]

[2020-02-12 08:44] metaxyz opened #2524 "Aurora replicas in deleting state are not filtered/shunned by auto-discovery"
Aurora replicas which are in deleting state are still remaining ONLINE in runtime_mysql_servers, probably because the current check is after replication_lag, which is still around 20ms in this stage.
This is a problem, because the proxy is still trying to send new connections to this instances?!

A workaround i was thinking would be to have a custom script to describe the aurora cluster and check

[2020-02-12 08:45] renecannao commented on #2523
Please provide a reproducible test case

[2020-02-12 08:50] renecannao commented on #2524
Please follow the guidance for reporting an issue.

Are you using `mysql_aws_aurora_hostgroups` ?
Which version of ProxySQL?
What is reported by Aurora in `INFORMATION_SCHEMA.REPLICA_HOST_STATUS` about the server in deleting state?

[2020-02-12 09:10] metaxyz commented on #2524
Yes, i'm using mysql_aws_aurora_hostgroups.
ProxySQL version 2.0.8-67-g877cab1e

[code]
I see no information in REPLICA_HOST_STATUS  about "deleting", but when the instance is in deleting state, it doesn't accept new connections.

Describe instance:
[code]

[2020-02-12 09:16] renecannao commented on #2524
Thank you for the output.
Does the table `monitor.mysql_server_ping_log` reports any error about this server?

Can you please share proxysql's error log?
Thanks

[2020-02-12 10:08] metaxyz commented on #2524
In `monitor.mysql_server_ping_log` i see just my writer endpoint. (I have the writer endpoint in mysql_server, because i think is a requirement for auto-discovery to work?)

The strange thing is that even after delete, the instance still remain in `runtime_mysql_servers`.
 In deleteting state, i have no errors / logs at all. After it was deleted, it will spam for more than 30 minutes this:
`2020-0

[2020-02-12 10:09] ujmoser commented on #2523
Only thing we can provide is the java connect string we use to open the connnections.
here it is:
 `jdbc:mariadb://192.168.23.234:6033/c4?fastConnect=true&tcpNoDelay=true&autoReconnect=true&sessionVariables=net_write_timeout=7200`

[2020-02-12 10:11] ujmoser commented on #2523
We will try to create a small snippet using that  connect string and test whether the error occurs.

[2020-02-12 10:21] metaxyz commented on #2524
A few more table info:

mysql_aws_aurora_hostgroups
[code]

Is strange that add_lag_ms , min_lag_ms and lag_num_checks are missing from table structure, wasn't it introduced in 3.0.7 / 0.8 ?

runtime_mysql_servers
[code]

[2020-02-12 11:12] renecannao commented on #2524
This appears to be a bug:

`MySQL_Monitor::monitor_ping()` , responsible to determine which servers to ping for monitoring purposes, queries `mysql_servers` .
The bug should be fixed having the Aurora module automatically update `mysql_servers` during auto-discovery.

If my theory is correct, if you run `SAVE MYSQL SERVERS FROM RUNTIME` after auto-discovery is completed, `mysql_servers` will have

[2020-02-12 11:29] metaxyz commented on #2524
Ok, i tested it while still having reader-test-2.csklgynitgvl.eu-west-1.rds.amazonaws.com in runtime_mysql_servers SHUNNED. This instance was deleted 2h ago, but still present in both tables now.

I can see now:
`| reader-test-2.csklgynitgvl.eu-west-1.rds.amazonaws.com         | 3306 | 1581506789349909 | 0                    | Unknown MySQL server host 'reader-test-2.csklgynitgvl.eu-west-1.rds.ama

[2020-02-12 11:34] renecannao commented on #2524
Cool, now because the server is `SHUNNED` , and pings are failing, proxysql doesn't try to use use.

This is a problem of Aurora actually. According to `INFORMATION_SCHEMA.REPLICA_HOST_STATUS` , the server is still there.
Why ProxySQL should remove it?

[2020-02-12 11:50] ujmoser commented on #2523
Here we have a sample and included is a stacktrace.
[MDB_ConJ_TestCase.java_src.txt](https://github.com/sysown/proxysql/files/4191874/MDB_ConJ_TestCase.java_src.txt)
[MDB_ConJ_TestCase.java.stacktrace.txt](https://github.com/sysown/proxysql/files/4191883/MDB_ConJ_TestCase.java.stacktrace.txt)

[2020-02-12 13:33] metaxyz commented on #2524
Ok, here are some remarks from my last test:
- Aurora Read instance still accept new connections and queries for like 5 minutes while in "Deleting" state (good)
- MySQL_Monitor::monitor_ping() loose ping to it after 5 minutes (good)
- The deleted instance keeps changing from ONLINE to SHUNNED for like 1 minute (i will check the config to lower this time) and after will keep it SHUNNED

As a workar

[2020-02-12 13:51] ujmoser commented on #2523
Hi,
we found out that removing the part  'sessionVariables=net_write_timeout=7200' from the connection string solves the problem. Looking into the documentation for net_write_timeout shows that for our application it would make sense to have this setting, since resultsets might be quite large and therefore can be split up into several transfers and as a result might run into the default 60 secs.

[2020-02-12 16:33] #2494 closed, assigned to pondix

[2020-02-12 16:34] #2424 closed, assigned to pondix

[2020-02-12 16:37] pondix commented on #2292
Closing due to inactivity

[2020-02-12 16:37] #2292 closed, assigned to Tusamarco, pondix

[2020-02-12 16:38] #1694 closed

[2020-02-12 16:41] #2115 closed, assigned to pondix

[2020-02-12 16:42] #2029 closed, assigned to Tusamarco, pondix

[2020-02-12 16:43] pondix commented on #2029
Done

[2020-02-13 02:21] smg-davidchin opened #2526 "Feature Request : Include query id in event log"
I'm trying to find out the queries that exceeded the parameter I set in mysql-default_query_timeout.

I can see from the proxysql log that it logs saying query was killed along with the query ID. It'd be great if this same query ID can be included in the event log so that I can know the SQL statement.

[2020-02-13 04:06] renecannao commented on #2298
Closing, because fixed in 2.0.9

[2020-02-13 04:06] #2298 closed, assigned to nobody

[2020-02-13 04:10] renecannao commented on #2444
Closing this issue because of PR #2469 .
Thank you @kirs

[2020-02-13 04:10] #2444 closed, assigned to alpes214

[2020-02-13 07:50] Amixp opened #2527 "ProxySQL with Clickhouse does not have a timestamp in the log"
Thanks for you very nice work and programm!

I have ProxySQL 2.0.8 witch Clickhouse build.
But I often see how errors appear in the log and it is not clear why. And also the fact that there is no timestamp in proxysql.log.
I use the Architecture bundle using 2 ProxySQLs according to the instructions https://proxysql.com/blog/clickhouse-and-proxysql-queries-rewrite

On Proxysql with client DB:
2020

[2020-02-13 08:10] renecannao commented on #2527
Hi @Amixp .
In ProxySQL 2.0.9 (to be released soon), we upgraded the library uses to connect to clickhouse.
I would suggest to first try 2.0.9 , and if the error persist we will investigate more.

[2020-02-13 08:14] Amixp commented on #2527
Thanks! I will wait!

[2020-02-13 08:14] #2527 closed, assigned to nobody

[2020-02-13 14:57] asifjoyia commented on #2186
We are facing the same issue on the 2.0.8-1 Version. any solution. Urgently required.

[2020-02-13 15:02] asifjoyia commented on #1561
We are facing the same issue on 2.0.8-1 on CentOS 6.9.

[2020-02-13 17:09] ethaniel opened #2528 "I think the "SET NAMES" functionality is broken in 2.0.8-67"
I'm connecting to the 6033 proxysql port. Even when I set ```SET NAMES 'utf8mb4'``` I randomly get good replies with normal emojis in proper utf8mb4 format (first 2 SELECT requests) or either a response with broken emojis replaced with ```?``` characters (last SELECT request, i've marked it with <b>bold</b>):

<pre>
mysql> SHOW VARIABLES LIKE 'character_set%';
+--------------------------+---------

[2020-02-13 20:05] sysadmin1139 commented on #2321
We're running 2.0.8 now, and are no longer seeing the issue.

[2020-02-13 20:05] #2321 closed, assigned to nobody

[2020-02-14 17:04] altmannmarcelo opened #2529 "Report Backend Connection ID on Connection errors"
ProxySQL properly reports an error when a backend connection has been closed, however, if further analyzes have to be done in MySQL side, such as investigating the general_log / audit logs to pinpoint why it has been closed and what that connection did since it connect it would be impossible to correlate them.

Example:
ProxySQL Error:
[code]

MySQL Error:
[code]

ProxySQL conn:33 relates to front

[2020-02-15 01:22] Amixp opened #2530 "ProxySQL 2.0.7-8 query rules is not apply destination hostgroup"
[code]

[2020-02-15 03:29] Amixp commented on #2530
but this...
[code]

[2020-02-15 08:00] Amixp commented on #2530
There is proxysql 2.0.8 with rules for Clickhouse. Mysql server with hostgroup = 0, Clickhouse = 30. There are 80 rules and match_pattern, re_modifiers = (CASELESS, GLOBAL), replace_pattern and destination_hostgroup = 30 are set. active and apply = 1.
User with def.hostgroup = 0. But! Rules apply and go to hostgroup 0! What is visible in the stats_mysql_query_digest table and in the query.log log.

[2020-02-16 14:48] erdalmercan commented on #2374
can you please share your solution?

[2020-02-16 19:39] Amixp commented on #2522
+1

[2020-02-16 22:19] renecannao commented on #2522
You seem to be confusing two distinct features:
* multiplexing : the ability to share the same backend connection between multiple frontend connections
* query routing

Disabling multiplexing does **not** disable query routing

[2020-02-17 07:55] bskllzh commented on #2374
@erdalmercan ,  set  this parameter : mysql-connection_max_age_ms.   For example, mysql-connection_max_age_ms=120000(2 min,  mysql-connection_max_age_ms :https://github.com/sysown/proxysql/wiki/Global-variables#mysql-connection_max_age_ms )

[2020-02-17 16:19] kirs opened #2532 "Codestyle and CI"
I'd love to make it easier to contribute to ProxySQL as a project. As someone who recently worked on patches, I found couple things particularly unclear:

* Code style and warnings. There's an extensive list of warnings printed every time you `make`, which makes you wonder if it's your change that made it unhappy or if it's supposed to be that way.
* Tests and CI. It's not very clear how to run CI

[2020-02-17 17:32] altmannmarcelo commented on #2031
Implemented as part of v2.0.9

[2020-02-17 17:32] #2031 closed, assigned to nobody

[2020-02-17 17:46] altmannmarcelo opened #2533 "pxc_maint_mode is removing node immediately at shutdown."
ProxySQL 2.0.9 introduced the awareness of pxc_maint_mode. This is meant to allow for already established connections to finish its work.
PXC changes and expose this variable as follow:

* Change to SHUTDOWN - It changes the value of `pxc_maint_mode` to `SHUTDOWN` immediately and sleep for `pxc_maint_transition_period` prior to starting the shutdown.
* Change to MAINTENANCE -  It changes the value

[2020-02-18 06:09] s4sukan opened #2534 "Firewall whitelist having isssues"
Finally, we have the most awaited feature for firewall whitelisting. I'm trying to test before enabling it in production.  active flag is being set as 0 in `runtime_mysql_firewall_whitelist_rules` table even though it's loaded.

Config
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2020-02-18 06:21] renecannao commented on #2534
Verified

[2020-02-18 16:14] mensler opened #2536 "Crash in 2.0.9 when doing "LOAD MYSQL SERVERS FROM CONFIG""
**ProxySQL version:** 2.0.9-209-g60923e2
**OS:** Ubuntu 16.04

Calling `LOAD MYSQL SERVERS FROM CONFIG` in admin module causes ProxySQL to crash:

[code]

The error log shows the following lines:

[code]

Please find attached the config, full error log, binary and core dump:
[proxysql_load_from_config_crash.zip](https://github.com/sysown/proxysql/files/4220207/proxysql_load_from_config_crash.zip)

[2020-02-18 19:16] xo4yecTb commented on #2536
Same problem on Debian Stretch distrib after upgrade proxysql to **2.0.9**:
[code]
error.log
[code]

[2020-02-19 05:56] sapisuper opened #2537 "Syntax ERROR in MariaDB server"
I just install proxysql 2.0.9 in Debian 10 with 4 Node MariaDB 10.3 galera.

And this error happen LOL.
[code]

![2020-02-19 at 12 50](https://user-images.githubusercontent.com/29417574/74805919-2fd40a00-5317-11ea-992b-492d752d848b.jpg)

this error make all of node treat as offline. Down bro hahaha :((

Please fix that error syntax, MariaDB galera use proxysql too not only Percona XtraDB hahaha.

[2020-02-19 06:04] renecannao commented on #2537
@val214 , there is a syntax error here:
https://github.com/sysown/proxysql/blob/v2.0.10/lib/MySQL_Monitor.cpp#L1592

[2020-02-19 06:05] renecannao commented on #2536
Assigning to @val214

Thank you for the report

[2020-02-19 07:26] KangShanR commented on #2265
正在 Ping github.com [192.30.253.112] 具有 32 字节的数据:
请求超时。
请求超时。
请求超时。
请求超时。

192.30.253.112 的 Ping 统计信息:
    数据包: 已发送 = 4，已接收 = 0，丢失 = 4 (100% 丢失)，

[2020-02-19 09:38] gondaz commented on #2537
Got the same problem as well as a downtime period for my services :( reverted back to 2.0.8 and wait for a fix

[2020-02-19 09:58] debashismallick commented on #1986
I need one help .. Here is my issue for mysql 8 DB user through proxy sql.

Frequent Access denied coming for database user connecting through proxysql .

Here is my  environment :
Azure ubunti 18.4 instancce with three mysql 8.018 version of mtaster slave
     xxx.xxx.xxx.73 (mysql slave)
     xxx.xxx.xxx.75 (mysql master )
     xxx.xxx.xxx.79 (mysql slave)
 Proxy sql version is
proxysql --versio

[2020-02-19 10:46] pkatiushyn opened #2540 "Crash with SSL and heavy load on backend server"
ProxySQL crashes if backend connections are using SSL and backend MySQL DB is heavily loaded (CPU bound). If SSL is disabled, the crash does not happen.
We have got this error in production.
Below are the steps to reproduce on test environment:
1. Set `mysql_servers.use_ssl=1` (all other settings are default)
1. Run sysbench with big number of threads (probably from remote server). For example, I

[2020-02-19 12:15] renecannao commented on #2540
Hi Pavel, thank you for the report.
@pondix or @val214 : can you please try to reproduce it?

[2020-02-19 12:27] sapisuper commented on #2537
@gondaz please be patient bro, proxysql team will do the best for this issue. 👍🏼👍🏼

Fix version 2.0.10 #2539

[2020-02-19 14:05] kirs commented on #2532
I just realized there's some work in https://github.com/sysown/proxysql/pull/1969 done already, thoughts on getting some parts of it (whether on Travis CI or GitHub Actions) merged to make the life better for external contributors?

[2020-02-19 14:06] debashismallick opened #2541 "DB connection type is uncerertain for mysql 8 DB user through proxySQL"
I am facing a strange issue , not sure where is my error . while connecting mysql db user some time it connect and sometime it failed with access denied for same user password ..  Here is my configuration.
Here is my  environment :
Azure ubuntu 18.4 instance with three mysql 8.018 version of mtaster slave
     xxx.xxx.xxx.73 (mysql slave)
     xxx.xxx.xxx.75 (mysql master )
     xxx.xxx.xxx.79 (my

[2020-02-19 14:17] renecannao commented on #2541
What is the exact error you receive?
It should distinguish between a backend error or a proxysql error.
Also, please share error log

[2020-02-19 14:28] pondix commented on #2540
on it

[2020-02-19 15:25] pondix commented on #2540
I couldn't reproduce the crash in version 2.0.9 - this version is not affected by the issue (at least in the tests performed).

I can confirm the issue exists in 2.0.8:

[code]

[2020-02-19 15:26] pondix commented on #2540
@pkatiushyn can you please try with 2.0.9?

[2020-02-19 16:49] halindrome commented on #698
We actually have the same issue because we create new databases for CI and for new customers all the time.  We can bypass the proxy but that feels like a hack.  There should be a way to select a database.

[2020-02-20 04:21] #2537 closed, assigned to alpes214

[2020-02-20 04:31] renecannao commented on #2513
This is fixed in 2.0.9

Thank you for the report

[2020-02-20 04:31] #2513 closed, assigned to nobody

[2020-02-20 04:31] #2502 closed, assigned to alpes214

[2020-02-20 04:32] renecannao commented on #2503
@davey : a faulty backend is brought back online as soon as healthy again

[2020-02-20 04:32] #2503 closed, assigned to alpes214

[2020-02-20 04:32] #2504 closed, assigned to alpes214

[2020-02-20 04:35] renecannao commented on #2491
Hi @1399689727 .
Do you have a core dump?

[2020-02-20 04:46] renecannao commented on #2393
Fixed in 2.0.9 . Closing

[2020-02-20 04:46] #2393 closed, assigned to nobody

[2020-02-20 04:48] renecannao commented on #2328
Closing this

[2020-02-20 04:48] #2328 closed, assigned to nobody

[2020-02-20 04:52] renecannao commented on #2325
Updated the [wiki](https://github.com/sysown/proxysql/wiki/FAQ#in-proxysql-clusterwhy-mysql_users-synchronization-will-generate-two-records)

[2020-02-20 04:52] #2325 closed, assigned to nobody

[2020-02-20 04:54] renecannao commented on #2301
1.4.16 was released again in January 2020.
Closing now.

[2020-02-20 04:54] #2301 closed, assigned to nobody

[2020-02-20 05:18] renecannao opened #2543 "Admin and C# driver"
C# driver seems to send these 2 queries that ProxySQL Admin can't handle:

1.
[code]

2.
[code]

[2020-02-20 05:25] renecannao commented on #2536
Solved in 2.0.10

[2020-02-20 05:25] #2536 closed, assigned to alpes214

[2020-02-20 06:10] s4sukan opened #2544 "Segfault in MySQL_Thread::process_all_sessions [Core Attached]"
ProxySQL version : 2.0.4-116-g7d371cf_DEBUG
OS : Ubuntu 16.04.6

ProxySQL is crashing frequently [10 times/day]
[CoreDump.gz](https://github.com/sysown/proxysql/files/4229071/CoreDump.gz)
, signal 11
[code]

[code]

[2020-02-20 07:34] renecannao commented on #2544
[code]
`0x5a5a5a5a5a5a5a5a` pattern is specific from jemalloc that in the debug build.

Would you be available to run it under valgrind to identify what causes it?
Also, is there anything else relevant in the error log?

[2020-02-20 08:24] s4sukan commented on #2544
Do you want it to turn on this?

`/path/to/gdb /usr/bin/proxysql target remote | /usr/lib/valgrind/../../bin/vgdb --pid=<<mypid>>`

[2020-02-20 08:30] renecannao commented on #2544
I never used it this way.
But:
[code]

[2020-02-20 10:07] pkatiushyn commented on #2540
Thank you, Nick, for looking into it.
I've tested 2.0.9. It didn't crash this time, but sysbench failed with numerous errors like:
[code]
PS: Probably you'll need to add threads to sysbench and adjust `mysql_servers.max_connections` or cancel and restart sysbench several times.

On proxy side, I've noticed stalls for a few seconds and numerous errors in the error log:
[code]

2.0.9 really looks mo

[2020-02-20 10:27] themightystephen commented on #2393
Excellent, thank you!

[2020-02-20 13:15] michaeldg opened #2546 "No online Galera nodes after upgrading to 2.0.9"
We are running the newest MariaDB 10.3 and the newest ProxySQL 2.0. It seams that it stopped working from 2.0.8 to 2.0.9.

In the runtime_mysql_servers I see that all nodes are in the offline hostgroup (9). In the log I see these lines repeating all the time:
[code]

I think there might be a bug in the newest version.

The configuration used is:
[code]

[2020-02-20 13:45] renecannao commented on #2546
Thank you for the report.
This seems a duplicate of #2537 .

[2020-02-20 13:45] #2546 closed, assigned to nobody

[2020-02-20 14:25] michaeldg commented on #2537
When are you releasing 2.0.10?

[2020-02-20 21:19] voipmonitor opened #2547 "Please report a bug for future enhancements:SET GLOBAL innodb_stats_on_metadata=0"
proxysql_2.0.8-debian9_amd64.deb

SET GLOBAL innodb_stats_on_metadata=0

results in

2020-02-20 22:14:05 MySQL_Session.cpp:7033:unable_to_parse_set_statement(): [WARNING] Unable to parse unknown SET query from client 127.0.0.1:34942. Setting lock_hostgroup. Please report a bug for future enhancements:SET GLOBAL innodb_stats_on_metadata=0

Server version: 10.2.22-MariaDB-10.2.22+maria~stretch maria

[2020-02-20 22:30] gtowey opened #2548 "Proxysql file descriptor limit exhausted causes degraded state"
This is the place for paid support and community users to report a **reproducible bug** in ProxySQL, suggest enhancements or make feature requests. This also includes documentation errors and/or missing documentation.

* Remember, this is the place for fixing and improving ProxySQL rather than the place to get free support.
* If you do not have a paid support contract please try https://groups.goo

[2020-02-21 00:43] renecannao commented on #2548
Hi. If you compress the file, it is likely to be small and you can upload it here.
I hope to see something relevant in the log.
Thanks

[2020-02-21 07:22] s4sukan commented on #2544
Sure, I'm trying to understand the crash pattern and timing. Will enable this.

Additionally, I have a passive server for ProxySQL which I put traffic today, its crashed with segment fault.  I'm attaching the coredumps here, just have a look if both the issues are similar. Meanwhile I will come with valgrind logs post next crash.

Thanks
[CoreDump_passive.gz](https://github.com/sysown/proxysql/fil

[2020-02-21 07:25] nasamitnick opened #2550 "set admin-web_enabled=true,use web Error"
os version：rel7.5
proxysql：2.0.9
problem：set admin-web_enabled=true  and Using browser to visit 6080 port，The following error occurred

**ERROR: received handshake message out of context**

[2020-02-21 07:30] renecannao commented on #2550
Use https

[2020-02-21 13:25] voipmonitor opened #2551 "2.0.9 changed to use pxc_maint_mode for galera which makes mariadb incompatible"
I was using 2.0.8 with native galera support + mariadb 10.2.22 - upgrading to 2.0.9 which introduced the pxc_maint_mode the galera support is broken - it makes all hosts shunned because of SQL error using pxc_maint_mode sql. Solution might be detecting presence of this parameter or at least to be able to disable it in configuration (disable pxc_maint_mode).

[2020-02-21 13:29] renecannao commented on #2551
Thank you for the report.
This is a duplicate of #2546 , that is a duplicate of #2537 .
This is fixed in 2.0.10 , that we plan to release soon, since it seems affecting many users.
Closing

[2020-02-21 13:29] #2551 closed, assigned to nobody

[2020-02-21 15:22] bounav commented on #1845
Had a similar issue where I'd messed up in my `.sql` config file:

My proxy sql config script was doing `LOAD MYSQL RULES TO RUNTIME;` directly after inserting users instead of `LOAD MYSQL USERS TO RUNTIME;` !!

[2020-02-22 11:02] slowtech opened #2552 "ProxySQL Crash during Mirroring test"
Environment
[code]

Config Info
[code]

<br>

**Here is the step**

[code]

<br>

**Here is the log output**

[code]

<br>

**In fact,  ProxySQL-2.0.8(proxysql-2.0.8-1-centos7.x86_64.rpm) reproduce the same issue.**

[2020-02-22 12:35] renecannao commented on #2552
Verified, and fixed in https://github.com/sysown/proxysql/pull/2553 .

Thank you for the report

[2020-02-23 04:22] renecannao commented on #2550
Closing. Please use https

[2020-02-23 04:22] #2550 closed, assigned to nobody

[2020-02-24 03:16] 1399689727 commented on #2491
After upgrade to 2.0.9, this problem has been solved.  Thank you!

[2020-02-24 03:19] 1399689727 commented on #2491
Do you still need a core dump file? If needed I will upload.

[2020-02-24 03:27] renecannao commented on #2491
If you have a core dump, yes, it will be great to still have a look at it.
Although 2.0.9 seems to have fixed the problem, identify what fixed the problem is useful.
Thanks

[2020-02-24 04:09] 1399689727 commented on #2491
[core.zip](https://github.com/sysown/proxysql/files/4243075/core.zip)
please have a look

[2020-02-24 09:40] baurmatt opened #2555 "Release 2.0.10 as debian package"
Hey,

the 2.0.9 release included a bug which makes ProxySQL fail on config load. See #2536. This got fixed in #2538 and release with 2.0.10. But 2.0.10 was never released as a debian package. Could you please do so? :)

Thanks in advance! :)

Regards,
Matthias

[2020-02-24 09:45] renecannao commented on #2555
Hi @baurmatt .
2.0.10 isn't released yet, but very soon!

[2020-02-24 10:46] baurmatt commented on #2555
@renecannao You mean the debian package, right? Because the release page already shows a 2.0.10 release --> https://github.com/sysown/proxysql/releases/tag/2.0.10

[2020-02-24 10:54] renecannao commented on #2555
Tag 2.0.10 defines the beginning of branch v2.0.10 .
When version 2.0.10 will be released, it will have tag v2.0.10 .
Example: https://github.com/sysown/proxysql/releases/tag/v2.0.9

[2020-02-24 10:56] baurmatt commented on #2555
That's an interesting release strategy. Thank you for explaining!

[2020-02-24 22:39] nvtkaszpir commented on #2497
Unfortunately it looks like a duplicate:
- https://aws.amazon.com/about-aws/whats-new/2013/07/30/elastic-load-balancing-now-supports-proxy-protocol/ (yeah it's ancient post but still valid)
- https://docs.aws.amazon.com/elasticloadbalancing/latest/classic/enable-proxy-protocol.html (EC2 ELB Classic)
- https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-target-groups.html#

[2020-02-24 23:14] gtowey commented on #2548
@renecannao Thanks for the response!  Here's the log: [redacted.log.gz](https://github.com/sysown/proxysql/files/4247299/redacted.log.gz)

[2020-02-25 00:13] renecannao commented on #2548
Some interesting outputs:
[code]
[code]
[code]
To summarize the above:
* proxysql was up for ~12.5 hours, no problem
* at 13:14:28 a lot (over 65k errors) of connection timeout errors started, and they lasted till 13:15:05 (37 seconds)
* connection timeout are all on `127.0.0.1:3306`
* at 13:16:56 , SQLite started erroring, returning `unable to open database file` . That is actually a filesystem e

[2020-02-25 03:06] s4sukan commented on #2544
Enabled valgrind. Faced terrible slowness, so I've restarted and removed them.

Attached the logs, not sure if that helps.
[valgrind.txt](https://github.com/sysown/proxysql/files/4247890/valgrind.txt)

[2020-02-25 09:49] michaeldg opened #2558 "Feature request: Different weight for Galera hostgroup's writers and readers"
Hi,

Currently there is no way to combine specifying which node is the writer with a different weight for reading. Imagine that we want the write node to participate in reads, but have a lower weight in this. For example we want the write node to receive 25% of the reads, so that in case of a switchover the node does not get overloaded with read requests.

If we decrease desired master's weight it

[2020-02-25 13:02] nvtkaszpir opened #2560 "Proxysql not reacting properly to signals sent in docker"
**Issue faced:**
Proxysql in container is not reacting properly on sent signals such as sigterm. This means the process is forcibly killed inside container after certain timeout.
This is especially noticeable in kubernetes clusters.

**Versions:**
proxysql version: docker image `proxysql/proxysql:2.0.5`
docker version: Docker version 19.03.6, build 369ce74a3c

**Steps to reproduce:**

[code]
In an

[2020-02-25 13:03] renecannao commented on #2534
Closing as fixed in 2.0.10

[2020-02-25 13:03] renecannao commented on #2552
Closing as fixed in 2.0.10

[2020-02-25 13:03] #2552 closed, assigned to nobody

[2020-02-25 13:03] renecannao commented on #2533
Fixed in 2.0.10

[2020-02-25 13:03] #2533 closed, assigned to nobody

[2020-02-25 14:10] fila43 opened #2561 "Proxysql 2.0.10 requires python2.x"
Hi,
I tried to build proxysql 2.0.10 and I found new dependency (libinjection) which requires python2.x for build. It could be problem because Fedora 32 and later doesn't support python2, are you able to port libinjection to python3 ?

Here is patch if it helps:
https://fjanus.fedorapeople.org/libinjection_python_port.patch

Thanks Filip

[2020-02-25 15:54] slowtech commented on #2555
When exactly, i can't wait to test the mirroring and whitelist.

[2020-02-25 18:30] gtowey commented on #2548
Thanks for the feedback & analysis.  It does make sense that there could have been some limit reached in the number of file descriptors.

We do already configure the process to allow more than the default number of files:
[code]
Still, if this situation happens again I'll definitely check the number of open file descriptors that the process is using to see if it's hit the limit.

Our proxysql.cnf

[2020-02-25 18:47] gtowey commented on #2548
Ah, another appearance of this issue showed that our `LimitNOFILE` was being set to 64k which was indeed running into limits when we greater than the expected number of connections.  We're properly setting the fd limit and that should solve the issue.

[2020-02-25 18:47] #2548 closed, assigned to nobody

[2020-02-26 05:25] alpes214 commented on #2529
@altmannmarcelo The thread_id is added to the query execution error messages only.

[2020-02-26 05:42] renecannao commented on #2529
Closing.
Thank you @val214

[2020-02-26 05:42] #2529 closed, assigned to nobody

[2020-02-26 06:28] kuberxy commented on #2462
@renecannao  Oh, so sorry. This is our company's environment.
\-----------env------------------------------------------------------
mysql-connector-java        to       proxyql       to       mysql
\---------------------------------------------------------------------
I found a very strange problem:
everything is ok when I restart proxysql，but  after running for a long time the above issue appear.

[2020-02-26 06:31] kuberxy commented on #2462
INSERT INTO test_db.article (title) VALUES ('😄');

[2020-02-26 06:32] kuberxy commented on #2462
`INSERT INTO test_db.article (title) VALUES ('😄');`

[2020-02-26 08:42] baurmatt commented on #2555
2.0.15 got released last night -> Closing.

[2020-02-26 08:42] #2555 closed, assigned to nobody

[2020-02-26 08:48] phoenix1337 opened #2564 "Packet out of order when fetching connection_id using binary protocol"
I am currently using PHP in combination with PDO and turned emulate prepares off so PHP uses the binary protocol to prepare statements server side.

When I execute a `SELECT CONNECTION_ID()`, the PDO driver is returing the following warnings:

* `PHP Warning:  Wrong COM_STMT_PREPARE response size. Received 1 in ...`
* `Warning: Wrong COM_STMT_PREPARE response size. Received 1 in ...`

It does not

[2020-02-26 08:54] renecannao commented on #2564
hi @phoenix1337 .
Your analysis seems correct.
What do you need the `CONNECTION_ID` for ?
Because of multiplexing, knowing the backend connection id is probably of no use.

We can fix this bug, but I want to understand if the call itself makes any sense.
Thanks

[2020-02-26 09:02] alpes214 commented on #2526
@smg-davidchin new field `mysql_thread_id` is added to event log message. It is equal to the query id in the proxysql error log message `KILL QUERY`

[2020-02-26 09:08] phoenix1337 commented on #2564
Hi @renecannao

I am currently using the `CONNECTION_ID` for logging and analysis when debugging some errors.

I understand it is of no use to receive the `CONNECTION_ID` from the backend to proxysql because of multiplexing.

When i execute the query with emulate prepares turned on, I receive the connection_id from the client to proxysql if I am correct? I would expect that I receive the exect sam

[2020-02-26 09:23] renecannao commented on #2564
Absolutely correct.

The request makes sense, and needs to be fixed.
It probably affects a lot of special queries.

We have 2 possible ways to solve this:
a) never prepare this statement (and similar) and completely emulate prepare/execute/execute
b) prepare this statement (to get metadata from backend), but never execute (forging a resultset)

I think option B is easier, yet not immediate for per

[2020-02-26 09:37] alpes214 commented on #2523
Verified.

Issue is reproduced with the following connection string:
[code]

The error returned by application:
[code]

proxysql error log
[code]

Application connects to proxysql successfully when `'sessionVariables=net_write_timeout=7200'`is removed from connection string.

[2020-02-26 09:52] phoenix1337 commented on #2564
I think option A is the best option because of the performance gain like you say, but if we don't use proxysql, the query is also send to the back-end so I don't think B is a bad way to implement it.

For now we can work around this issue by disabling the query that is fetching the `CONNECTION_ID`. So if you want to implement A and need more time for that, it's fine with me.

You are saying it pro

[2020-02-26 10:50] tanguy-opendsi commented on #2558
hi @michaeldg I got the same request I tried this :

INSERT INTO mysql_galera_hostgroups (writer_hostgroup, backup_writer_hostgroup, reader_hostgroup, offline_hostgroup, active, max_writers, writer_is_also_reader, max_transactions_behind) VALUES (2, 4, 3, 1, 1, 1, 1, 100);
that mean
writer is  2
backup is 4
reader is 3

Server list  :
INSERT INTO mysql_servers(hostgroup_id, hostname, port, weight,

[2020-02-26 10:59] michaeldg commented on #2558
@tanguy-opendsi - you can work around this (each node will get approximately equal weights) by settings the weights to 10000, 10001, 10002, 10003. The node with weight 10003 will become the master.

Please note that this is not a work-around for the feature I am requesting: I want the write node to participant in reads, but only 25% or 50% of weight compared to the other nodes.

[2020-02-26 11:36] tanguy-opendsi commented on #2558
@michaeldg thx for your help and it's work !!!
I hope proxysql will include your request
best regards

[2020-02-26 12:14] gioamato commented on #2428
@mtgerb can you post the query rule, please?

[2020-02-27 03:59] JohnMasen opened #2566 "total connection max exceed max_connection under high stress"
recently I'm involved a stress test which uses proxySQL as a connection pool. however we found the the server connection may exceeds max_connections under heavy stress. after dig into the source code, I think I may found the root cause.

MySQL_Thread.cpp
this code sets the max_connnections_reached to true.
`__sync_add_and_fetch(&MyHGM->status.client_connections_created,1);
		if (__sync_add_and_fet

[2020-02-27 04:29] smg-davidchin commented on #2526
Great!

[2020-02-27 07:36] renecannao commented on #2566
Hi @JohnMasen .

It is not clear what you are describing.
You are reporting backend connections exceeding max_connections (mysqld's `max_connections` , or proxysql's `mysql_servers.max_connections` ?) , but you are pointing to code related to clients connecting to proxysql, not to backend.

Can you please clarify?

[2020-02-27 07:40] alpes214 commented on #2523
@ujmoser Please try a modified connection string:
[code]

[2020-02-27 08:51] JohnMasen commented on #2566
the problem is connections to backend mySQL exceeds  `mysql_servers.max_connections` . the code I list was may not be the root cause.

[2020-02-27 09:44] mtgerb commented on #2428
`        {
                rule_id=100
                active=1
                match_pattern="^SET SESSION SQL_BIG_SELECTS=1"
                multiplex=1
                apply=1
        }`

[2020-02-27 10:49] nigel889 opened #2568 "admin-web_enabled=true ProxySQL crashed"
ProxySQL version 2.0.10-27-g5b31997:
OS:
 cat /etc/redhat-release
CentOS Linux release 7.5.1804 (Core)

when enable web  and Visit website it,  ProxySQL crashed!

logs:

2020-02-27 18:36:35 [INFO] Received command set global admin-web_enabled='true'
2020-02-27 18:36:41 [INFO] Received command set admin-web_enabled='true'
2020-02-27 18:37:00 [INFO] Received command set global admin-web_enabled='tru

[2020-02-27 13:44] alpes214 commented on #2515
@aholtzmbw

If the log field of the subsequent rule is 0 then it cleans the log attribute of the query. If the log field of the subsequent rule is NULL then the log attribute stays unchanged.

**v2.0.7**
**Test 1: query rule with log=NULL**
- setup
[code]
- execution
[code]
- hits
[code]
- events log contains query record as expected
[code]

**Test 2: query rule with log=0**
- setup
[code]
- execu

[2020-02-27 14:27] michaeldg opened #2569 "Non-multiplexed connections fail after unknown SET statement is found"
Hi,

I am using a galera host group. I have the write host group set to 10 and the write host group set to 20.

When an unknown SET command is executed, multiplexing is disabled for that connection:
[code]

The query rules specified:
[code]

How come the SELECT is not just executed on the connection that it is tied to?

Thanks,
Michaël

[2020-02-27 15:50] michaeldg opened #2570 "next_query_flagIN is not documented"
Hi,

I cannot find a description in the wiki for mysql_query_rules.next_query_flagIN. Can you please add that?

Thanks,
Michaël

[2020-02-27 15:55] JohnMasen commented on #2566
after another round of digging, I found the potential root cause is at
MySQL_HostGroups_Manager.cpp (ln: 2743)
`if ((conns_used > conns_free) && (mysrvc->max_connections > (conns_free/2 + conns_used/2)) ) {
						conn = new MySQL_Connection();
						conn->parent=mysrvc;
						__sync_fetch_and_add(&MyHGM->status.server_connections_created, 1);`

although adding to the the server_connections_created

[2020-02-27 16:12] michaeldg commented on #2519
proxy_addr and proxy_port are the address and port of the proxy's bind address where the query is incoming:
https://github.com/sysown/proxysql/wiki/Main-(runtime)#mysql_query_rules

I agree that OK_msg could use some clarification/examples; I suppose you can specify a query result there that is returned, but how do you specify the column names, multiple rows or not, etc?

[2020-02-27 17:26] michaeldg commented on #2522
I think you are reporting two separate issues here. I have duplicated one of your issues in #2569 - perhaps you can clarify your other issue here and make them separate?

[2020-02-27 18:01] alpes214 commented on #2568
@nigel889 I was not able to reproduce crash with centos7.5.1804 docker image and `proxysql-2.0.10-1-centos7.x86_64.rpm`. Can you please provide more details about:
- configuration settings;
- how did you send HTTP request to the server;
- if there is a core dump, please attach it too;

[2020-02-27 23:09] ernstae commented on #2414
This was fixed in v2.0.9 and validated.
Thank you for the fix @val214

[2020-02-27 23:09] #2414 closed, assigned to nobody

[2020-02-28 02:04] nigel889 commented on #2568
1,had a basic configuration settings, include :
mysql_replication_hostgroups
mysql_servers
mysql_users;
mysql_query_rules;

and
mysql-monitor_username
it work fine;
 but if admin-web_enabled =true  , start port 6080  , send HTTP request to the server port 6080, ProxySQL crashed.
2,how did you send HTTP request to the server;  yes

[2020-02-28 05:21] nigel889 commented on #2568
@val214

1,had a basic configuration settings, include :
mysql_replication_hostgroups
mysql_servers
mysql_users;
mysql_query_rules;

and
mysql-monitor_username
it work fine;
but if admin-web_enabled =true , start port 6080 , send HTTP request to the server port 6080, ProxySQL crashed.
2,how did you send HTTP request to the server; yes

3,
[core.zip](https://github.com/sysown/proxysql/files/4265345

[2020-02-28 07:28] alpes214 commented on #2528
@ethaniel can you please provide additional information:
- version of the mysql client
- versions of the mysql servers
- do servers use group replication in their setup
- charset of the table `sms_data`.`sms_202001`
[code]
- reproduce error with the following query using @@hostname:
[code]

[2020-02-28 09:34] nigel889 opened #2572 "mysql-autocommit_false_is_transaction=true not work"
ProxySQL version 2.0.10-27-g5b31997

If mysql-autocommit_false_is_transaction=true (false by default),
a connection with autocommit=0 is treated as a transaction.
If forward_autocommit=true (false by default), the same behavior applies.

 Spring Boot 1.5.2  not word!!

[2020-02-28 10:01] renecannao commented on #2572
I just updated the wiki to to specify that this apply to **backend** connection.
It should work as described

[2020-02-28 11:12] pipozzz commented on #2497
No, I need to use source IP in proxysql firewall whitelisting feature and have more granular option to whitelist certain mysql user from certain IP/subnet to run queries and this proxysql is behind ELB.

[2020-02-28 11:28] alpes214 commented on #2568
Thank you @nigel889 for core dump. It helps to understand that the issue is related to gnutls.
[code]

It is still not clear how do you do a request:
- Which browser do you use to access web interface?
- Which url do you use to request web interface?

[2020-02-28 11:41] alpes214 commented on #2568
@nigel889 and one more thing, please provide this information from the host where proxysql is installed

[code]

[2020-02-29 02:40] shawn0915 opened #2574 "can't save server_capabilities, when set it higher than 65535."
Version: ProxySQL 2.0.8
Question: How can I save `server_capabilities` rightly, when this value higher than 65535.
after v2.0.0, the variable `server_capabilities` add new option, CLIENT_PLUGIN_AUTH,
https://github.com/sysown/proxysql/blob/2.0.10/lib/MySQL_Thread.cpp#L602
but looks like max value not extend,  at least according to wikis
https://github.com/sysown/proxysql/wiki/Global-variables#mysq

[2020-02-29 03:00] shawn0915 opened #2575 "small format error in the Wiki"
hi,
There's some small format error in the wiki page,
Will it be corrected?

1. can't find these var in wiki
aurora_max_lag_ms_only_read_from_replicas
mysql-handle_unknown_charset
mysql-log_unhealthy_connections

2. display format not right, miss link
mysql-client_session_track_gtid
mysql-have_compress

Thank you.

[2020-02-29 23:07] pvdputte opened #2576 "IPv6 regression/crash since 2.0.9"
Until 2.0.8 I could make proxysql serve requests on an IPv6 port by adding e.g. this to the mysql_variables - interfaces line:

[code]

Since 2.0.9 it makes proxysql fail to start:

[code]

(this is after removing /var/lib/proxysql/* to be sure).

Purging 2.0.9 and putting 2.0.8 back makes it work fine again.

This is on a freshly installed Debian 10 'buster' with
https://github.com/sysown/proxysq

[2020-03-01 10:26] nigel889 commented on #2391
I have same issuse!

[2020-03-01 12:30] slowtech commented on #2519
Thanks for your reply for the explanation of proxy_addr. Indeed, OK_msg  is not easy to understand like a specific result set

[2020-03-01 12:36] slowtech commented on #2522
they are two of the conditions where multiplexing is disabled

[2020-03-02 02:05] nigel889 commented on #2568
@val214
![Uploading image.png…]()

[2020-03-02 02:23] beebol opened #2577 "proxysql core dump"
If you are submitting a reproducible bug report, please provide:
[ ] A clear description of your issue
proxysql core dump
[ ] The version of OS and ProxySQL
os:Linux 4.14.114-105.126.amzn2.x86_64
ProxySQL: ProxySQL version 1.4.15-1-g61bc777, codename Truls
[proxysql.tar.gz](https://github.com/sysown/proxysql/files/4272966/proxysql.tar.gz)

[ ] Every step to reproduce the issue

[ ] The FULL error

[2020-03-02 02:55] nigel889 commented on #2568
Ãû³Æ    £ºgnutls
¼Ü¹¹    £ºx86_64
°æ±¾    £º3.3.29
·¢²¼    £º9.el7_6
´óÐ¡    £º2.0 M
Ô´    £ºinstalled
À´×ÔÔ´£ºbase
¼ò½é    £º A TLS protocol implementation
ÍøÖ·    £ºhttp://www.gnutls.org/
Ð­Òé    £º GPLv3+ and LGPLv2+
ÃèÊö    £º GnuTLS is a secure communications library implementing the SSL, TLS and DTLS
         : protocols and technologies around them. It provides a simple C language

[2020-03-02 03:36] DBA-Ray opened #2578 "The status in runtime_mysql_servers often change to OFFLINE_HARD by itsself without any servers is offline"
Environment

CentOS Linux release 7.5.1804 (Core)

Linux proxysql1 3.10.0-862.el7.x86_64 #1 SMP Fri Apr 20 16:44:24 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

MySQL：8.0.19

ProxySQL：proxysql-2.0.9-1-centos7.x86_64.rpm

Runtime info

mysql> select * from runtime_mysql_servers;select * from stats_mysql_connection_pool;
+--------------+------------+------+-----------+--------------+--------+-----------

[2020-03-02 07:15] nigel889 commented on #2572
mysql-forward_autocommit = true
it  in ProxySQL version 2.0.10-27-g5b31997，not work ，but in ProxySQL version 1.4.16-23-gf954ef3，work fine！

[2020-03-02 07:55] arnoldlee128 opened #2579 "Questions about using show dabtase timeout"
OS：CentOS Linux release 7.6.1810
proxysql version: proxysql-2.0.9-1
description：
When I use proxysql and MySQL group replication to achieve read-write separation, the error is returned when executing show database: Max connect timeout reached while reaching hostgroup 0 after 11152ms, I remember that in the early proxySQL there would be no such problem. I need to add extra routes.

[2020-03-02 09:11] ujmoser commented on #2523
@val214 Thank for your support. The modified connection string works.

[2020-03-02 09:11] #2523 closed, assigned to nobody

[2020-03-02 10:40] rameshvs02 opened #2580 "ProxySQL-2 cannot connect to PXC using the user with a caching_sha2_password plugin."
ProxySQL-2 cannot connect to PXC using the user with a caching_sha2_password plugin. Is there any additional configuration to support the caching_sha2_password plugin?

[code]

[2020-03-02 11:36] michaeldg commented on #2522
Two different issues:

Issue 1: Multiplexing is disabled on user-defined session variables (set @name='slowtech';), but SELECT query is still routed to backend for which access is denied,
Issue 2: Multiplexing is NOT disabled on temporary table creation, as the SELECT from that table is still routes to the other node (where the table does not exist).

As said, I have reported issue 1 in #2569.

[2020-03-02 12:43] sneils opened #2581 "Setting mysql-commands_stats="false" disables stats_mysql_query_digest"
See title.

If this is intended behavior, please mention it in the documentation. It took me while to track down why proxysql stopped populating the `stats_mysql_query_digest` table. I was expecting this to only disable logs in the `stats_mysql_commands_counters`.

OS: Ubuntu 18.04.3 LTS
ProxySQL version: 2.0.5-37-gc8e32eed

How to reproduce
[code]

Let me know if you need more info.

[2020-03-02 13:40] slowtech commented on #2522
If CREATE TEMPORARY TABLE is executed, multiplexing is disabled and is never enabled again on the connection.

https://github.com/sysown/proxysql/wiki/Multiplexing

[2020-03-02 14:11] michaeldg commented on #2522
Yes, therefore the next query should not be executed on a different connection.

[2020-03-02 14:19] michaeldg commented on #2522
@renecannao can you elaborate on how multiplexing works?

In my opinion, if multiplexing gets disabled on a certain connection (for example due to starting a transaction or creating a temporary table), that client should be tied to that server connection, the client should in no case be moved to a different server connection as it would loose the transaction or temporary table in the process.

[2020-03-02 16:23] segedunum commented on #2569
I am having a similar issue on multiple set commands for variables, such as SET @VARIABLE = 0, and SET @VARIABLE2 = '90'. Error messages are different in both cases:

`MySQL_Session.cpp:7204:unable_to_parse_set_statement(): [WARNING] Unable to parse unknown SET query from client 127.0.0.1:38050. Setting lock_hostgroup. Please report a bug for future enhancements:SET @variable = '90'`

and

`MySQL_

[2020-03-03 09:01] mysqlandy opened #2583 "Proxysql 2.0.8 failover MGR|mysql replication failed"
Hello, I have a question! How can I avoid the following ?

Proxysql only changes the status value of the cluster node, regardless of whether the write node of the cluster group is closed or the read node is closed.

However, the hostgroup_id attribute does not update the read and write status as the status of the MGR cluster.

When the mysql group replication recovery fails, proxysql cannot refres

[2020-03-03 09:31] rameshvs02 opened #2584 "ProxySQL-2 is not validating pxc_maint_mode=MAINTENANCE while redirecting queries to PXC"
ProxySQL-2 is not validating pxc_maint_mode=MAINTENANCE while redirecting queries to PXC

Testcase
[code]

[2020-03-03 10:26] renecannao commented on #2584
Hi @rameshvs02 .
Can you please provide more details?
It is not clear what is your configuration, what version of proxysql you are using, what are you expecting, etc.

Thanks

[2020-03-03 10:44] rameshvs02 commented on #2584
ProxySQL version is 2.0.10
[code]
If we set pxc_maint_mode to MAINTENANCE, proxysql should not redirect any queries to that node and change node status to OFFLINE in ProxySQL runtime_mysql_servers table. Currently, the node status becomes SHUNNED in the runtime_mysql_servers table, but queries are redirecting to PXC node.
When we reset pxc_maint_mode to DISABLED the OFFLINE status should change to

[2020-03-03 10:59] renecannao commented on #2584
@val214 : can you please verify?
Thanks

[2020-03-03 11:22] vladglazachev-axcient opened #2585 "to delete"
to delete

[2020-03-03 12:54] VladimirGlazachev opened #2586 "WARNING] Unable to parse unknown SET query. Setting lock_hostgroup. Please report a bug for future enhancements:SET @ENV_PROCESS := '/someurl?xceptions=test' MySQL_Session.cpp:6929:unable_to_parse_set_statement()"
debian 10
proxysql2 2.0.7-1.2.bionic
mysql PXC - 5.6

we have a lot of errors like that:
MySQL_Session.cpp:6929:unable_to_parse_set_statement(): [WARNING] Unable to parse unknown SET query. Setting lock_hostgroup. Please report a bug for future enhancements:SET @ENV_PROCESS := '/someurl?xceptions=test' MySQL_Session.cpp:6929:unable_to_parse_set_statement(): [WARNING] Unable to parse unknown SET qu

[2020-03-04 06:41] nasamitnick commented on #2580
ProxySQL doesn't support yet caching_sha2_password.
use mysql_native_password
https://github.com/sysown/proxysql/wiki/MySQL-8.0

[2020-03-04 06:58] nasamitnick opened #2587 "unable_to_parse_set_statement，Please report a bug for future enhancements"
os version：redhat7.5
proxysql version：2.0.9

`2020-03-04 14:45:07 MySQL_Session.cpp:7195:unable_to_parse_set_statement(): [WARNING] Unable to parse unknown SET query from client 130.1.109.176:61084. Setting lock_hostgroup. Please report a bug for future enhancements:SET FOREIGN_KEY_CHECKS = 0`

[2020-03-04 07:07] rameshvs02 commented on #2580
@nasamitnick The wiki page also says.
"Both notes above are not valid anymore for recent versions of ProxySQL 2.0"
ProxySQL-2 support caching_sha2_password for monitoring user.  But the 'Access denied' issue is with application user.

[2020-03-04 14:49] imp3142 opened #2588 "Remove strdup or use own implementation"
ProxySQL uses `strdup` often, which does an implicit memory allocation. When using ProxySQL with `jemalloc` it can cause problems, as `jemalloc` will not be changing allocation for strdup.

Ideally, some kind of my_strdup should be used, which will prevent ProxySQL of crashing and hitting nondeterministic behaviour, like in my case.

[2020-03-04 14:50] fwolfsjaeger commented on #2129
ProxySQL does not allow to change the parameter group_concat_max_len for sure:

2020-03-04 15:48:41 MySQL_Session.cpp:7204:unable_to_parse_set_statement(): [WARNING] Unable to parse unknown SET query from client <ip>:<port>. Setting lock_hostgroup. Please report a bug for future enhancements:set group_concat_max_len = 1024

[2020-03-04 20:34] #2585 closed, assigned to nobody

[2020-03-05 10:29] d-rupp opened #2590 "fast_forward=1 breaks failover handling"
Issue: When using fast_forward=1 and switching the backend-master (setting the old to read only and making a new one writeable) existing connections still talk to the old master and hit a read-only error.

RHEL7.6 / Proxysql 2.x (tested 2.0.3 up to 2.0.10)

Reproduce:
1) Master-Slave replication setup
2) some form of topology management (for us: Orchestrator from github)
3) proxysql with a read ho

[2020-03-05 10:31] d-rupp commented on #2590
Forgot to add: After pt-heartbeat is cycled the OFFLINE_HARD server is removed from the hostgroup.

Also pt-heartbeat is just a simple example, our application behaves the same way.

[2020-03-05 10:36] renecannao commented on #2590
This behavior is expected when using `fast_forward=1` , no matter if 1.x or 2.x .
Are you sure 1.4 behaves differently?

[2020-03-05 10:38] renecannao commented on #2590
To be clear, when `fast_forward=1` , there is a 1-to-1 mapping between a frontend connection and a backend connection, traffic is not analyzed, routing doesn't work, and multiplexing doesn't work. By design

[2020-03-05 10:50] d-rupp commented on #2590
Yes, on 1.4 it switches the connection to the new master once it becomes available. I reproduced that yesterday to figure out why we started seeing read-only errors after the switch to 2.x last weekend.

Ok, then we have to figure out why we are getting that one error once we turn fast_forward off. The reason we turned it on was we were getting this:
[code]
Even though there was only one result ro

[2020-03-05 11:37] renecannao commented on #2590
Not 1.4 or 2.0 can switch existing connections in `fast_forward` from a server to another.

Although, what is possible is that you were experiencing something else in 1.4 , let me make some hypothesis...
You have some users using `fast_forward=1` , and other users that do not.
Because the connections from users **not** using `fast_forward=1` generate a lot of 1290 errors (read-only) proxysql will

[2020-03-05 12:26] d-rupp commented on #2590
Thanks for taking a look at this.

One thing against your hypothesis is that all this happens with only one process accessing proxysql - that is the pt-heartbeat process. Also that i was able to reproduce this with versions 2.0.3 up to 2.0.10.

About the hibernate thing - we started using proxysql 2 with 2.0.7 so i only after the behavior was changed and we still see the same thing. It´s pretty di

[2020-03-05 12:35] renecannao commented on #2590
Thank you for the output.
Yet it is not clear if `pt-heartbeat` reconnects, or if it is using the same connection (it shouldn't!!) .

@val214 : can you please reproduce it? No need for pt-heartbeat, a simple mysql client connection would work.

[2020-03-05 12:57] d-rupp commented on #2590
Running pt-heartbeat with debug log indicates that the connection is reset on the 1.4 version.

Debug Output of 1.4

[code]

Debug output of 2.0.7
[code]

[2020-03-05 13:04] renecannao commented on #2590
Thank you again for the output!
So this seems to match my second hypothesis:

[2020-03-05 14:12] hopewise commented on #2550
@renecannao so, if I use my server public IP, as http://x.x.x.x:6080/ it will not work as I get error: ERR_CONNECTION_RESET

[2020-03-05 18:52] markuman opened #2591 "aws rds use_ssl errors"
Not sure if this is related to pr #2589 for proxysql 2.0.11 and fixes my issue?

Setup:

* Proxysql 2.0.10 (Based on Debian Buster Docker Image)
* RDS t3.micro MariaDB 10.3.20
* try to use backend ssl connection

Basic configurtation. One host, one user.

[code]

everything works as expected 💪

[code]

now fetch the rds ca pem file for 2019 (valid until 2024).

[code]

now set `mysql-ssl_p2s_cert`

[2020-03-05 23:16] renecannao commented on #2580
This is probably easy to fix:
* store the password in `mysql_users` as clear text (not hashed, as hashes are only for mysql_native, `SHA1(SHA1(password))`)
* set `admin-hash_passwords=false`

We will verify that

[2020-03-06 01:49] nasamitnick opened #2592 "sometime ‘DELETE’ statement route to write_hostgroup，sometime route to reader_hostgroup"
proxysql version:   2.0.9
os version:             redhat7.5

**The configuration is as follows:**
[code]

[2020-03-06 03:19] renecannao commented on #2592
Hi.
Error log please, hopefully it will show some details

[2020-03-06 06:09] renecannao commented on #2540
PR #2589 seems to solve this instability

[2020-03-06 08:06] nasamitnick commented on #2592
sorry，No errors in log，no more details，Very  strange@renecannao

[2020-03-06 10:06] bmildren opened #2593 "Ubuntu Trusty packages missing dependency"
When installing ProxySQL 2.0.9+ on Ubuntu Trusty it looks like there's a missing dependency on the libgnutls28-dev package.

Packages affected:
proxysql_2.0.09-ubuntu14_amd64.deb
proxysql_2.0.10-ubuntu14_amd64.deb

Error on start up:
"proxysql: error while loading shared libraries: libgnutls.so.28: cannot open shared object file: No such file or directory"

Fix:
apt-get install libgnutls28-dev

[2020-03-06 12:29] shafiev commented on #2592
@renecannao can you advice a some error log related for we in future have a appropriate logs ?

[2020-03-06 14:42] d-rupp commented on #2590
I don´t know if you want to follow this up somehow or if we should close it. As i understood it´s actually "working as intended".

[2020-03-06 16:33] anantsaraswat commented on #1790
Any update on this ?

[2020-03-06 16:39] anantsaraswat commented on #1218
@renecannao I want to re-open this issue, As I can replicate the same.

[2020-03-08 14:55] hopewise opened #2594 "admin web ui is not working"
[X] A clear description of your issue

I have installed proxySQL at AWS EC2 linux 2 OS, and I have enabled `admin-web_enabled` as:

    SET admin-web_enabled='true';
    LOAD ADMIN VARIABLES TO RUNTIME;

however, I can't see a web page when I access the url of `http://x.x.x.x:6080` where x.x.x.x is my public EC2 IP address. I get error `ERR_CONNECTION_RESET`

[X] The version of OS and ProxySQL

[2020-03-09 07:28] nasamitnick commented on #2592
@renecannao  proxysql no error log,help me，Is it related to “transaction_persistent=1”?

[2020-03-09 15:11] timvaillancourt opened #2595 "ProxySQL runs under low open-file limit without warnings"
This issue is a feature request for a warning or error when ProxySQL is started with a file-descriptor limit that is lower than ProxySQL's global [max_connections](https://github.com/sysown/proxysql/wiki/Global-variables#mysql-max_connections) limit

If other known file-handles (such as SQLite threads, etc) could be included in this calculation that would be great too. The goal would be to "know"

[2020-03-09 17:07] pondix commented on #2593
Thanks for the report, a fix is planned for the next version of ProxySQL.

[2020-03-09 19:00] pondix commented on #1790
The connection is lost after 30 seconds (client side) so ProxySQL will KILL CONNECTION in order to cleanup. This definitely looks like a timeout on Workbench.

Please check your client side settings in Workbench under Edit → Preferences → SQL Editor → DBMS connection read time out (in seconds).

Also, when you connect with Workbench to the MySQL traffic port, please check your timeout settings via

[2020-03-10 01:44] renecannao opened #2596 "Track system variables using session_track_system_variables"
Although we track session variables, it is possible that some session variables are changed within a stored procedure, or applied per-session if changed globally.
If the backend is configured with [session_track_system_variables](https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_session_track_system_variables) , proxysql could potentially track session variables the easy

[2020-03-10 01:56] renecannao commented on #2595
This sounds like an interesting feature request.

This cannot happens, because settings can change at runtime, for example you could change frontend or backend `max_connections` . Or proxysql could discover a new server and automatically add it.

Yet I think it makes sense to compute potential max number of file descriptors when `MySQL_HostGroups_Manager::commit()` is called, or frontend `mysql-ma